Repository meteor/meteor, changes with the labels that .github/labeler.yml gives for each.
All labels: Project:Accounts:Password, Project:Accounts:UI, Project:CSS, Project:DDP, Project:EJSON, Project:HMR, Project:Isobuild:Minifiers, Project:Isobuild, Project:JS Environment:Typescript, Project:JS Environment, Project:Livequery, Project:Minimongo, Project:Mobile, Project:Mongo Driver, Project:NPM, Project:Release Process, Project:Tool, Project:Tool:Shell, Project:Utilities:Email, Project:Utilities:HTTP, Project:Webapp, Project:Windows, Project:Webapp:Browser Policy, Project:Examples, Project:Dynamic Import

Add DiffSequence Import to ddp-client
  packages/ddp-client/common/livedata_connection.js
  packages/ddp-server/livedata_server.js
Labels: Project:DDP

Removed const variable
  packages/diff-sequence/diff.js
Labels: none

reenamed static method internal
  packages/ddp-server/livedata_server.js
  packages/diff-sequence/diff.js
Labels: Project:DDP

Function Constructor
  packages/diff-sequence/diff.js
Labels: none

Remove return on applyChanges
  packages/diff-sequence/diff.js
Labels: none

Update babel to 7.15.3 to potentially fix d3 array error #11525
  History.md
  packages/standard-minifier-css/package.js
  packages/standard-minifier-js/package.js
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
  tools/static-assets/skel-apollo/package.json
  tools/static-assets/skel-bare/package.json
  tools/static-assets/skel-blaze/package.json
  tools/static-assets/skel-full/package.json
  tools/static-assets/skel-minimal/package.json
  tools/static-assets/skel-react/package.json
  tools/static-assets/skel-svelte/package.json
  tools/static-assets/skel-typescript/package.json
  tools/static-assets/skel-vue/package.json
  tools/tests/apps/app-config/package.json
  tools/tests/apps/app-prints-pid/package.json
  tools/tests/apps/client-refresh/package.json
  tools/tests/apps/css-injection-test/package.json
  tools/tests/apps/custom-minifier/package.json
  tools/tests/apps/dev-bundle-bin-commands/package.json
  tools/tests/apps/dynamic-import/package.json
  tools/tests/apps/git-commit-hash/package.json
  tools/tests/apps/link-config-npm-package/package.json
  tools/tests/apps/linked-external-npm-package/package.json
  tools/tests/apps/meteor-ignore/package.json
  tools/tests/apps/modules/package.json
  tools/tests/apps/package-tests/package.json
  tools/tests/apps/shell/package.json
  tools/tests/apps/standard-app/package.json
  tools/tests/apps/watch-used-files/package.json
Labels: Project:CSS, Project:Isobuild:Minifiers, Project:Release Process, Project:Tool

Dev bundle 14.17.4.4
  meteor
Labels: none

Dev bundle 14.17.4.4
  meteor
Labels: none

Published accounts-base@2.0.1
  History.md
  packages/accounts-base/package.js
Labels: none

Add changes to history
  History.md
  packages/meteor-developer-oauth/package.js
Labels: none

Remove versionsFrom account-base
  packages/accounts-base/package.js
Labels: none

Remove versionsFrom account-base
  packages/accounts-base/package.js
Labels: none

Meteor 2.4-beta.10
  packages/accounts-base/package.js
  packages/accounts-password/package.js
  packages/babel-compiler/package.js
  packages/ddp-server/package.js
  packages/ecmascript-runtime-client/package.js
  packages/ecmascript-runtime-server/package.js
  packages/ecmascript-runtime/package.js
  packages/ecmascript/package.js
  packages/email/package.js
  packages/logging/package.js
  packages/meteor-tool/package.js
  packages/meteor/package.js
  packages/minifier-css/package.js
  packages/modules/package.js
  packages/mongo/package.js
  packages/oauth/package.js
  packages/oauth1/package.js
  packages/service-configuration/package.js
  packages/standard-minifier-css/.npm/plugin/minifyStdCSS/npm-shrinkwrap.json
  packages/standard-minifier-css/package.js
  packages/standard-minifier-js/.npm/plugin/minifyStdJS/npm-shrinkwrap.json
  packages/standard-minifier-js/package.js
  packages/test-helpers/package.js
  packages/tinytest/package.js
  packages/typescript/package.js
  packages/webapp/package.js
  scripts/admin/meteor-release-experimental.json
Labels: Project:Accounts:Password, Project:CSS, Project:DDP, Project:Isobuild:Minifiers, Project:JS Environment:Typescript, Project:JS Environment, Project:Mongo Driver, Project:Release Process, Project:Tool, Project:Utilities:Email, Project:Webapp

Update Typescript to 4.3.5
  packages/babel-compiler/package.js
  packages/ecmascript/package.js
  packages/typescript/package.js
  scripts/dev-bundle-tool-package.js
Labels: Project:JS Environment:Typescript, Project:JS Environment, Project:Release Process

Fix ecmascript test
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  packages/ecmascript/transpilation-tests.js
Labels: Project:JS Environment

@meteorjs/babel@7.13.0
  package-lock.json
  package.json
Labels: none

Update versions for 2.3.5
  History.md
  packages/babel-compiler/package.js
  packages/ecmascript/package.js
  packages/typescript/package.js
  scripts/dev-bundle-tool-package.js
Labels: Project:JS Environment:Typescript, Project:JS Environment, Project:Release Process

Dev bundle 14.17.4.5
  meteor
Labels: none

Dev bundle 14.17.4.5
  meteor
Labels: none

Meteor 2.3.5-beta.0
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  packages/meteor-tool/package.js
  scripts/admin/meteor-release-experimental.json
Labels: Project:JS Environment, Project:Release Process, Project:Tool

Start on Meteor 2.2.3
  History.md
  meteor
  packages/babel-compiler/package.js
  packages/ecmascript/package.js
  packages/meteor-tool/package.js
  packages/typescript/package.js
  scripts/admin/meteor-release-experimental.json
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
Labels: Project:JS Environment:Typescript, Project:JS Environment, Project:Release Process, Project:Tool

Start on Meteor 2.2.3
  History.md
  meteor
  packages/babel-compiler/package.js
  packages/ecmascript/package.js
  packages/meteor-tool/package.js
  packages/typescript/package.js
  scripts/admin/meteor-release-experimental.json
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
Labels: Project:JS Environment:Typescript, Project:JS Environment, Project:Release Process, Project:Tool

Use @meteorjs/babel
  tools/fs/files.ts
  tools/isobuild/builder.js
  tools/isobuild/js-analyze.js
  tools/tool-env/install-babel.js
  tools/tool-env/source-map-retriever-stack.js
Labels: Project:Isobuild, Project:Tool

Remove constructor
  packages/diff-sequence/diff.js
Labels: none

Backport babel-compiler
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  packages/babel-compiler/README.md
  packages/babel-compiler/babel.js
  packages/ecmascript/transpilation-tests.js
Labels: Project:JS Environment

2.2.3-beta.1
  packages/babel-compiler/package.js
  packages/ecmascript/package.js
  packages/meteor-tool/package.js
  packages/typescript/package.js
  scripts/admin/meteor-release-experimental.json
Labels: Project:JS Environment:Typescript, Project:JS Environment, Project:Release Process, Project:Tool

Enhance email tests
  packages/email/email_tests.js
Labels: Project:Utilities:Email

Adjustments for email from PR
  packages/email/email.js
  packages/email/email_tests.js
  packages/email/package.js
  packages/modules/.npm/package/npm-shrinkwrap.json
Labels: Project:Utilities:Email

Fix email logic
  packages/email/email.js
Labels: Project:Utilities:Email

Dev bundle 12.22.5.0
  meteor
  packages/babel-compiler/package.js
  packages/ecmascript/package.js
  packages/meteor-tool/package.js
  packages/typescript/package.js
  scripts/admin/meteor-release-experimental.json
  scripts/build-dev-bundle-common.sh
Labels: Project:JS Environment:Typescript, Project:JS Environment, Project:Release Process, Project:Tool

Logic improvement in email package
  packages/email/email.js
Labels: Project:Utilities:Email

Fix references to renamed packageSettings
  source/api/email.md
Labels: none

Remove duplicate code
  packages/email/email.js
Labels: Project:Utilities:Email

Add history for #11571
  History.md
Labels: none

Clear cache in CircleCI
  .circleci/config.yml
Labels: none

Update to Node 14.17.5
  meteor
  scripts/build-dev-bundle-common.sh
Labels: Project:Release Process

Update to Node 14.17.5
  meteor
  scripts/build-dev-bundle-common.sh
Labels: Project:Release Process

Adjust history per release of 2.2.3
  History.md
Labels: none

2.2.3-rc.0
  packages/babel-compiler/package.js
  packages/ecmascript/package.js
  packages/meteor-tool/package.js
  packages/typescript/package.js
Labels: Project:JS Environment:Typescript, Project:JS Environment, Project:Tool

2.2.3-rc.1
  packages/babel-compiler/package.js
  packages/ecmascript/package.js
  packages/meteor-tool/package.js
  packages/typescript/package.js
  scripts/admin/meteor-release-experimental.json
Labels: Project:JS Environment:Typescript, Project:JS Environment, Project:Release Process, Project:Tool

.github/labeler.yml:

Project:Accounts:Password:
  - packages/accounts-password/**/*

Project:Accounts:UI:
  - packages/meteor-developer-config-ui/**/*
  - packages/github-config-ui/**/*
  - packages/google-config-ui/**/*
  - packages/twitter-config-ui/**/*
  - packages/facebook-config-ui/**/*
  - packages/accounts-ui/**/*
  - packages/accounts-ui-unstyled/**/*

Project:CSS:
  - packages/non-core/less/**/*
  - packages/minifier-css/**/*
  - packages/standard-minifier-css/**/*

Project:DDP:
  - packages/ddp-common/**/*
  - packages/ddp-rate-limiter/**/*
  - packages/ddp-server/**/*
  - packages/ddp-client/**/*
  - packages/ddp/**/*
  - packages/socket-stream-client/**/*

Project:EJSON:
  - packages/ejson/**/*

Project:HMR:
  - packages/hot-code-push/**/*
  - packages/hot-module-replacement/**/*

Project:Isobuild:Minifiers:
  - packages/minifier-css/**/*
  - packages/minifier-js/**/*
  - packages/standard-minifier-js/**/*
  - packages/standard-minifier-css/**/*
  - packages/standard-minifiers/**/*

Project:Isobuild:
  - tools/isobuild/**/*

Project:JS Environment:Typescript:
  - packages/typescript/**/*

Project:JS Environment:
  - packages/babel-compiler/**/*
  - packages/babel-runtime/**/*
  - packages/ecmascript/**/*
  - packages/ecmascript-runtime/**/*
  - packages/ecmascript-runtime-client/**/*
  - packages/ecmascript-runtime-server/**/*
  - packages/es5-shim/**/*
  - packages/jshint/**/*

Project:Livequery:
  - packages/livedata/**/*

Project:Minimongo:
  - packages/minimongo

Project:Mobile:
  - tools/cordova/**/*
  - packages/launch-screen/**/*
  - packages/mobile-experience/**/*
  - packages/mobile-status-bar/**/*

Project:Mongo Driver:
  - packages/mongo/**/*
  - packages/mongo-dev-server/**/*
  - packages/mongo-id/**/*
  - packages/mongo-livedata/**/*
  - packages/disable-oplog/**/*
  - packages/non-core/mongo-decimal/**/*

Project:NPM:
  - npm-packages/*

Project:Release Process:
  - scripts/**/*

Project:Tool:
  - tools/**/*
  - packages/meteor-tool/**/*

Project:Tool:Shell:
  - tools/console/**/*

Project:Utilities:Email:
  - packages/email/**/*

Project:Utilities:HTTP:
  - packages/deprecated/http/**/*
  - packages/fetch/**/*
  - packages/url/**/*

Project:Webapp:
  - packages/webapp/**/*
  - packages/webapp-hashing/**/*

Project:Windows:
  - scripts/windows/**/*

Project:Webapp:Browser Policy:
  - packages/browser-policy/**/*
  - packages/browser-policy-common/**/*
  - packages/browser-policy-content/**/*
  - packages/browser-policy-framing/**/*

Project:Examples:
  - tools/cli/example-repositories.js

Project:Dynamic Import:
  - packages/dynamic-import/**/*
