Repository meteor/meteor, changes with the labels that .github/labeler.yml gives for each.
All labels: Project:Accounts:Password, Project:Accounts:UI, Project:CSS, Project:DDP, Project:EJSON, Project:HMR, Project:Isobuild:Minifiers, Project:Isobuild, Project:JS Environment:Typescript, Project:JS Environment, Project:Livequery, Project:Minimongo, Project:Mobile, Project:Mongo Driver, Project:NPM, Project:Release Process, Project:Tool, Project:Tool:Shell, Project:Utilities:Email, Project:Utilities:HTTP, Project:Webapp, Project:Windows, Project:Webapp:Browser Policy, Project:Examples, Project:Dynamic Import

Add support for linux and mac os on npm meteor installer - fix windows installer
  npm-packages/meteor-installer/install.js
Labels: none

Meteor installer on linux/mac - mac adjustments
  npm-packages/meteor-installer/install.js
Labels: none

Update browser-policy code a bit
  packages/browser-policy-content/browser-policy-content.js
  packages/browser-policy-content/package.js
  packages/browser-policy-framing/browser-policy-framing.js
  packages/browser-policy-framing/package.js
Labels: Project:Webapp:Browser Policy

Add test case for error inside async publication. Also applies prettier.
  packages/ddp-server/livedata_server_async_tests.js
Labels: Project:DDP

Prettify, simplify conditionals and add sudo case for npm installer
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/install.js
Labels: none

Fixes rebase issue.
  npm-packages/meteor-installer/install.js
Labels: none

Reverse chown command order
  npm-packages/meteor-installer/install.js
Labels: none

Fix sending test metadata
  packages/ddp-client/common/livedata_connection.js
  packages/ddp-server/stream_server.js
Labels: Project:DDP

Fix sending test metadata
  packages/ddp-server/stream_server.js
Labels: Project:DDP

Bump ddp-server patch version
  packages/ddp-server/package.js
Labels: Project:DDP

Published ddp-server@2.4.1
  History.md
Labels: none

Add reify update to 2.4 highlights
  History.md
Labels: none

Fix #663
  content/accounts.md
Labels: none

Improve comment for forEach iterator in callback-hook
  packages/callback-hook/hook.js
Labels: none

Send mail if dev and MAIL_URL is set
  packages/email/email.js
Labels: Project:Utilities:Email

2.4-rc.1
  packages/accounts-base/package.js
  packages/accounts-password/package.js
  packages/callback-hook/package.js
  packages/ddp-server/package.js
  packages/ecmascript-runtime-client/package.js
  packages/ecmascript-runtime-server/package.js
  packages/ecmascript-runtime/package.js
  packages/email/package.js
  packages/logging/package.js
  packages/meteor-tool/package.js
  packages/meteor/package.js
  packages/minifier-css/package.js
  packages/minifier-js/package.js
  packages/modules/package.js
  packages/mongo/package.js
  packages/oauth/package.js
  packages/oauth1/package.js
  packages/service-configuration/package.js
  packages/standard-minifier-css/package.js
  packages/standard-minifier-js/package.js
  packages/test-helpers/package.js
  packages/tinytest/package.js
  packages/webapp/package.js
  scripts/admin/meteor-release-experimental.json
Labels: Project:Accounts:Password, Project:CSS, Project:DDP, Project:Isobuild:Minifiers, Project:JS Environment, Project:Mongo Driver, Project:Release Process, Project:Tool, Project:Utilities:Email, Project:Webapp

accounts-password use isEnroll
  History.md
  packages/accounts-password/package.js
  packages/accounts-password/password_server.js
  tools/tests/apps/custom-minifier/packages/custom-minifier/plugin/minify.js
Labels: Project:Accounts:Password, Project:Tool

.github/labeler.yml:

Project:Accounts:Password:
  - packages/accounts-password/**/*

Project:Accounts:UI:
  - packages/meteor-developer-config-ui/**/*
  - packages/github-config-ui/**/*
  - packages/google-config-ui/**/*
  - packages/twitter-config-ui/**/*
  - packages/facebook-config-ui/**/*
  - packages/accounts-ui/**/*
  - packages/accounts-ui-unstyled/**/*

Project:CSS:
  - packages/non-core/less/**/*
  - packages/minifier-css/**/*
  - packages/standard-minifier-css/**/*

Project:DDP:
  - packages/ddp-common/**/*
  - packages/ddp-rate-limiter/**/*
  - packages/ddp-server/**/*
  - packages/ddp-client/**/*
  - packages/ddp/**/*
  - packages/socket-stream-client/**/*

Project:EJSON:
  - packages/ejson/**/*

Project:HMR:
  - packages/hot-code-push/**/*
  - packages/hot-module-replacement/**/*

Project:Isobuild:Minifiers:
  - packages/minifier-css/**/*
  - packages/minifier-js/**/*
  - packages/standard-minifier-js/**/*
  - packages/standard-minifier-css/**/*
  - packages/standard-minifiers/**/*

Project:Isobuild:
  - tools/isobuild/**/*

Project:JS Environment:Typescript:
  - packages/typescript/**/*

Project:JS Environment:
  - packages/babel-compiler/**/*
  - packages/babel-runtime/**/*
  - packages/ecmascript/**/*
  - packages/ecmascript-runtime/**/*
  - packages/ecmascript-runtime-client/**/*
  - packages/ecmascript-runtime-server/**/*
  - packages/es5-shim/**/*
  - packages/jshint/**/*

Project:Livequery:
  - packages/livedata/**/*

Project:Minimongo:
  - packages/minimongo

Project:Mobile:
  - tools/cordova/**/*
  - packages/launch-screen/**/*
  - packages/mobile-experience/**/*
  - packages/mobile-status-bar/**/*

Project:Mongo Driver:
  - packages/mongo/**/*
  - packages/mongo-dev-server/**/*
  - packages/mongo-id/**/*
  - packages/mongo-livedata/**/*
  - packages/disable-oplog/**/*
  - packages/non-core/mongo-decimal/**/*

Project:NPM:
  - npm-packages/*

Project:Release Process:
  - scripts/**/*

Project:Tool:
  - tools/**/*
  - packages/meteor-tool/**/*

Project:Tool:Shell:
  - tools/console/**/*

Project:Utilities:Email:
  - packages/email/**/*

Project:Utilities:HTTP:
  - packages/deprecated/http/**/*
  - packages/fetch/**/*
  - packages/url/**/*

Project:Webapp:
  - packages/webapp/**/*
  - packages/webapp-hashing/**/*

Project:Windows:
  - scripts/windows/**/*

Project:Webapp:Browser Policy:
  - packages/browser-policy/**/*
  - packages/browser-policy-common/**/*
  - packages/browser-policy-content/**/*
  - packages/browser-policy-framing/**/*

Project:Examples:
  - tools/cli/example-repositories.js

Project:Dynamic Import:
  - packages/dynamic-import/**/*
