Repository meteor/meteor, changes with the labels that .github/labeler.yml gives for each.
All labels: Project:Accounts:Password, Project:Accounts:UI, Project:CSS, Project:DDP, Project:EJSON, Project:HMR, Project:Isobuild:Minifiers, Project:Isobuild, Project:JS Environment:Typescript, Project:JS Environment, Project:Livequery, Project:Minimongo, Project:Mobile, Project:Mongo Driver, Project:NPM, Project:Release Process, Project:Tool, Project:Tool:Shell, Project:Utilities:Email, Project:Utilities:HTTP, Project:Webapp, Project:Windows, Project:Webapp:Browser Policy, Project:Examples, Project:Dynamic Import

Object from Function
  packages/diff-sequence/diff.js
Labels: none

Rename hash map
  packages/diff-sequence/diff.js
Labels: none

Cleanup
  packages/diff-sequence/diff.js
Labels: none

User commonjs export
  tools/isobuild/compiler.js
  tools/packaging/catalog/catalog-local.js
  tools/project-context.js
Labels: Project:Isobuild, Project:Tool

2.2.3-rc.2
  packages/babel-compiler/package.js
  packages/ecmascript/package.js
  packages/meteor-tool/package.js
  packages/typescript/package.js
  scripts/admin/meteor-release-experimental.json
Labels: Project:JS Environment:Typescript, Project:JS Environment, Project:Release Process, Project:Tool

Changing the way to export NodeModulesDirectory to be like the others in the same file Importing bundler using import instead of require
  tools/isobuild/bundler.js
  tools/isobuild/compiler.js
Labels: Project:Isobuild, Project:Tool

Fixes #11583 Do not add ROOT_URLto sourceMappingURL for base64 encoded urls
  tools/isobuild/bundler.js
Labels: Project:Isobuild, Project:Tool

2.3.5-rc.0
  History.md
  packages/babel-compiler/package.js
  packages/ecmascript/package.js
  packages/meteor-tool/package.js
  packages/typescript/package.js
  scripts/admin/meteor-release-experimental.json
Labels: Project:JS Environment:Typescript, Project:JS Environment, Project:Release Process, Project:Tool

2.2.3
  History.md
  packages/babel-compiler/package.js
  packages/ecmascript/package.js
  packages/meteor-tool/package.js
  packages/typescript/package.js
  scripts/admin/meteor-release-official.json
Labels: Project:JS Environment:Typescript, Project:JS Environment, Project:Release Process, Project:Tool

Update dates in history
  History.md
Labels: none

Meteor 2.3.5
  packages/meteor-tool/package.js
  scripts/admin/meteor-release-official.json
Labels: Project:Release Process, Project:Tool

Prepare npm installer for official release
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/package.json
Labels: none

Prepare for 2.4-beta.11
  meteor
  packages/accounts-base/package.js
  packages/accounts-password/package.js
  packages/ddp-server/package.js
  packages/ecmascript-runtime-client/package.js
  packages/ecmascript-runtime-server/package.js
  packages/ecmascript-runtime/package.js
  packages/email/package.js
  packages/logging/package.js
  packages/meteor-tool/package.js
  packages/meteor/package.js
  packages/minifier-css/package.js
  packages/modules/package.js
  packages/mongo/package.js
  packages/oauth/package.js
  packages/oauth1/package.js
  packages/service-configuration/package.js
  packages/standard-minifier-css/package.js
  packages/standard-minifier-js/package.js
  packages/test-helpers/package.js
  packages/tinytest/package.js
  packages/webapp/package.js
  scripts/admin/meteor-release-experimental.json
Labels: Project:Accounts:Password, Project:CSS, Project:DDP, Project:Isobuild:Minifiers, Project:JS Environment, Project:Mongo Driver, Project:Release Process, Project:Tool, Project:Utilities:Email, Project:Webapp

Revert "Remove babel-compiler dependency in minifier-js"
  packages/minifier-js/package.js
Labels: Project:Isobuild:Minifiers

Revert "Revert "Remove babel-compiler dependency in minifier-js""
  packages/minifier-js/package.js
Labels: Project:Isobuild:Minifiers

Reset cache for Group 2 Circle CI
  .circleci/config.yml
Labels: none

Fix missing Babel dependency
  packages/minifier-js/package.js
  packages/standard-minifier-js/plugin/stats.js
Labels: Project:Isobuild:Minifiers

Fix typo and update Travis node version
  .travis.yml
  History.md
  packages/standard-minifier-js/plugin/stats.js
Labels: Project:Isobuild:Minifiers

callback-hook add forEach iterator to follow the JS standard
  packages/callback-hook/hook.js
  packages/callback-hook/hook_tests.js
Labels: none

Fix import error
  packages/standard-minifier-js/.npm/plugin/minifyStdJS/npm-shrinkwrap.json
  packages/standard-minifier-js/plugin/stats.js
Labels: Project:Isobuild:Minifiers

Deprecation jsdoc for each in callback-hook
  packages/callback-hook/hook.js
Labels: none

callback-hook history entry & version bump
  History.md
  packages/callback-hook/package.js
Labels: none

Fix loading react-fast-refresh in cordova
  packages/react-fast-refresh/package.js
Labels: none

Fix watching for changes on other arch's
  packages/autoupdate/autoupdate_client.js
  packages/autoupdate/autoupdate_cordova.js
  packages/hot-module-replacement/client.js
Labels: Project:HMR

MDG -> Meteor Software
  scripts/admin/publish-meteor-tool-on-all-platforms.sh
Labels: Project:Release Process

Update history for js minification packages
  History.md
  packages/minifier-js/package.js
  packages/standard-minifier-js/package.js
Labels: Project:Isobuild:Minifiers

2.4-rc.0
  packages/accounts-base/package.js
  packages/accounts-password/package.js
  packages/callback-hook/package.js
  packages/ddp-server/package.js
  packages/ecmascript-runtime-client/package.js
  packages/ecmascript-runtime-server/package.js
  packages/ecmascript-runtime/package.js
  packages/email/package.js
  packages/logging/package.js
  packages/meteor-tool/package.js
  packages/meteor/package.js
  packages/minifier-css/package.js
  packages/minifier-js/package.js
  packages/modules/package.js
  packages/mongo/package.js
  packages/oauth/package.js
  packages/oauth1/package.js
  packages/service-configuration/package.js
  packages/standard-minifier-css/package.js
  packages/standard-minifier-js/package.js
  packages/test-helpers/package.js
  packages/tinytest/package.js
  packages/webapp/package.js
  scripts/admin/meteor-release-experimental.json
Labels: Project:Accounts:Password, Project:CSS, Project:DDP, Project:Isobuild:Minifiers, Project:JS Environment, Project:Mongo Driver, Project:Release Process, Project:Tool, Project:Utilities:Email, Project:Webapp

Add more description and example for createIndex
  source/api/collections.md
Labels: none

Create 2.4 migration guide
  content/2.4-migration.md
  site/_config.yml
Labels: none

Update pubsub.md
  source/api/pubsub.md
Labels: none

Add older migrations
  content/1.10-migration.md
  content/1.10.2-migration.md
  content/1.11-migration.md
  content/1.12-migration.md
  content/1.8-migration.md
  content/1.8.2-migration.md
  content/1.8.3-migration.md
  content/1.9-migration.md
  content/1.9.3-migration.md
  content/2.0-migration.md
  content/2.2-migration.md
  content/2.3-migration.md
  content/2.4-migration.md
Labels: none

Published alanning:roles@3.4.0
  .versions
  package.js
Labels: none

Export collections for direct access
  package.js
  roles/roles_common.js
Labels: none

Replace Meteor Methods link with embed video
  source/api/methods.md
Labels: none

Update methods.md
  source/api/methods.md
Labels: none

Include webapp usage on windows tests
  scripts/windows/appveyor/test.ps1
Labels: Project:Release Process, Project:Windows

Add unit tests for async publications
  packages/ddp-server/livedata_server_async_tests.js
  packages/ddp-server/package.js
Labels: Project:DDP

History adjustments for better reading
  History.md
Labels: none

Improve example to be actually working example
  source/api/email.md
Labels: none

Add support for linux and mac os on npm meteor installer
  npm-packages/meteor-installer/cli.js
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/extract.js
  npm-packages/meteor-installer/install.js
  npm-packages/meteor-installer/meteor.bat
  npm-packages/meteor-installer/package.json
Labels: none

.github/labeler.yml:

Project:Accounts:Password:
  - packages/accounts-password/**/*

Project:Accounts:UI:
  - packages/meteor-developer-config-ui/**/*
  - packages/github-config-ui/**/*
  - packages/google-config-ui/**/*
  - packages/twitter-config-ui/**/*
  - packages/facebook-config-ui/**/*
  - packages/accounts-ui/**/*
  - packages/accounts-ui-unstyled/**/*

Project:CSS:
  - packages/non-core/less/**/*
  - packages/minifier-css/**/*
  - packages/standard-minifier-css/**/*

Project:DDP:
  - packages/ddp-common/**/*
  - packages/ddp-rate-limiter/**/*
  - packages/ddp-server/**/*
  - packages/ddp-client/**/*
  - packages/ddp/**/*
  - packages/socket-stream-client/**/*

Project:EJSON:
  - packages/ejson/**/*

Project:HMR:
  - packages/hot-code-push/**/*
  - packages/hot-module-replacement/**/*

Project:Isobuild:Minifiers:
  - packages/minifier-css/**/*
  - packages/minifier-js/**/*
  - packages/standard-minifier-js/**/*
  - packages/standard-minifier-css/**/*
  - packages/standard-minifiers/**/*

Project:Isobuild:
  - tools/isobuild/**/*

Project:JS Environment:Typescript:
  - packages/typescript/**/*

Project:JS Environment:
  - packages/babel-compiler/**/*
  - packages/babel-runtime/**/*
  - packages/ecmascript/**/*
  - packages/ecmascript-runtime/**/*
  - packages/ecmascript-runtime-client/**/*
  - packages/ecmascript-runtime-server/**/*
  - packages/es5-shim/**/*
  - packages/jshint/**/*

Project:Livequery:
  - packages/livedata/**/*

Project:Minimongo:
  - packages/minimongo

Project:Mobile:
  - tools/cordova/**/*
  - packages/launch-screen/**/*
  - packages/mobile-experience/**/*
  - packages/mobile-status-bar/**/*

Project:Mongo Driver:
  - packages/mongo/**/*
  - packages/mongo-dev-server/**/*
  - packages/mongo-id/**/*
  - packages/mongo-livedata/**/*
  - packages/disable-oplog/**/*
  - packages/non-core/mongo-decimal/**/*

Project:NPM:
  - npm-packages/*

Project:Release Process:
  - scripts/**/*

Project:Tool:
  - tools/**/*
  - packages/meteor-tool/**/*

Project:Tool:Shell:
  - tools/console/**/*

Project:Utilities:Email:
  - packages/email/**/*

Project:Utilities:HTTP:
  - packages/deprecated/http/**/*
  - packages/fetch/**/*
  - packages/url/**/*

Project:Webapp:
  - packages/webapp/**/*
  - packages/webapp-hashing/**/*

Project:Windows:
  - scripts/windows/**/*

Project:Webapp:Browser Policy:
  - packages/browser-policy/**/*
  - packages/browser-policy-common/**/*
  - packages/browser-policy-content/**/*
  - packages/browser-policy-framing/**/*

Project:Examples:
  - tools/cli/example-repositories.js

Project:Dynamic Import:
  - packages/dynamic-import/**/*
