Repository meteor/meteor, pull requests merged in 2020-01, with the labels that each got.

#10527 Release 1.9 (Node.js 12)
  .circleci/config.yml
  History.md
  meteor
  meteor.bat
  packages/accounts-base/package.js
  packages/babel-compiler/package.js
  packages/babel-runtime/package.js
  packages/callback-hook/package.js
  packages/context/package.js
  packages/ecmascript-runtime-client/modern.js
  packages/ecmascript-runtime-client/package.js
  packages/ecmascript-runtime-server/package.js
  packages/ecmascript-runtime-server/runtime.js
  packages/ecmascript/package.js
  packages/ejson/.gitignore
  packages/ejson/CHANGELOG.md
  packages/ejson/ejson.js
  packages/ejson/ejson_tests.js
  packages/ejson/package.js
  packages/ejson/utils.js
  packages/meteor-tool/package.js
  packages/minifier-css/package.js
  packages/minifier-js/package.js
  packages/modules-runtime/package.js
  packages/modules/package.js
  packages/mongo/package.js
  packages/npm-mongo/package.js
  packages/standard-minifier-css/package.js
  packages/standard-minifier-js/package.js
  packages/test-helpers/package.js
  packages/typescript/package.js
  packages/webapp/package.js
  scripts/admin/copy-dev-bundle-from-jenkins.sh
  scripts/admin/meteor-release-experimental.json
  scripts/admin/meteor-release-official.json
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
  scripts/generate-dev-bundle.ps1
  scripts/generate-dev-bundle.sh
  tools/cli/commands.js
  tools/cli/dev-bundle.js
  tools/cli/main.js
  tools/fs/files.ts
  tools/index.d.ts
  tools/isobuild/bundler.js
  tools/isobuild/import-scanner.ts
  tools/isobuild/linker.js
  tools/isobuild/package-source.js
  tools/runners/run-app.js
  tools/static-assets/server/boot.js
  tools/tests/apps/dynamic-import/tests.js
  tools/tests/apps/modules/package-lock.json
  tools/tests/apps/modules/package.json
  tools/tests/apps/modules/server/only.js
  tools/tests/bundle.js
  tools/tests/old.js
  tools/tests/run.js
  tools/utils/archinfo.ts
  tools/utils/utils.js
Labels: in progress

#10723 Update MongoDB to 4.2
  History.md
  meteor
  packages/mongo/mongo_driver.js
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/npm-mongo/package.js
  scripts/build-dev-bundle-common.sh
  scripts/generate-dev-bundle.ps1
  scripts/generate-dev-bundle.sh
  tools/runners/run-mongo.js
Labels: Project:Mongo Driver

#10873 Fix spurious Babel ES6 default export error, once and for all.
  meteor
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  packages/babel-compiler/package.js
  scripts/dev-bundle-tool-package.js
  tools/tool-env/install-babel.js
Labels: Impact:some, Project:JS Environment, Severity:blocks-development
