Repository meteor/meteor, pull requests merged in 2020-10, with the labels that each got.

#11160 Update Facebook Graph API to v8
  History.md
  packages/facebook-oauth/facebook_client.js
  packages/facebook-oauth/facebook_server.js
  packages/facebook-oauth/package.js
Labels: Project:Accounts:OAuth, hacktoberfest

#11196 Modernize standard-minifier-css and update dependencies
  packages/standard-minifier-css/package.js
  packages/standard-minifier-css/plugin/minify-css.js
Labels: Project:CSS

#11211 #371 cold-start
  tools/cli/commands.js
  tools/cli/help.txt
  tools/meteor-services/deploy.js
Labels: Project:Deploy Server

#11213 #459 MongoDB
  tools/cli/commands.js
  tools/cli/help.txt
  tools/meteor-services/deploy.js
Labels: Project:Deploy Server

#10499 Fix bug in minimongo fields projection
  packages/minimongo/local_collection.js
  packages/minimongo/minimongo_tests_client.js
Labels: Project:Minimongo

#11182 Fix typo
  packages/accounts-password/password_server.js
Labels: Impact:few, Type:Bug

#11165 tool list command added json flag to output packages in json format
  tools/cli/commands-packages.js
  tools/cli/help.txt
  tools/tests/command-line.js
Labels: Project:Tool:Shell, Stage:Confirmed

#11202 When cordova add plugin fails using the id in the git URL we now retry using the plugin name
  History.md
  tools/cordova/project.js
Labels: Project:Mobile, Stage:Confirmed

#11188 Avoid MiTM by downloading through https
  scripts/generate-dev-bundle.ps1
Labels: Project:Windows

#11080 Fixes sendVerificationEmail doesn't work if user is created on the server
  packages/accounts-password/password_server.js
Labels: Project:Accounts:Password, Stage:Confirmed

#11225 Update Typescript to 4.0.5
  meteor
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  packages/babel-compiler/package.js
  packages/ecmascript/package.js
  packages/standard-minifier-css/.npm/plugin/minifyStdCSS/npm-shrinkwrap.json
  packages/typescript/package.js
  scripts/dev-bundle-tool-package.js
  tools/fs/files.ts
  tools/tests/apps/modules/.meteor/packages
Labels: Project:JS Environment:Typescript, Stage:In development, hacktoberfest-accepted
