Repository meteor/meteor, pull requests merged in 2020-11, with the labels that each got.

#11118 [Feature] Be able to define default user fields published on login
  packages/accounts-base/accounts_server.js
Labels: Project:Accounts (in user apps), Stage:Confirmed, Type:Feature

#11171 Allow setting nonce in browser-policy-content (fixes 11031)
  packages/browser-policy-content/browser-policy-content.js
  packages/browser-policy/browser-policy-test.js
Labels: Project:Webapp:Browser Policy, Stage:Confirmed

#11173 Fix form submit bugs in accounts-ui
  packages/accounts-ui-unstyled/login_buttons_dropdown.js
Labels: Project:Accounts:UI, Stage:Confirmed, Type:Bug

#11198 Modernize reload package
  packages/reload/reload.js
  packages/reload/reload_tests.js
Labels: Project:Webapp, Stage:Pending tests, hacktoberfest-accepted

#11209 Fixing prefetching errors with dynamic-import #11157
  packages/dynamic-import/client.js
  packages/dynamic-import/dynamic-versions.js
Labels: Project:Dynamic Import, Stage:Waiting feedback

#11201 Update mongo-decimal npm dependency
  History.md
  packages/non-core/mongo-decimal/.npm/package/npm-shrinkwrap.json
  packages/non-core/mongo-decimal/package.js
Labels: Project:Mongo Driver, hacktoberfest-accepted
