Repository meteor/meteor, pull requests merged in 2021-08, with the labels that each got.

#11563 Release 2.3.3
  History.md
  meteor
  npm-packages/meteor-installer/README.md
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/package.json
  packages/meteor-tool/package.js
  scripts/admin/meteor-release-experimental.json
  scripts/admin/meteor-release-official.json
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
  tools/static-assets/skel-apollo/package.json
  tools/static-assets/skel-bare/package.json
  tools/static-assets/skel-blaze/package.json
  tools/static-assets/skel-full/package.json
  tools/static-assets/skel-minimal/package.json
  tools/static-assets/skel-react/package.json
  tools/static-assets/skel-svelte/package.json
  tools/static-assets/skel-typescript/package.json
  tools/static-assets/skel-vue/package.json
  tools/tests/apps/app-config/package.json
  tools/tests/apps/dev-bundle-bin-commands/package.json
  tools/tests/apps/link-config-npm-package/package.json
  tools/tests/apps/linked-external-npm-package/package.json
  tools/tests/apps/modules/package.json
  tools/tests/apps/shell/package.json
  tools/tests/apps/standard-app/package.json
Labels: Project:Release Process, Project:Tool

#11569 Update mongodb to 3.6.10
  History.md
  packages/npm-mongo/package.js
Labels: Project:Mongo Driver

#11567 Tinytest adding new API: only and onlyAsync
  packages/test-helpers/async_multi.js
  packages/tinytest/README.md
  packages/tinytest/tinytest.js
Labels: Project:Testing

#11571 Fix #9907 - Deleting METEOR_SETTINGS only in development
  tools/runners/run-app.js
Labels: Project:Tool

#11204 Document Meteor.EnvironmentVariable
  packages/meteor/dynamics_nodejs.js
Labels: Project:Docs

#11584 Fixes #11583 Do not add ROOT_URL to sourceMappingURL for base64 encoded urls
  tools/isobuild/bundler.js
Labels: Project:Tool, Project:Isobuild

#11580 Release 2.3.5
  History.md
  meteor
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  packages/babel-compiler/package.js
  packages/ecmascript/package.js
  packages/ecmascript/transpilation-tests.js
  packages/meteor-tool/package.js
  packages/typescript/package.js
  scripts/admin/meteor-release-experimental.json
  scripts/admin/meteor-release-official.json
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-tool-package.js
Labels: Project:JS Environment, Project:Tool, Project:Release Process, Project:JS Environment:Typescript

#10967 Minifier-JS Package update
  .circleci/config.yml
  packages/minifier-js/minifier-tests.js
  packages/minifier-js/minifier.js
  packages/minifier-js/package.js
  packages/standard-minifier-js/README.md
  packages/standard-minifier-js/package.js
  packages/standard-minifier-js/plugin/minify-js.js
  packages/standard-minifier-js/plugin/stats.js
  packages/standard-minifier-js/plugin/utils.js
Labels: Project:Isobuild:Minifiers

#11588 Async publications unit testing
  packages/ddp-server/livedata_server_async_tests.js
  packages/ddp-server/package.js
Labels: Project:DDP

#11595 Fix/ sending test metadata
  packages/ddp-server/package.js
  packages/ddp-server/stream_server.js
Labels: Project:DDP, Type:Bug

#11594 Fix sending test metadata
  packages/ddp-client/common/livedata_connection.js
Labels: Project:DDP, Type:Bug

#11596 Accept a token to authenticate deploys
  tools/cli/commands.js
  tools/meteor-services/deploy.js
Labels: Project:Tool

#11601 accounts-password use isEnroll
  History.md
  packages/accounts-password/package.js
  packages/accounts-password/password_server.js
  tools/tests/apps/custom-minifier/packages/custom-minifier/plugin/minify.js
Labels: Project:Accounts:Password, Project:Tool

#11608 Disable native file watching during meteor create
  tools/cli/commands.js
  tools/fs/safe-watcher.ts
Labels: Project:Tool

#11607 Add WebApp.addUpdatedNotifyHook
  packages/webapp/webapp_server.js
Labels: Project:Webapp

#11609 Disable native file watching during meteor --get-ready
  tools/cli/commands-packages.js
Labels: Project:Tool

#11610 Reify upgrade 0.22.1
  History.md
  meteor
  packages/modules/package.js
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
Labels: Project:Release Process

#11590 NPM installer should also work with linux/mac
  README.md
  npm-packages/meteor-installer/README.md
  npm-packages/meteor-installer/cli.js
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/extract.js
  npm-packages/meteor-installer/install.js
  npm-packages/meteor-installer/meteor.bat
  npm-packages/meteor-installer/package.json
  tools/README.md
Labels: Project:Tool
