Repository meteor/meteor, pull requests merged in 2021-03, with the labels that each got.

#11208 Update Cordova to 10.0.0
  packages/launch-screen/package.js
  packages/webapp/package.js
  tools/cordova/index.js
  tools/cordova/project.js
Labels: Project:Mobile, hacktoberfest-accepted, pending-tests

#11329 Update TypeScript to 4.2.2
  packages/babel-compiler/package.js
  packages/ecmascript/package.js
  packages/typescript/package.js
  scripts/dev-bundle-tool-package.js
Labels: Project:JS Environment:Typescript, ready

#11367 Browserstack check
  .circleci/config.yml
  scripts/admin/browserstack-check.sh
  tools/tests/custom-minifier.js
  tools/tests/hot-code-push.js
  tools/tests/package-tests.js
  tools/tests/stylus-cross-packages.js
  tools/tool-testing/sandbox.js
Labels: Project:Testing

#11341 update MongoDB to 4.4.4
  History.md
  scripts/build-dev-bundle-common.sh
  scripts/generate-dev-bundle.ps1
Labels: Project:Mongo Driver
