Repository meteor/meteor, pull requests merged in 2021-07, with the labels that each got.

#11511 Support AAB on android builds
  History.md
  tools/cli/commands-packages-query.js
  tools/cli/commands.js
  tools/cli/help.txt
  tools/cordova/project.js
  tools/cordova/runner.js
  tools/packaging/catalog/catalog-remote.js
Labels: Project:Mobile, Project:Tool, missing-docs

#11512 Simplified Safari 14 fix #11479
  History.md
  packages/dynamic-import/CHANGELOG.md
  packages/dynamic-import/client.js
  packages/dynamic-import/package.js
Labels: Project:Dynamic Import

#11517 Add Documentation for the forceApprovalPrompt Option of Accounts.loginWith<ExternalService>
  packages/accounts-oauth/oauth_client.js
Labels: Project:Docs

#11495 Minor tools update
  .travis.yml
  meteor
  tools/cli/commands-cordova.js
  tools/cli/commands-packages-query.js
  tools/cli/commands-packages.js
  tools/cli/commands.js
  tools/cli/example-repositories.js
  tools/cli/main.js
  tools/cordova/builder.js
  tools/cordova/project.js
  tools/isobuild/build-plugin.js
  tools/isobuild/bundler.js
  tools/isobuild/compiler.js
  tools/isobuild/isopack-cache.js
  tools/isobuild/isopack.js
  tools/isobuild/linker.js
  tools/isobuild/meteor-npm.js
  tools/isobuild/package-source.js
  tools/isobuild/unibuild.js
  tools/meteor-services/auth.js
  tools/meteor-services/service-connection.js
  tools/packaging/catalog/catalog-local.js
  tools/packaging/catalog/catalog-remote.js
  tools/packaging/catalog/catalog.js
  tools/packaging/package-client.js
  tools/packaging/package-map.js
  tools/packaging/release.js
  tools/packaging/tropohouse.js
  tools/packaging/warehouse.js
  tools/project-context.js
  tools/runners/run-app.js
  tools/runners/run-log.js
  tools/runners/run-mongo.js
  tools/runners/run-proxy.js
  tools/runners/run-selenium.js
  tools/runners/run-updater.js
  tools/tests/cordova-plugins.js
  tools/tests/old.js
  tools/tests/package-tests.js
  tools/tests/wipe-all-packages.js
  tools/tool-env/profile-require.js
  tools/tool-testing/galaxy-utils.js
  tools/upgraders.js
  tools/utils/buildmessage.js
  tools/utils/fiber-helpers.js
  tools/utils/http-helpers.js
  tools/utils/utils.js
Labels: Project:Examples, Project:Tool

#11524 Add description about package upgrades for non-recommended releases
  tools/cli/commands-packages.js
Labels: Project:Tool

#11530 Add note about fail
  packages/tinytest/README.md
Labels: Project:Docs

#11535 Fix issue when running android cordova projects due to aab format change
  History.md
  packages/meteor-tool/package.js
  scripts/admin/meteor-release-official.json
  tools/cordova/project.js
Labels: Project:Mobile, Project:Release Process, Project:Tool

#11531 Remove underscore from routepolicy
  History.md
  packages/routepolicy/package.js
Labels: Project:Webapp

#11533 Update css minifiers dependencies
  packages/minifier-css/.npm/package/npm-shrinkwrap.json
  packages/minifier-css/package.js
Labels: Project:CSS, Project:Isobuild:Minifiers

#11532 Update webapp dependencies
  packages/webapp/.npm/package/npm-shrinkwrap.json
  packages/webapp/package.js
  packages/webapp/webapp_server.js
Labels: Project:Webapp

#11506 Hook __meteor_runtime_config__ at runtime
  packages/webapp/webapp_server.js
Labels: Project:Webapp

#11534 Update Apollo skelet to use Apollo server 3
  History.md
  tools/static-assets/skel-apollo/package.json
  tools/static-assets/skel-apollo/server/apollo.js
  tools/static-assets/skel-apollo/server/main.js
Labels: Project:Tool

#11537 Add note about legacy bundle
  tools/isobuild/package-api.js
Labels: Project:Isobuild, Project:Tool, missing-docs

#11541 [Release-2.4] fix updated flag to be true for all hook subscribers
  packages/webapp/webapp_server.js
Labels: Project:Webapp

#11551 Callback-hook var assingment fix & modernization
  History.md
  packages/callback-hook/hook.js
  packages/callback-hook/hook_tests.js
  packages/callback-hook/package.js
Labels: Project:Utilities

#11557 Reflect removal of npmRequestOptions in documentation and comments
  History.md
  packages/deprecated/http/httpcall_client.js
  packages/deprecated/http/httpcall_server.js
Labels: Project:Docs, Project:Utilities:HTTP

#11549 Use double-ended-deque directly now that npm issue resolved
  meteor
  packages/meteor/.npm/package/npm-shrinkwrap.json
  packages/meteor/fiber_helpers.js
  packages/meteor/package.js
  packages/mongo/oplog_tailing.js
Labels: Project:Mongo Driver, Project:Utilities

#11550 Logging v1.3
  History.md
  packages/logging/.npm/package/npm-shrinkwrap.json
  packages/logging/README.md
  packages/logging/logging.js
  packages/logging/package.js
  packages/meteor/debug.js
  scripts/dev-bundle-tool-package.js
  tools/console/console.js
  tools/cordova/run-targets.js
Labels: Project:Mobile, Project:Release Process, Project:Tool, Project:Tool:Shell

#11368 Support for publication strategies in livedata server
  History.md
  packages/ddp-server/livedata_server.js
  packages/mongo/collection.js
Labels: Project:DDP, Project:Mongo Driver, missing-docs

#11556 createIndex for collections
  History.md
  packages/accounts-base/accounts_server.js
  packages/accounts-oauth/oauth_common.js
  packages/accounts-password/password_server.js
  packages/mongo/collection.js
  packages/mongo/mongo_driver.js
  packages/mongo/oplog_tests.js
  packages/mongo/package.js
  packages/mongo/remote_collection_driver.js
  packages/oauth/pending_credentials.js
  packages/oauth1/oauth1_pending_request_tokens.js
  packages/service-configuration/service_configuration_server.js
Labels: Project:Accounts:Password, Project:Mongo Driver

#11548 less v4
  packages/non-core/less/.npm/plugin/compileLessBatch/npm-shrinkwrap.json
  packages/non-core/less/.versions
  packages/non-core/less/README.md
  packages/non-core/less/less_tests.js
  packages/non-core/less/package.js
Labels: Project:CSS

#11554 Email 2.2
  History.md
  packages/email/email.js
  packages/email/email_tests.js
  packages/email/package.js
Labels: Project:Utilities:Email
