Repository meteor/meteor, pull requests merged in 2021-06, with the labels that each got.

#11374 Added option to disable detailed error message on Account.forgetPassword
  packages/accounts-password/password_server.js
  packages/accounts-password/password_tests.js
Labels: Project:Accounts:Password

#11451 UNIX_SOCKET_GROUP sets UNIX group/gid of UNIX_SOCKET_FILE
  packages/webapp/.npm/package/npm-shrinkwrap.json
  packages/webapp/package.js
  packages/webapp/webapp_server.js
Labels: Project:Isobuild

#11444 Meteor.publish() support for async functions
  History.md
  packages/ddp-server/livedata_server.js
Labels: Project:DDP, missing-docs

#11467 Use npm bcrypt instead of meteor's
  packages/accounts-password/package.js
  packages/accounts-password/password_server.js
  packages/deprecated/npm-bcrypt/.gitignore
  packages/deprecated/npm-bcrypt/README.md
  packages/deprecated/npm-bcrypt/package.js
  packages/deprecated/npm-bcrypt/wrapper.js
  packages/npm-bcrypt/.npm/package/.gitignore
  packages/npm-bcrypt/.npm/package/README
  packages/npm-bcrypt/.npm/package/npm-shrinkwrap.json
Labels: Project:NPM

#11475 Add missing dependency to hot-module-replacement
  packages/hot-module-replacement/client.js
  packages/hot-module-replacement/package.js
Labels: Project:HMR

#11472 add hook to allow custom user selection in Accounts.updateOrCreateUserFromExternalService
  packages/accounts-base/accounts_server.js
  packages/accounts-base/accounts_tests.js
Labels: Project:Accounts (in user apps), in-discussion

#11478 New deploy option: build-only
  History.md
  tools/cli/commands.js
  tools/cli/help.txt
  tools/meteor-services/deploy.js
  tools/tool-testing/galaxy-utils.js
Labels: Project:Deploy Server

#11474 Track which input files are used by build plugins
  tools/isobuild/bundler.js
  tools/isobuild/compiler-plugin.js
  tools/isobuild/compiler.js
  tools/isobuild/unibuild.js
  tools/runners/run-app.js
  tools/tests/apps/watch-used-files/.gitignore
  tools/tests/apps/watch-used-files/.meteor/.finished-upgraders
  tools/tests/apps/watch-used-files/.meteor/.gitignore
  tools/tests/apps/watch-used-files/.meteor/.id
  tools/tests/apps/watch-used-files/.meteor/packages
  tools/tests/apps/watch-used-files/.meteor/platforms
  tools/tests/apps/watch-used-files/.meteor/release
  tools/tests/apps/watch-used-files/a.time
  tools/tests/apps/watch-used-files/client-entry.js
  tools/tests/apps/watch-used-files/client-only.js
  tools/tests/apps/watch-used-files/package.json
  tools/tests/apps/watch-used-files/packages/build-plugin/package.js
  tools/tests/apps/watch-used-files/packages/build-plugin/plugin-dep.js
  tools/tests/apps/watch-used-files/packages/build-plugin/plugin.js
  tools/tests/apps/watch-used-files/packages/partially-used-package/client-only.js
  tools/tests/apps/watch-used-files/packages/partially-used-package/client.js
  tools/tests/apps/watch-used-files/packages/partially-used-package/direct-import.js
  tools/tests/apps/watch-used-files/packages/partially-used-package/package.js
  tools/tests/apps/watch-used-files/packages/partially-used-package/server-only.js
  tools/tests/apps/watch-used-files/packages/partially-used-package/server.js
  tools/tests/apps/watch-used-files/packages/partially-used-package/shared.js
  tools/tests/apps/watch-used-files/packages/partially-used-package/unused.js
  tools/tests/apps/watch-used-files/server-entry.js
  tools/tests/apps/watch-used-files/server-only.js
  tools/tests/apps/watch-used-files/shared.js
  tools/tests/apps/watch-used-files/unused.js
  tools/tests/apps/watch-used-files/unused.no-lazy-finalyzer
  tools/tests/potentially-unused-files.js
Labels: Project:HMR

#11501 Update babel runtime and skelets
  History.md
  meteor
  packages/non-core/less/.npm/plugin/compileLessBatch/npm-shrinkwrap.json
  packages/non-core/less/package.js
  packages/standard-minifier-css/.npm/plugin/minifyStdCSS/npm-shrinkwrap.json
  packages/standard-minifier-css/package.js
  packages/standard-minifier-js/.npm/plugin/minifyStdJS/npm-shrinkwrap.json
  packages/standard-minifier-js/package.js
  scripts/dev-bundle-tool-package.js
  tools/static-assets/skel-apollo/imports/ui/Info.jsx
  tools/static-assets/skel-apollo/package.json
  tools/static-assets/skel-bare/package.json
  tools/static-assets/skel-blaze/package.json
  tools/static-assets/skel-full/package.json
  tools/static-assets/skel-minimal/package.json
  tools/static-assets/skel-react/package.json
  tools/static-assets/skel-svelte/package.json
  tools/static-assets/skel-typescript/package.json
  tools/static-assets/skel-vue/package.json
  tools/tests/apps/app-config/package.json
  tools/tests/apps/app-prints-pid/package.json
  tools/tests/apps/client-refresh/package.json
  tools/tests/apps/css-injection-test/package.json
  tools/tests/apps/custom-minifier/package.json
  tools/tests/apps/dev-bundle-bin-commands/package.json
  tools/tests/apps/dynamic-import/package.json
  tools/tests/apps/git-commit-hash/package.json
  tools/tests/apps/link-config-npm-package/package.json
  tools/tests/apps/linked-external-npm-package/package.json
  tools/tests/apps/meteor-ignore/package.json
  tools/tests/apps/modules/package.json
  tools/tests/apps/package-tests/package.json
  tools/tests/apps/shell/package.json
  tools/tests/apps/standard-app/package.json
Labels: dependencies
