Repository meteor/meteor, pull requests merged in 2021-11, with the labels that each got.

#11712 Support arm64 on darwin - add installer support
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/install.js
  npm-packages/meteor-installer/package.json
Labels: Project:NPM

#11758 Work around terser bug.
  packages/minifier-js/minifier.js
  packages/minifier-js/package.js
Labels: Project:Isobuild:Minifiers

#11745 Update install docs
  docs/source/install.md
Labels: Project:Docs

#11780 Adding option to override data from api using args from api-box.
  docs/scripts/api-box.js
  docs/source/packages/accounts-passwordless.md
Labels: Project:Docs

#11783 Reverting terser evaluate false
  packages/minifier-js/minifier.js
  packages/minifier-js/package.js
  packages/standard-minifier-js/package.js
Labels: Project:Isobuild:Minifiers

#11776 Make code compatible with IE11 - #11772
  packages/react-fast-refresh/client.js
Labels: Project:HMR

#11784 Document async callback behavior in autoruns
  docs/source/api/tracker.md
Labels: Project:Docs

#11786 Docs: accounts-passwordless - sendLoginTokenEmail should be imported from accounts-base
  docs/source/packages/accounts-passwordless.md
Labels: Project:Docs
