Repository meteor/meteor, pull requests merged in 2021-04, with the labels that each got.

#11370 Fix MongoDB startup checks
  History.md
  appveyor.yml
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  packages/mongo/mongo_driver.js
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/npm-mongo/package.js
  tools/runners/run-mongo.js
Labels: Project:Mongo Driver

#11369 Fix for UNIX sockets with node cluster
  packages/webapp/webapp_server.js
Labels: Project:Webapp

#11364 Add $mul to minimongo
  packages/minimongo/NOTES.md
  packages/minimongo/local_collection.js
  packages/minimongo/minimongo_tests_client.js
  packages/minimongo/minimongo_tests_server.js
Labels: Project:Minimongo

#11362 Upgrade default Facebook API to v10 & allow overriding this value
  packages/facebook-oauth/CHANGELOG.md
  packages/facebook-oauth/facebook_client.js
  packages/facebook-oauth/facebook_server.js
  packages/facebook-oauth/package.js
Labels: Project:Accounts (in user apps)

#11366 Allow to set token expiration to be set in milliseconds.
  packages/accounts-base/accounts_common.js
  packages/accounts-base/package.js
Labels: Project:Accounts (in user apps)

#11162 Deprecation flag for packages
  tools/cli/commands-packages-query.js
  tools/cli/commands-packages.js
  tools/console/console.js
  tools/isobuild/package-namespace.js
  tools/isobuild/package-source.js
  tools/packaging/catalog/catalog-local.js
  tools/packaging/package-client.js
  tools/packaging/package-map.js
Labels: Type:Feature, in-development

#11384 Adding the HMR to Blaze skeleton
  tools/static-assets/skel-blaze/.meteor/packages
  tools/tool-testing/sandbox.js
Labels: ready

#11385 Support MongoDB readPreference option for find and findOne
  packages/mongo/collection.js
  packages/mongo/collection_tests.js
  packages/mongo/mongo_driver.js
Labels: ready

#11396 Update faye-websocket dependency
  History.md
  packages/ddp-server/.npm/package/npm-shrinkwrap.json
  packages/ddp-server/package.js
  packages/socket-stream-client/.npm/package/npm-shrinkwrap.json
  packages/socket-stream-client/package.js
Labels: dependencies

#11401 Improve password validator
  packages/accounts-password/package.js
  packages/accounts-password/password_server.js
Labels: Project:Accounts:Password

#11397 Skelets dependencies updates
  tools/static-assets/skel-apollo/package.json
  tools/static-assets/skel-bare/package.json
  tools/static-assets/skel-blaze/package.json
  tools/static-assets/skel-full/package.json
  tools/static-assets/skel-minimal/package.json
  tools/static-assets/skel-react/package.json
  tools/static-assets/skel-typescript/package.json
  tools/static-assets/skel-vue/package.json
  tools/tests/apps/app-config/package.json
  tools/tests/apps/client-refresh/package.json
  tools/tests/apps/custom-minifier/package.json
  tools/tests/apps/dynamic-import/package.json
  tools/tests/apps/git-commit-hash/package.json
  tools/tests/apps/link-config-npm-package/package.json
  tools/tests/apps/linked-external-npm-package/package.json
  tools/tests/apps/meteor-ignore/package.json
  tools/tests/apps/package-tests/package.json
  tools/tests/apps/shell/package.json
  tools/tests/apps/standard-app/package.json
Labels: dependencies

#11399 Reordered fields in DDP method call.
  History.md
  packages/ddp-client/common/livedata_connection.js
  packages/ddp-client/package.js
Labels: Project:DDP

#11391 Fix Timestamp.ONE is undefined
  packages/mongo/oplog_tailing.js
Labels: Project:Mongo Driver
