Repository meteor/meteor, pull requests merged in 2021-10, with the labels that each got.

#11663 Fix finding local packages on Windows located on drives other than C
  tools/packaging/catalog/catalog-local.js
Labels: Project:Tool, Project:Windows

#11664 Fix infinite loop in import scanner when file is on a different drive than source root
  tools/isobuild/import-scanner.ts
Labels: Project:Tool, Project:Isobuild

#11665 Rollback to core-js@3.15.2
  packages/ecmascript-runtime-client/package.js
Labels: Project:JS Environment

#11739 Added missing commas to Accounts.config example in accounts.md
  guide/source/accounts.md
Labels: Project:Guide
