Repository meteor/meteor, pull requests merged in 2021-05, with the labels that each got.

#11409 Reverse order of adding plugins/adding platforms on cordova build
  tools/cordova/project.js
Labels: Project:Mobile

#11371 Make launch-screen only for Cordova & update plugin
  packages/launch-screen/package.js
Labels: Project:Mobile

#11400 Add cache for reify compiler when used in runtime
  .gitignore
  tools/isobuild/bundler.js
  tools/runners/run-app.js
  tools/static-assets/server/runtime.js
  tools/tool-env/install-babel.js
  tools/tool-env/install-reify.js
  tools/tool-env/install-runtime.js
Labels: Project:Isobuild, Project:Isobuild:Performance

#11408 [cordova] Fix DDP_DEFAULT_CONNECTION_URL
  History.md
  tools/cordova/builder.js
Labels: Project:Mobile

#11414 Remove id-map dependency from mongo-id
  packages/mongo-id/package.js
Labels: Project:Mongo Driver

#11411 Meteor Babel 7.11.0
  History.md
  meteor
  packages/babel-compiler/README.md
  packages/babel-compiler/babel.js
  packages/babel-compiler/package.js
  scripts/dev-bundle-tool-package.js
  tools/fs/files.ts
  tools/isobuild/builder.js
  tools/isobuild/js-analyze.js
  tools/tool-env/install-babel.js
  tools/tool-env/source-map-retriever-stack.js
Labels: Project:Isobuild, dependencies

#11403 Security policy
  SECURITY.md
Labels: in-discussion

#11425 Fix react-fast-refresh for IE11
  packages/react-fast-refresh/client-runtime.js
  packages/react-fast-refresh/package.js
Labels: Project:Windows

#11421 Update nodemailer to 6.6.0
  History.md
  Roadmap.md
  packages/accounts-base/accounts_server.js
  packages/accounts-password/password_server.js
  packages/accounts-password/password_tests.js
  packages/ddp/DDP.md
  packages/email/.npm/package/npm-shrinkwrap.json
  packages/email/email_tests.js
  packages/email/package.js
  packages/es5-shim/README.md
  packages/logic-solver/README.md
  packages/minifier-css/minifier.js
  packages/rate-limit/README.md
  packages/url/legacy.js
  packages/url/modern.js
  packages/url/server.js
  packages/url/tests/main.js
  packages/webapp/connect.js
  packages/webapp/webapp_tests.js
  scripts/doctool.md
  tools/README.md
Labels: Project:Utilities:Email

#11434 Update TypeScript to 4.2.4
  meteor
  packages/ecmascript/package.js
  packages/typescript/package.js
  scripts/dev-bundle-tool-package.js
Labels: Project:JS Environment:Typescript

#11437 Add platforms options to meteor build:
  tools/cli/commands.js
  tools/cli/help.txt
Labels: Project:Isobuild, Project:Mobile

#11438 [Idmap 1.1.1]: Removed unused function and update declarations
  packages/id-map/id-map.js
  packages/id-map/package.js
Labels: Project:Mongo Driver

#11197 Release branch targeting Node 14 update
  .circleci/config.yml
  DEVELOPMENT.md
  History.md
  meteor
  packages/accounts-base/accounts_server.js
  packages/promise/.npm/package/npm-shrinkwrap.json
  packages/promise/package.js
  packages/webapp/socket_file_tests.js
  scripts/build-dev-bundle-common.sh
  scripts/ci/run-selftest-ci.sh
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
  scripts/generate-dev-bundle.ps1
  scripts/generate-dev-bundle.sh
  tools/cli/main.js
  tools/console/console.js
  tools/fs/files.ts
  tools/fs/optimistic.ts
  tools/fs/safe-watcher.ts
  tools/fs/watch.ts
  tools/isobuild/bundler.js
  tools/isobuild/compiler.js
  tools/isobuild/npm-discards.ts
  tools/isobuild/resolver.ts
  tools/packaging/catalog/catalog-local.js
  tools/project-context.js
  tools/static-assets/server/boot.js
  tools/tests/apps/modules/package.json
  tools/tests/update-tests.js
  tools/tool-testing/run.js
  tools/tool-testing/selftest.js
  tools/tool-testing/test-utils.js
  tools/utils/archinfo.ts
Labels: in-development, pending-tests

#11224 webapp handle each request method appropriately
  packages/dynamic-import/server.js
  packages/webapp/webapp_server.js
Labels: Project:Webapp

#11440 Improving document for the field defaultFieldSelector
  packages/accounts-base/accounts_common.js
Labels: Project:Docs

#11439 Update server-render npm dependies
  packages/server-render/package.js
  packages/server-render/server-register.js
Labels: Project:Server Performance

#11447 Update faye-websocket dependency in socket-stream-client
  History.md
  packages/socket-stream-client/.npm/package/npm-shrinkwrap.json
  packages/socket-stream-client/package.js
Labels: Project:DDP, dependencies

#11449 Update TS to 4.3
  History.md
  meteor
  packages/babel-compiler/package.js
  packages/ecmascript/package.js
  packages/typescript/package.js
  scripts/dev-bundle-tool-package.js
Labels: Project:JS Environment:Typescript

#11445 UNIX_SOCKET_PERMISSIONS sets permissions on UNIX_SOCKET_FILE
  packages/webapp/webapp_server.js
Labels: Project:Webapp, missing-docs

#11313 Patch http package to use fetch
  packages/deprecated/http/.npm/package/.gitignore
  packages/deprecated/http/.npm/package/README
  packages/deprecated/http/.npm/package/npm-shrinkwrap.json
  packages/deprecated/http/README.md
  packages/deprecated/http/httpcall_server.js
  packages/deprecated/http/httpcall_tests.js
  packages/http/.gitignore
  packages/http/README.md
  packages/http/httpcall_client.js
  packages/http/httpcall_common.js
  packages/http/httpcall_server.js
  packages/http/httpcall_tests.js
  packages/http/package.js
  packages/http/test_responder.js
  packages/http/test_static.serveme
Labels: Project:Utilities:HTTP, ready
