Repository meteor/meteor, pull requests merged in 2021-01, with the labels that each got.

#11189 [1.11.1] 'meteor create --help' command shows --vue and --apollo
  tools/cli/help.txt
Labels: Project:Tool:Shell, pending-tests

#10663 Convert npm-discards.js to TypeScript
  .eslintignore
  tools/index.d.ts
  tools/isobuild/builder.js
  tools/isobuild/npm-discards.js
  tools/isobuild/npm-discards.ts
  tools/isobuild/package-npm.js
Labels: Project:TypeScript-conversion, confirmed

#11053 Ensure the pathname of the rootUrl is used in the mobile URL
  tools/cordova/builder.js
  tools/utils/utils.js
Labels: Project:Mobile, confirmed

#11068 Update logging package
  packages/logging/.npm/package/npm-shrinkwrap.json
  packages/logging/logging.js
  packages/logging/logging_cordova.js
  packages/logging/package.js
Labels: Project:Utilities, Type:Feature, confirmed

#11161 HTTP package: deprecate the package
  History.md
  packages/deprecated/http/.gitignore
  packages/deprecated/http/.npm/package/.gitignore
  packages/deprecated/http/.npm/package/README
  packages/deprecated/http/.npm/package/npm-shrinkwrap.json
  packages/deprecated/http/README.md
  packages/deprecated/http/httpcall_client.js
  packages/deprecated/http/httpcall_common.js
  packages/deprecated/http/httpcall_server.js
  packages/deprecated/http/httpcall_tests.js
  packages/deprecated/http/package.js
  packages/deprecated/http/test_responder.js
  packages/deprecated/http/test_static.serveme
Labels: Project:Utilities:HTTP, confirmed

#11290 Adds nodeModulesToRecompile to the cacheKey
  tools/isobuild/package-source.js
Labels: ready

#11288 Add ability to add extra params to emailed urls
  History.md
  packages/accounts-base/accounts_server.js
  packages/accounts-base/accounts_tests.js
  packages/accounts-base/package.js
  packages/accounts-password/package.js
  packages/accounts-password/password_server.js
  packages/accounts-password/password_tests.js
Labels: Project:Accounts:Password

#11117 Hot module replacement
  meteor
  packages/autoupdate/autoupdate_server.js
  packages/babel-compiler/babel-compiler.js
  packages/dev-error-overlay/client.js
  packages/dev-error-overlay/package.js
  packages/dynamic-import/package.js
  packages/ecmascript/package.js
  packages/ecmascript/plugin.js
  packages/hot-module-replacement/README.md
  packages/hot-module-replacement/client.js
  packages/hot-module-replacement/hot-api.js
  packages/hot-module-replacement/package.js
  packages/hot-module-replacement/server.js
  packages/modules-runtime-hot/README.md
  packages/modules-runtime-hot/installer.js
  packages/modules-runtime-hot/modern.js
  packages/modules-runtime-hot/package.js
  packages/modules/package.js
  packages/react-fast-refresh/README.md
  packages/react-fast-refresh/client-runtime.js
  packages/react-fast-refresh/package.js
  packages/react-fast-refresh/server.js
  packages/typescript/package.js
  packages/typescript/plugin.js
  packages/webapp-hashing/webapp-hashing.js
  packages/webapp/webapp_server.js
  scripts/dev-bundle-tool-package.js
  tools/cli/commands-packages.js
  tools/isobuild/bundler.js
  tools/isobuild/compiler-plugin.js
  tools/isobuild/linker.js
  tools/runners/run-all.js
  tools/runners/run-app.js
  tools/runners/run-hmr.js
  tools/runners/run-proxy.js
  tools/static-assets/skel-apollo/.meteor/packages
  tools/static-assets/skel-react/.meteor/packages
  tools/static-assets/skel-typescript/.meteor/packages
Labels: Project:HMR, in-development
