Repository meteor/meteor, pull requests merged in 2021-12, with the labels that each got.

#11794 Fix react refresh bugs
  npm-packages/meteor-installer/README.md
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/package.json
  packages/react-fast-refresh/package.js
  packages/react-fast-refresh/server.js
Labels: Project:HMR

#11792 Update to Node 14.18.2
  meteor
  scripts/build-dev-bundle-common.sh
Labels: Project:Release Process

#11813 Remove `browserSniff` Option
  guide/source/security.md
Labels: Project:Guide

#11788 Release 2.5.2
  .gitattributes
  History.md
  README.md
  docs/scripts/api-box.js
  docs/source/api/tracker.md
  docs/source/index.md
  docs/source/install.md
  docs/source/packages/accounts-passwordless.md
  guide/source/security.md
  meteor
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-server-package.js
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  npm-packages/meteor-babel/cache.js
  npm-packages/meteor-babel/index.js
  npm-packages/meteor-babel/options.js
  npm-packages/meteor-babel/package-lock.json
  npm-packages/meteor-babel/package.json
  npm-packages/meteor-babel/parser.js
  npm-packages/meteor-babel/register.js
  npm-packages/meteor-babel/runtime.js
  npm-packages/meteor-babel/test/tests.js
  npm-packages/meteor-installer/README.md
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/package.json
  packages/accounts-ui-unstyled/login_buttons_dropdown.js
  packages/accounts-ui/package.js
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  packages/babel-compiler/package.js
  packages/ecmascript/package.js
  packages/hot-module-replacement/client.js
  packages/hot-module-replacement/hot-api.js
  packages/hot-module-replacement/package.js
  packages/meteor-tool/package.js
  packages/minifier-js/minifier.js
  packages/minifier-js/package.js
  packages/modules/.npm/package/npm-shrinkwrap.json
  packages/modules/package.js
  packages/modules/reify.js
  packages/react-fast-refresh/client.js
  packages/react-fast-refresh/package.js
  packages/react-fast-refresh/server.js
  packages/standard-minifier-js/package.js
  packages/standard-minifier-js/plugin/stats.js
  packages/typescript/package.js
  scripts/admin/meteor-release-experimental.json
  scripts/admin/meteor-release-official.json
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
  tools/isobuild/import-scanner.ts
  tools/isobuild/js-analyze.js
  tools/packaging/package-client.js
  tools/static-assets/server/runtime.js
Labels: Project:Isobuild:Minifiers, Project:JS Environment, Project:Tool, Project:Isobuild, Project:Release Process, Project:NPM, Project:JS Environment:Typescript, Project:HMR

#11819 chore(docs): add `loggingOut` api to accounts page
  docs/source/api/accounts.md
Labels: Project:Docs
