Repository meteor/meteor, pull requests merged in 2021-09, with the labels that each got.

#11611 Release 2.3.6
  History.md
  meteor
  npm-packages/meteor-installer/README.md
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/package.json
  packages/meteor-tool/package.js
  scripts/admin/meteor-release-experimental.json
  scripts/admin/meteor-release-official.json
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-tool-package.js
Labels: Project:Tool, Project:Release Process

#11615 use callback-hook package
  History.md
  packages/webapp/package.js
  packages/webapp/webapp_server.js
Labels: Project:Webapp

#11613 METEOR_SETTINGS always accepted
  History.md
  tools/runners/run-app.js
Labels: Project:Tool

#11623 Disable native file watcher for more commands
  tools/cli/commands-packages.js
  tools/cli/commands.js
Labels: Project:Tool

#11628 Fix typo in package-source.js
  tools/isobuild/package-source.js
Labels: Project:Tool, Project:Isobuild

#11630 Update terser to 5.8
  History.md
  packages/minifier-js/.npm/package/npm-shrinkwrap.json
  packages/minifier-js/minifier-tests.js
  packages/minifier-js/minifier.js
  packages/minifier-js/package.js
  packages/standard-minifier-js/.npm/plugin/minifyStdJS/npm-shrinkwrap.json
  packages/standard-minifier-js/package.js
Labels: Project:Isobuild:Minifiers

#11638 Upgrade to cordova-android@10
  .circleci/config.yml
  packages/webapp/package.js
  tools/cordova/builder.js
  tools/cordova/index.js
  tools/cordova/run-targets.js
Labels: Project:Mobile, Project:Webapp, Project:Tool

#11545 Enable HMR for all web arch's
  packages/autoupdate/autoupdate_client.js
  packages/autoupdate/autoupdate_cordova.js
  packages/autoupdate/autoupdate_server.js
  packages/ecmascript/plugin.js
  packages/hot-module-replacement/client.js
  packages/hot-module-replacement/hot-api.js
  packages/hot-module-replacement/package.js
  packages/modules-runtime-hot/legacy.js
  packages/modules-runtime-hot/package.js
  packages/react-fast-refresh/client-runtime.js
  packages/react-fast-refresh/client.js
  packages/react-fast-refresh/package.js
  packages/react-fast-refresh/server.js
  packages/typescript/plugin.js
  packages/webapp/webapp_server.js
  tools/cli/commands.js
  tools/cordova/builder.js
  tools/cordova/project.js
  tools/isobuild/bundler.js
  tools/isobuild/compiler-plugin.js
  tools/runners/run-all.js
  tools/runners/run-hmr.js
Labels: Project:Mobile, Project:Webapp, Project:JS Environment, Project:Tool, Project:Isobuild, Project:JS Environment:Typescript, Project:HMR

#11647 Container size in the command line
  tools/cli/commands.js
  tools/meteor-services/deploy.js
Labels: Project:Tool

#11652 Update accounts-ui less dependencies
  History.md
  packages/accounts-ui-unstyled/package.js
  packages/accounts-ui/package.js
Labels: Project:Accounts:UI
