Repository meteor/meteor, pull requests merged in 2022-11, with the labels that each got.

#12284 Bump to Node v14.21.0
  meteor
  scripts/build-dev-bundle-common.sh
Labels: Project:Release Process

#12279 MongoID._looksLikeObjectID bugfix
  packages/mongo-id/id.js
Labels: Project:Mongo Driver

#12274 Feat user accounts base async
  packages/accounts-base/accounts_client.js
  packages/accounts-base/accounts_client_tests.js
  packages/accounts-base/accounts_common.js
  packages/accounts-base/accounts_tests.js
  packages/accounts-password/password_client.js
Labels: Project:Accounts:Password

#12202 Move some OAuth of out of accounts-base
  docs/history.md
  packages/accounts-base/accounts_common.js
  packages/accounts-base/accounts_server.js
  packages/accounts-base/package.js
  packages/accounts-oauth/oauth_common.js
  packages/accounts-oauth/oauth_server.js
  packages/accounts-oauth/package.js
Labels: Project:Docs, Project:Accounts (in user apps)

#12220 Feat: not using insecure & autopublish by default
  tools/cli/commands.js
  tools/cli/help.txt
  tools/static-assets/skel-apollo/.meteor/packages
  tools/static-assets/skel-bare/.meteor/packages
  tools/static-assets/skel-blaze/.meteor/packages
  tools/static-assets/skel-chakra-ui/.meteor/packages
  tools/static-assets/skel-full/.meteor/packages
  tools/static-assets/skel-minimal/.meteor/packages
  tools/static-assets/skel-react/.meteor/packages
  tools/static-assets/skel-solid/.meteor/packages
  tools/static-assets/skel-svelte/.meteor/packages
  tools/static-assets/skel-tailwind/.meteor/packages
  tools/static-assets/skel-typescript/.meteor/packages
  tools/static-assets/skel-vue/.meteor/packages
Labels: Project:Tool

#12175 The rest of type definitions for core packages
  packages/accounts-base/accounts-base.d.ts
  packages/accounts-base/package-types.json
  packages/accounts-base/package.js
  packages/browser-policy-common/browser-policy-common.d.ts
  packages/browser-policy-common/package-types.json
  packages/browser-policy-common/package.js
  packages/check/check.d.ts
  packages/check/package-types.json
  packages/check/package.js
  packages/ddp-rate-limiter/ddp-rate-limiter.d.ts
  packages/ddp-rate-limiter/package-types.json
  packages/ddp-rate-limiter/package.js
  packages/ddp/ddp.d.ts
  packages/ddp/package-types.json
  packages/ddp/package.js
  packages/email/email.d.ts
  packages/email/package-types.json
  packages/email/package.js
  packages/hot-module-replacement/hot-module-replacement.d.ts
  packages/hot-module-replacement/package-types.json
  packages/hot-module-replacement/package.js
  packages/meteor/meteor.d.ts
  packages/meteor/package-types.json
  packages/meteor/package.js
  packages/modern-browsers/modern.d.ts
  packages/modern-browsers/package-types.json
  packages/modern-browsers/package.js
  packages/mongo/mongo.d.ts
  packages/mongo/package.js
  packages/mongo/package.types.json
  packages/promise/package.js
  packages/promise/package.types.json
  packages/promise/promise.d.ts
  packages/random/package-types.json
  packages/random/package.js
  packages/random/random.d.ts
  packages/reactive-dict/package-types.json
  packages/reactive-dict/package.js
  packages/reactive-dict/reactive-dict.d.ts
  packages/reactive-var/package-types.json
  packages/reactive-var/package.js
  packages/reactive-var/reactive-var.d.ts
  packages/server-render/package-types.json
  packages/server-render/package.js
  packages/server-render/server-render.d.ts
  packages/service-configuration/package-types.json
  packages/service-configuration/package.js
  packages/service-configuration/service-configuration.d.ts
  packages/session/package-types.json
  packages/session/package.js
  packages/session/session.d.ts
  packages/tracker/package-types.json
  packages/tracker/package.js
  packages/tracker/tracker.d.ts
  packages/underscore/package-types.json
  packages/underscore/package.js
  packages/underscore/underscore.d.ts
  packages/webapp/package-types.json
  packages/webapp/package.js
  packages/webapp/webapp.d.ts
Labels: Project:DDP, Project:Webapp, Project:Mongo Driver, Project:Utilities:Email, Project:Webapp:Browser Policy, Project:HMR

#12299 Dev bundle 14.21.1.0
  meteor
  scripts/build-dev-bundle-common.sh
Labels: Project:Release Process

#12221 Don't apply babel async-await plugin when not running on Fibers.
  .circleci/config.yml
  .travis.yml
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  npm-packages/meteor-babel/options.js
  npm-packages/meteor-babel/package-lock.json
  npm-packages/meteor-babel/package.json
  npm-packages/meteor-babel/runtime.js
  packages/babel-compiler/package.js
  packages/meteor/package.js
  packages/promise/server.js
  scripts/dev-bundle-tool-package.js
Labels: Project:JS Environment, Project:Release Process, Project:NPM

#12295 Implemented Fibers-less MongoDB count methods.
  packages/minimongo/cursor.js
  packages/minimongo/local_collection.js
  packages/mongo/collection.js
  packages/mongo/collection_async_tests.js
  packages/mongo/mongo_driver.js
  packages/mongo/remote_collection_driver.js
Labels: Project:Mongo Driver

#12298 (feat): Generate scaffold in cli
  docs/source/commandline.md
  tools/cli/commands.js
  tools/cli/help.txt
  tools/console/console.js
  tools/static-assets/scaffolds-js/collection.js
  tools/static-assets/scaffolds-js/index.js
  tools/static-assets/scaffolds-js/methods.js
  tools/static-assets/scaffolds-js/publications.js
  tools/static-assets/scaffolds-ts/collection.ts
  tools/static-assets/scaffolds-ts/index.ts
  tools/static-assets/scaffolds-ts/methods.ts
  tools/static-assets/scaffolds-ts/publications.ts
  tools/tsconfig.json
Labels: Project:Docs, Project:Tool, Project:Tool:Shell

#12312 [@meteorjs/eslint-config-meteor] chore: update links
  npm-packages/eslint-config-meteor/README.md
  npm-packages/eslint-config-meteor/index.js
  npm-packages/eslint-config-meteor/package.json
Labels: Project:NPM

#12204 Typescript 4.6.4
  docs/history.md
  npm-packages/eslint-plugin-meteor/package.json
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  npm-packages/meteor-babel/package.json
  packages/babel-compiler/package.js
  packages/typescript/package.js
  tools/static-assets/skel-typescript/package.json
Labels: Project:Docs, Project:JS Environment, Project:Tool, Project:NPM, Project:JS Environment:Typescript

#12322 Fix reference error in test-in-browser package
  .github/workflows/labeler.yml
  .github/workflows/npm-eslint-plugin-meteor.yml
  .github/workflows/npm-meteor-babel.yml
  .github/workflows/npm-meteor-promise.yml
  npm-packages/eslint-config-meteor/README.md
  npm-packages/eslint-config-meteor/index.js
  npm-packages/eslint-config-meteor/package.json
  packages/test-in-browser/driver.js
Labels: Project:NPM

#12327 feat: Auto import React on jsx,tsx files
  npm-packages/meteor-babel/options.js
Labels: Project:NPM

#12331 Feature/auto import react
  docs/history.md
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  npm-packages/meteor-babel/package.json
  packages/babel-compiler/package.js
  scripts/dev-bundle-tool-package.js
Labels: Project:Docs, Project:JS Environment, Project:Release Process, Project:NPM
