Repository meteor/meteor, pull requests merged in 2022-05, with the labels that each got.

#12024 fix url to galaxy deployment guide
  guide/source/deployment.md
Labels: Project:Guide

#11999 Release 2.7.2
  docs/history.md
  docs/source/api/accounts.md
  docs/source/api/collections.md
  docs/source/environment-variables.md
  docs/source/packages/fetch.md
  guide/source/deployment.md
  meteor
  npm-packages/meteor-installer/README.md
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/package.json
  npm-packages/meteor-node-stubs/package-lock.json
  npm-packages/meteor-node-stubs/package.json
  packages/accounts-2fa/2fa-server.js
  packages/accounts-2fa/package.js
  packages/accounts-base/accounts_client.js
  packages/accounts-base/accounts_server.js
  packages/accounts-base/package.js
  packages/hot-module-replacement/server.js
  packages/meteor-tool/package.js
  packages/modern-browsers/modern.js
  packages/modern-browsers/package.js
  packages/mongo/collection.js
  packages/mongo/package.js
  packages/socket-stream-client/browser.js
  packages/socket-stream-client/package.js
  packages/socket-stream-client/server.js
  packages/test-helpers/callback_logger.js
  scripts/admin/meteor-release-experimental.json
  scripts/admin/meteor-release-official.json
  tools/cli/commands.js
  tools/cli/help.txt
  tools/fs/files.ts
  tools/isobuild/unibuild.js
  tools/packaging/tropohouse.js
  tools/static-assets/README.md
  tools/static-assets/skel-apollo/package.json
  tools/static-assets/skel-bare/package.json
  tools/static-assets/skel-blaze/package.json
  tools/static-assets/skel-full/package.json
  tools/static-assets/skel-minimal/package.json
  tools/static-assets/skel-react/package.json
  tools/static-assets/skel-svelte/package.json
  tools/static-assets/skel-tailwind/.gitignore
  tools/static-assets/skel-tailwind/.meteor/.gitignore
  tools/static-assets/skel-tailwind/.meteor/packages
  tools/static-assets/skel-tailwind/.meteor/platforms
  tools/static-assets/skel-tailwind/client/main.css
  tools/static-assets/skel-tailwind/client/main.html
  tools/static-assets/skel-tailwind/client/main.jsx
  tools/static-assets/skel-tailwind/imports/api/links.js
  tools/static-assets/skel-tailwind/imports/ui/App.jsx
  tools/static-assets/skel-tailwind/imports/ui/Hello.jsx
  tools/static-assets/skel-tailwind/imports/ui/Info.jsx
  tools/static-assets/skel-tailwind/package.json
  tools/static-assets/skel-tailwind/postcss.config.js
  tools/static-assets/skel-tailwind/server/main.js
  tools/static-assets/skel-tailwind/tailwind.config.js
  tools/static-assets/skel-tailwind/tests/main.js
  tools/static-assets/skel-typescript/package.json
  tools/static-assets/skel-vue/package.json
Labels: Project:Docs, Project:DDP, Project:Mongo Driver, Project:Tool, Project:Isobuild, Project:Release Process, Project:NPM, Project:HMR

#12033 Fix typo in console.js
  tools/console/console.js
Labels: Project:Tool, Project:Tool:Shell

#12042 Added online version of autoprefixer.
  guide/source/build-tool.md
Labels: Project:Guide

#12043 Describe the PORT variable in Custom Deployment
  guide/source/deployment.md
Labels: Project:Guide

#12045 Add Cordova M1 installation instructions
  guide/source/cordova.md
Labels: Project:Guide

#12023 Fix recompiling npm packages for web arch
  tools/project-context.js
Labels: Project:Tool, Project:NPM

#12044 Upgrade to Node v14.19.2 & npm v6.14.17 ✅
  docs/history.md
  meteor
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-tool-package.js
Labels: Project:Docs, Project:Release Process

#12050 Increase max size of IMPORT_SCANNER_CACHE
  tools/isobuild/import-scanner.ts
Labels: Project:Tool, Project:Isobuild

#12049 Fix win style paths being added to watch sets
  tools/fs/watch.ts
  tools/isobuild/compiler-plugin.js
Labels: Project:Tool, Project:Isobuild
