Repository meteor/meteor, pull requests merged in 2022-03, with the labels that each got.

#11951 Fix typo in publish.js
  docs/jsdoc/docdata-jsdoc-template/publish.js
Labels: Project:Docs

#11953 Allow minifiers to get source path of file
  docs/source/api/packagejs.md
  packages/standard-minifier-css/plugin/minify-css.js
  tools/isobuild/bundler.js
  tools/isobuild/compiler-plugin.js
  tools/isobuild/minifier-plugin.js
Labels: Project:Docs, Project:Isobuild:Minifiers, Project:Tool, Project:Isobuild, Project:CSS

#11954 Fix some npm modules being imported as an empty object
  docs/history.md
  packages/modules-runtime/package.js
  packages/modules-runtime/server.js
Labels: Project:Docs, Project:Modules

#11955 Support node: imports
  npm-packages/meteor-node-stubs/index.js
  tools/isobuild/resolver.ts
Labels: Project:Tool, Project:Isobuild, Project:Modules

#11956 Adjust import scanner cache size
  tools/isobuild/import-scanner.ts
Labels: Project:Tool, Project:Isobuild:Performance, Project:Isobuild

#11960 Fix broken links
  packages/ddp/README.md
Labels: Project:DDP

#11980 2FA return secret as well
  docs/source/packages/accounts-2fa.md
  packages/accounts-2fa/2fa-server.js
Labels: Project:Accounts:Password

#11983 Updating terser version on minifier-js
  docs/history.md
  packages/minifier-js/.npm/package/npm-shrinkwrap.json
  packages/minifier-js/package.js
Labels: Project:Docs, Project:Isobuild:Minifiers

#11979 Update to Node 14.19.1
  meteor
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-tool-package.js
Labels: Project:Release Process

#11990 Pass on the real postcss error message if processing fails
  packages/standard-minifier-css/plugin/minify-css.js
Labels: Project:Isobuild:Minifiers, Project:CSS

#11991 Adjusts in the package accounts-2fa
  docs/history.md
  docs/source/packages/accounts-2fa.md
  packages/accounts-2fa/2fa-client.js
  packages/accounts-2fa/2fa-server.js
  packages/accounts-2fa/client_tests.js
  packages/accounts-2fa/package.js
  packages/accounts-2fa/server_tests.js
  packages/accounts-base/accounts_client_tests.js
  packages/accounts-password/package.js
  packages/accounts-passwordless/package.js
  packages/accounts-passwordless/passwordless_server.js
Labels: Project:Docs, Project:Accounts:Password
