Repository meteor/meteor, pull requests merged in 2022-01, with the labels that each got.

#11832 Fixes invalid package.json files breaking Meteor run
  tools/isobuild/package-source.js
Labels: Project:Tool, Project:Isobuild

#11833 Release 2.5.3
  History.md
  docs/source/api/accounts.md
  docs/source/index.md
  npm-packages/meteor-installer/README.md
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/package.json
  packages/meteor-tool/package.js
  packages/react-fast-refresh/package.js
  scripts/admin/meteor-release-official.json
  tools/isobuild/package-source.js
Labels: Project:Docs, Project:Tool, Project:Isobuild, Project:Release Process, Project:NPM

#11825 Fix #11817 add try/catch to end of redirect response
  packages/oauth/end_of_redirect_response.js
Labels: Project:Accounts (in user apps)

#11844 Update node to 14.18.3
  meteor
  scripts/build-dev-bundle-common.sh
Labels: Project:Release Process

#11849 Fix MongoDB Node Driver 4 high cpu usage
  packages/mongo/mongo_driver.js
Labels: Project:Mongo Driver

#11785 FIX firing onLogin twice
  packages/accounts-base/accounts_client.js
Labels: Project:Accounts (in user apps)

#11859 Standardize only one way of extracting tars
  History.md
  npm-packages/meteor-installer/README.md
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/package.json
  packages/meteor-tool/package.js
  scripts/admin/meteor-release-experimental.json
  scripts/admin/meteor-release-official.json
  tools/fs/files.ts
Labels: Project:Tool, Project:Release Process, Project:NPM

#11860 Release 2.5.5
  History.md
  meteor
  npm-packages/meteor-installer/README.md
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/package.json
  packages/accounts-base/accounts_client.js
  packages/accounts-base/package.js
  packages/meteor-tool/package.js
  packages/oauth/end_of_redirect_response.js
  packages/oauth/package.js
  scripts/admin/meteor-release-experimental.json
  scripts/admin/meteor-release-official.json
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-tool-package.js
  tools/fs/files.ts
Labels: Project:Tool, Project:Release Process, Project:NPM

#11872 Release 2.5.6
  History.md
  meteor
  packages/meteor-tool/package.js
  scripts/admin/meteor-release-official.json
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
Labels: Project:Tool, Project:Release Process

#11797 Add support for iOS storyboard launch screen + dark mode
  History.md
  docs/source/api/mobile-config.md
  tools/cordova/assets/launchscreens/1024x768.png
  tools/cordova/assets/launchscreens/1080x1440.png
  tools/cordova/assets/launchscreens/1242x2208.png
  tools/cordova/assets/launchscreens/1440x1080.png
  tools/cordova/assets/launchscreens/1536x2048.png
  tools/cordova/assets/launchscreens/2048x1536.png
  tools/cordova/assets/launchscreens/2208x1242.png
  tools/cordova/assets/launchscreens/320x470.png
  tools/cordova/assets/launchscreens/470x320.png
  tools/cordova/assets/launchscreens/480x640.png
  tools/cordova/assets/launchscreens/640x1136.png
  tools/cordova/assets/launchscreens/640x480.png
  tools/cordova/assets/launchscreens/640x960.png
  tools/cordova/assets/launchscreens/720x960.png
  tools/cordova/assets/launchscreens/750x1334.png
  tools/cordova/assets/launchscreens/768x1024.png
  tools/cordova/assets/launchscreens/960x720.png
  tools/cordova/assets/launchscreens/android_mdpi_portrait.png
  tools/cordova/assets/launchscreens/ios_universal.png
  tools/cordova/builder.js
Labels: Project:Mobile, Project:Docs, Project:Tool

#11868 Fix resolving npm deps of local packages when on different drive
  tools/fs/files.ts
  tools/isobuild/resolver.ts
Labels: Project:Tool, Project:Isobuild, Project:Windows

#11876 Update testing guide
  guide/source/testing.md
Labels: Project:Guide

#11879 When creating a tarball, ensure the fmode and dmode are set to readable/writable for sharing tarballs between windows/unixes
  guide/source/testing.md
  tools/fs/files.ts
Labels: Project:Tool

#11878 Set explicitly write concern to w:1 on mongo v5 when running locally
  docs/history.md
  guide/source/2.6-migration.md
  tools/runners/run-mongo.js
Labels: Project:Docs, Project:Tool, Project:Guide

#11818 accounts-2fa package
  docs/_config.yml
  docs/source/api/passwords.md
  docs/source/packages/accounts-2fa.md
  docs/source/packages/accounts-passwordless.md
  packages/accounts-2fa/.gitignore
  packages/accounts-2fa/2fa-client.js
  packages/accounts-2fa/2fa-server.js
  packages/accounts-2fa/README.md
  packages/accounts-2fa/package.js
  packages/accounts-base/accounts_client_tests.js
  packages/accounts-base/accounts_tests_setup.js
  packages/accounts-base/package.js
  packages/accounts-password/package.js
  packages/accounts-password/password_client.js
  packages/accounts-password/password_server.js
  packages/accounts-passwordless/package.js
  packages/accounts-passwordless/passwordless_client.js
  packages/accounts-passwordless/passwordless_server.js
  packages/accounts-passwordless/server_utils.js
Labels: Project:Docs, Project:Accounts:Password, Project:Accounts (in user apps), in-development
