Repository meteor/meteor, pull requests merged in 2022-08, with the labels that each got.

#12100 Feature/fibers check enabled by flag
  packages/meteor/helpers.js
  tools/static-assets/server/boot.js
Labels: Project:Tool

#12099 Updating skeletons
  tools/static-assets/skel-apollo/server/main.js
  tools/static-assets/skel-full/imports/startup/server/fixtures.js
  tools/static-assets/skel-react/server/main.js
  tools/static-assets/skel-svelte/imports/api/links.js
  tools/static-assets/skel-svelte/package.json
  tools/static-assets/skel-svelte/server/main.js
  tools/static-assets/skel-tailwind/server/main.js
  tools/static-assets/skel-typescript/server/main.ts
  tools/static-assets/skel-vue/imports/api/fixtures.js
Labels: Project:Tool

#12097 Updated MongoDB driver to 4.8
  packages/mongo/collection.js
  packages/mongo/collection_async_tests.js
  packages/mongo/collection_tests.js
  packages/mongo/doc_fetcher_tests.js
  packages/mongo/mongoAsyncUtils.js
  packages/mongo/mongo_driver.js
  packages/mongo/mongo_livedata_tests.js
  packages/mongo/oplog_tailing.js
  packages/mongo/oplog_tests.js
  packages/mongo/remote_collection_driver.js
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/npm-mongo/package.js
  tools/runners/run-mongo.js
Labels: Project:Mongo Driver, Project:Tool

#12091 Update Apollo skeleton
  tools/static-assets/skel-apollo/package.json
  tools/static-assets/skel-apollo/server/apollo.js
Labels: Project:Tool

#12084 Refactoring/Remove unused imports from `tools` folder
  docs/source/commandline.md
  tools/cli/commands-packages.js
  tools/cli/dev-bundle-bin-commands.js
  tools/cordova/builder.js
  tools/cordova/run-targets.js
  tools/cordova/runner.js
  tools/isobuild/bundler.js
  tools/isobuild/compiler-plugin.js
  tools/isobuild/isopack-cache.js
  tools/isobuild/meteor-npm.js
  tools/isobuild/minifier-plugin.js
  tools/isobuild/package-source.js
  tools/meteor-services/deploy.js
  tools/runners/run-app.js
  tools/runners/run-hmr.js
  tools/runners/run-mongo.js
  tools/runners/run-updater.js
  tools/tests/assets.js
  tools/tests/colon-converter-tests.js
  tools/tests/command-line.js
  tools/tests/compiler-plugins.js
  tools/tests/constraint-solver.js
  tools/tests/cordova-append-config.js
  tools/tests/cordova-hcp.js
  tools/tests/cordova-platforms.js
  tools/tests/cordova-run.js
  tools/tests/dynamic-import.js
  tools/tests/linter-plugins.js
  tools/tests/mongo.js
  tools/tests/package-tests.js
  tools/tests/parse-stack-test.js
  tools/tests/source-maps.js
  tools/tests/static-html.js
  tools/tool-env/isopackets.js
  tools/tool-testing/clients/browserstack/index.js
  tools/tool-testing/selftest.js
  tools/upgraders.js
Labels: Project:Mobile, Project:Docs, Project:Tool, Project:Isobuild

#12078 Upgrade Node to v14.20.0
  docs/history.md
  meteor
  scripts/build-dev-bundle-common.sh
Labels: Project:Docs, Project:Release Process

#12090 Remove useraccounts from Guide
  guide/source/accounts.md
Labels: Project:Guide

#12131 Update Cordova Android to 10.1.2
  guide/source/cordova.md
  tools/cordova/index.js
Labels: Project:Mobile, Project:Tool, Project:Guide

#12066 Validates required Node.js version
  docs/history.md
  npm-packages/meteor-installer/README.md
  npm-packages/meteor-installer/install.js
  npm-packages/meteor-installer/package.json
Labels: Project:Docs, Project:Installer, Project:NPM

#12136 Update postcss from the minifier-css package
  packages/minifier-css/package.js
Labels: Project:Isobuild:Minifiers, Project:CSS

#12137 Update terser from the minifier-js package
  packages/minifier-js/package.js
Labels: Project:Isobuild:Minifiers

#12125 Fixed `MongoConnection._onFailover` hook (fixes #12118).
  packages/mongo/mongo_driver.js
  packages/mongo/oplog_tests.js
  tools/tests/run.js
Labels: Project:Mongo Driver, Project:Tool

#12141 Update standard-minifier-css dependencies
  packages/standard-minifier-css/package.js
Labels: Project:Isobuild:Minifiers, Project:CSS

#12142 Update standard-minifier-js dependencies
  packages/standard-minifier-js/package.js
Labels: Project:Isobuild:Minifiers

#12120 Fix bugs for linter build plugins
  tools/cli/commands.js
  tools/isobuild/build-plugin.js
  tools/isobuild/compiler.js
  tools/isobuild/package-source.js
Labels: Project:Tool, Project:Isobuild

#12115 Exit on MongoDB connection error
  packages/mongo/mongo_livedata_tests.js
  packages/mongo/remote_collection_driver.js
Labels: Project:Mongo Driver

#12116 Improved `oplogV2V1Converter` implementation.
  packages/mongo/oplog_v2_converter.js
  packages/mongo/oplog_v2_converter_tests.js
Labels: Project:Mongo Driver

#12166 fix: rename setPublicationStrategy and getPublicationStrategy arguments.
  docs/source/api/pubsub.md
  packages/ddp-server/livedata_server.js
Labels: Project:Docs, Project:DDP

#12167 Feat changelog 2.8
  docs/history.md
Labels: Project:Docs

#12168 Feat migration guide for 2.8
  docs/history.md
  guide/source/2.8-migration.md
Labels: Project:Docs, Project:Guide

#12170 chore: added how can I use section to change log
  guide/source/2.8-migration.md
Labels: Project:Guide
