Repository meteor/meteor, pull requests merged in 2022-04, with the labels that each got.

#11995 Re-create index when already exists
  docs/history.md
  docs/source/api/collections.md
  packages/accounts-base/accounts_client.js
  packages/accounts-base/accounts_server.js
  packages/mongo/collection.js
  packages/mongo/package.js
Labels: Project:Docs, Project:Mongo Driver

#12005 Improve accounts docs
  docs/source/api/accounts.md
Labels: Project:Docs

#12000 Creating new skeleton that will have tailwind configured by default
  tools/cli/commands.js
  tools/cli/help.txt
  tools/static-assets/README.md
  tools/static-assets/skel-tailwind/.gitignore
  tools/static-assets/skel-tailwind/.meteor/.gitignore
  tools/static-assets/skel-tailwind/.meteor/packages
  tools/static-assets/skel-tailwind/.meteor/platforms
  tools/static-assets/skel-tailwind/client/main.css
  tools/static-assets/skel-tailwind/client/main.html
  tools/static-assets/skel-tailwind/client/main.jsx
  tools/static-assets/skel-tailwind/imports/api/links.js
  tools/static-assets/skel-tailwind/imports/ui/App.jsx
  tools/static-assets/skel-tailwind/imports/ui/Hello.jsx
  tools/static-assets/skel-tailwind/imports/ui/Info.jsx
  tools/static-assets/skel-tailwind/package.json
  tools/static-assets/skel-tailwind/postcss.config.js
  tools/static-assets/skel-tailwind/server/main.js
  tools/static-assets/skel-tailwind/tailwind.config.js
  tools/static-assets/skel-tailwind/tests/main.js
Labels: Project:Tool

#12001 Update skeleton dependencies
  docs/history.md
  tools/static-assets/skel-apollo/package.json
  tools/static-assets/skel-bare/package.json
  tools/static-assets/skel-blaze/package.json
  tools/static-assets/skel-full/package.json
  tools/static-assets/skel-minimal/package.json
  tools/static-assets/skel-react/package.json
  tools/static-assets/skel-svelte/package.json
  tools/static-assets/skel-typescript/package.json
  tools/static-assets/skel-vue/package.json
Labels: Project:Docs, Project:Tool

#12007 Ability to disable sockjs on client side
  docs/source/api/accounts.md
  docs/source/environment-variables.md
  packages/socket-stream-client/browser.js
  packages/socket-stream-client/server.js
Labels: Project:Docs, Project:DDP, missing-docs

#12010 Fix reading packages installed before Meteor 1.2
  packages/hot-module-replacement/server.js
  tools/fs/files.ts
  tools/isobuild/unibuild.js
  tools/packaging/tropohouse.js
Labels: Project:Tool, Project:Isobuild, Project:HMR

#12014 Fix using meteor-node-stubs in IE
  npm-packages/meteor-node-stubs/package-lock.json
  npm-packages/meteor-node-stubs/package.json
Labels: Project:NPM

#12018 Update fetch.md
  docs/source/packages/fetch.md
Labels: Project:Docs
