Repository meteor/meteor, pull requests merged in 2022-06, with the labels that each got.

#12055 Upgrading reify version
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-server-package.js
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  packages/modules/package.js
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
Labels: Project:Release Process, Project:NPM

#12028 Mongo Package Async API
  packages/minimongo/constants.js
  packages/minimongo/cursor.js
  packages/mongo/collection.js
  packages/mongo/collection_async_tests.js
  packages/mongo/doc_fetcher_tests.js
  packages/mongo/mongoAsyncUtils.js
  packages/mongo/mongo_driver.js
  packages/mongo/mongo_livedata_tests.js
  packages/mongo/oplog_tailing.js
  packages/mongo/oplog_tests.js
  packages/mongo/package.js
  packages/mongo/remote_collection_driver.js
  packages/test-in-console/run.sh
Labels: Project:Mongo Driver

#12064 Fix typo in bundler.js
  tools/isobuild/bundler.js
Labels: Project:Tool, Project:Isobuild
