Repository meteor/meteor, pull requests merged in 2022-10, with the labels that each got.

#12195 Upgrade Node to v14.20.1
  docs/history.md
  meteor
  scripts/build-dev-bundle-common.sh
Labels: Project:Docs, Project:Release Process

#12205 updated the doc with the dependency of --container-size on --plan flag
  CODE_OF_CONDUCT.md
  docs/source/commandline.md
  docs/source/packages/fetch.md
  docs/source/roadmap.md
Labels: Project:Docs, hacktoberfest-accepted

#12196 callAsync - New method to call async functions
  docs/history.md
  packages/ddp-client/client/client_convenience.js
  packages/ddp-client/common/livedata_connection.js
  packages/ddp-server/livedata_server.js
  packages/ddp-server/server_convenience.js
  packages/meteor/dynamics_browser.js
  packages/meteor/dynamics_nodejs.js
  packages/minifier-css/.npm/package/npm-shrinkwrap.json
  packages/minifier-js/.npm/package/npm-shrinkwrap.json
  packages/standard-minifier-css/.npm/plugin/minifyStdCSS/npm-shrinkwrap.json
  packages/standard-minifier-js/.npm/plugin/minifyStdJS/npm-shrinkwrap.json
Labels: Project:Docs, Project:DDP

#12219 Fix MongoDB driver Warning: cursor.count
  packages/mongo/mongo_driver.js
Labels: Project:Mongo Driver

#12231 feat: auto semver updater
  scripts/admin/update-semver/get-diff.sh
  scripts/admin/update-semver/index.js
  scripts/admin/update-semver/package-lock.json
  scripts/admin/update-semver/package.json
Labels: Project:Release Process

#12249 chore: updated css cdn link
  packages/non-core/less/tests/top-cdn-file.import.less
  packages/non-core/less/tests/top.import.less
Labels: Project:CSS

#12081 [Refactoring] modernize `tools/run-updater.js`
  .eslintignore
  npm-packages/eslint-plugin-meteor/.eslintignore
  tools/runners/run-all.js
  tools/runners/run-updater.js
Labels: Project:Tool

#12174 Type definitions for core packages
  packages/ejson/ejson.d.ts
  packages/ejson/package-types.json
  packages/ejson/package.js
  packages/fetch/fetch.d.ts
  packages/fetch/package-types.json
  packages/fetch/package.js
Labels: Project:Utilities:HTTP, Project:EJSON

#12182 Use true mongo binary types
  packages/mongo/collection_tests.js
  packages/mongo/mongo_driver.js
  packages/mongo/package.js
Labels: Project:Mongo Driver

#12236 Show port in restart message
  tools/runners/run-app.js
  tools/runners/run-log.js
  tools/tests/server-restart-port.js
Labels: Project:Tool, hacktoberfest-accepted

#12212 Fix case insensitive lookup resource overuse
  packages/accounts-base/accounts_server.js
Labels: Project:Accounts:Password

#12149 Add https proxy support to meteor-installer
  npm-packages/meteor-installer/README.md
  npm-packages/meteor-installer/install.js
Labels: Project:NPM

#12209 Update default Facebook API to v15 and fix local changelog
  docs/history.md
  packages/facebook-oauth/CHANGELOG.md
  packages/facebook-oauth/facebook_client.js
Labels: Project:Docs, Project:Accounts:OAuth

#12272 Fix dead link in docs
  docs/source/api/email.md
Labels: Project:Docs, hacktoberfest-accepted

#12218 Add docs for Accounts.registerLoginHandler
  docs/source/api/accounts-multi.md
  packages/accounts-base/accounts_server.js
Labels: Project:Docs, hacktoberfest-accepted

#12239 [webapp-hashing] Remove underscore
  packages/webapp-hashing/package.js
  packages/webapp-hashing/webapp-hashing.js
Labels: Project:Webapp

#12257 [ecmascript] Remove underscore
  packages/ecmascript/package.js
  packages/ecmascript/runtime-tests.js
Labels: Project:JS Environment

#12264 [browser-policy-framing] Remove underscore
  packages/browser-policy-framing/browser-policy-framing.js
  packages/browser-policy-framing/package.js
Labels: Project:Webapp:Browser Policy

#12101 Create `Email.sendAsync` method without using Fibers.
  docs/source/api/email.md
  packages/email/email.js
  packages/email/email_test_helpers.js
  packages/email/email_tests.js
  packages/email/email_tests_data.js
Labels: Project:Docs, Project:Utilities:Email

#12105 Create async method `CssTools.minifyCssAsync`
  packages/minifier-css/minifier-async-tests.js
  packages/minifier-css/minifier.js
  packages/minifier-css/package.js
  packages/standard-minifier-css/plugin/minify-css.js
Labels: Project:Isobuild:Minifiers, Project:CSS

#12156 Change Accounts and Oauth to use Async methods.
  packages/accounts-base/accounts_server.js
  packages/accounts-password/password_server.js
  packages/accounts-password/password_tests.js
  packages/facebook-oauth/facebook_server.js
  packages/facebook-oauth/package.js
  packages/github-oauth/github_server.js
  packages/google-oauth/google_server.js
  packages/meetup-oauth/meetup_server.js
  packages/meetup-oauth/package.js
  packages/meteor-developer-oauth/meteor_developer_server.js
  packages/meteor-developer-oauth/package.js
  packages/oauth/oauth_server.js
  packages/oauth/package.js
  packages/oauth1/oauth1_binding.js
  packages/oauth1/oauth1_server.js
  packages/oauth1/oauth1_tests.js
  packages/oauth1/package.js
  packages/oauth2/oauth2_server.js
  packages/oauth2/oauth2_tests.js
  packages/twitter-oauth/twitter_server.js
  packages/weibo-oauth/package.js
  packages/weibo-oauth/weibo_server.js
Labels: Project:Accounts:Password

#12275 In the client, don't wait if the stub doesn't return a promise
  packages/ddp-client/common/livedata_connection.js
Labels: Project:DDP
