Repository meteor/meteor, pull requests merged in 2022-02, with the labels that each got.

#11880 Update node version to 14.19.0
  meteor
  scripts/build-dev-bundle-common.sh
Labels: Project:Release Process

#11777 installer: Add a flag to skip modifying exec path
  docs/source/install.md
  npm-packages/meteor-installer/README.md
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/install.js
Labels: Project:Docs, Project:Installer, Project:NPM

#11678 Email.send fix minor fix
  docs/history.md
  packages/email/email.js
  packages/email/package.js
Labels: Project:Utilities:Email

#11708 Accounts UI config via settings
  docs/history.md
  docs/source/api/accounts.md
  packages/accounts-ui-unstyled/accounts_ui.js
  packages/accounts-ui-unstyled/package.js
Labels: Project:Docs, Project:Accounts:UI

#11885 Fix flatten object issue when the object is empty on oplog converter
  packages/mongo/oplog_v2_converter.js
  packages/mongo/oplog_v2_converter_tests.js
Labels: Project:Mongo Driver

#11866 fix(ejson): fix equals check with Arrays
  packages/ejson/ejson.js
  packages/ejson/ejson_tests.js
  packages/mongo/oplog_v2_converter.js
  packages/mongo/oplog_v2_converter_tests.js
  packages/mongo/package.js
Labels: Project:EJSON, pending-tests

#11898 Fix running self tests on m1
  tools/tool-testing/clients/puppeteer/index.js
Labels: Project:Tool

#11897 Pass lazy css resources to minifier in development
  tools/isobuild/bundler.js
  tools/tests/apps/custom-minifier/body.html
  tools/tests/apps/custom-minifier/code.js
  tools/tests/apps/custom-minifier/imports/imported.css
  tools/tests/apps/custom-minifier/packages/custom-minifier/plugin/minify.js
  tools/tests/custom-minifier.js
Labels: Project:Tool, Project:Isobuild

#11903 Run PostCSS plugins in standard-minifier-css
  packages/minifier-css-postcss/.gitignore
  packages/minifier-css-postcss/LICENSE
  packages/minifier-css-postcss/README.md
  packages/minifier-css-postcss/package-lock.json
  packages/minifier-css-postcss/package.js
  packages/minifier-css-postcss/package.json
  packages/minifier-css-postcss/plugin/minify-css-postcss.js
  packages/standard-minifier-css/.npm/plugin/minifyStdCSS/npm-shrinkwrap.json
  packages/standard-minifier-css/README.md
  packages/standard-minifier-css/package.js
  packages/standard-minifier-css/plugin/minify-css.js
  packages/standard-minifier-css/plugin/postcss.js
Labels: Project:Isobuild:Minifiers, Project:CSS

#11875 Update decimal.js
  packages/non-core/mongo-decimal/package.js
Labels: Project:Mongo Driver, in-discussion

#11850 Fix #11827 custom user fields not publishing
  docs/history.md
  packages/accounts-base/accounts_server.js
  packages/accounts-base/accounts_tests.js
Labels: Project:Docs, pending-tests

#11908 Support the new "projection" field inside the decision of using oplog for a published cursor or not
  packages/mongo/oplog_observe_driver.js
Labels: Project:Mongo Driver

#11907 Fix sync return for insert methods inside _collection private method
  packages/mongo/mongo_driver.js
Labels: Project:Mongo Driver

#11906 Feature/retry login after popup close
  docs/history.md
  packages/accounts-oauth/oauth_client.js
  packages/accounts-oauth/package.js
Labels: Project:Docs

#11909 Update docs for PostCSS
  docs/_config.yml
  docs/history.md
  docs/source/packages/standard-minifier-css.md
  guide/source/2.6.1-migration.md
  guide/source/build-tool.md
  packages/hot-module-replacement/README.md
  packages/standard-minifier-css/README.md
Labels: Project:Docs, Project:Isobuild:Minifiers, Project:CSS, Project:HMR, Project:Guide

#11724 GitHub OAuth allow_signup & more data returned
  docs/history.md
  docs/source/packages/server-render.md
  packages/github-oauth/github_client.js
  packages/github-oauth/github_server.js
  packages/github-oauth/package.js
  packages/mongo/collection.js
  packages/mongo/observe_changes_tests.js
  packages/mongo/package.js
  packages/static-html/package.js
Labels: Project:Docs, Project:Mongo Driver

#11891 Throwing error when no mail URL is set but the app is running in a
  docs/history.md
  packages/email/email.js
Labels: Project:Docs, Project:Utilities:Email

#11757 [Facebook OAuth] Use Facebook API v12
  docs/history.md
  packages/facebook-oauth/facebook_client.js
  packages/facebook-oauth/facebook_server.js
  packages/facebook-oauth/package.js
Labels: Project:Docs

#11929 Fix multiple array operators bug and add support for debug messages
  packages/mongo/oplog_v2_converter.js
  packages/mongo/oplog_v2_converter_tests.js
Labels: Project:Mongo Driver

#11932 Revert missing binary permission bit when packing a meteor bundle on Windows
  tools/fs/files.ts
Labels: Project:Tool

#11922 Fix issues with HMR and meteor build --debug
  packages/hot-module-replacement/server.js
  packages/webapp/webapp_server.js
Labels: Project:Webapp, Project:HMR

#11917 Release 2.6.1
  docs/history.md
  meteor
  npm-packages/meteor-babel/package-lock.json
  npm-packages/meteor-babel/package.json
  npm-packages/meteor-installer/README.md
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/package.json
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  packages/babel-compiler/package.js
  packages/hot-module-replacement/package.js
  packages/hot-module-replacement/server.js
  packages/meteor-tool/package.js
  packages/mongo/oplog_v2_converter.js
  packages/mongo/oplog_v2_converter_tests.js
  packages/mongo/package.js
  packages/webapp/package.js
  packages/webapp/webapp_server.js
  scripts/admin/meteor-release-experimental.json
  scripts/admin/meteor-release-official.json
  scripts/dev-bundle-tool-package.js
  tools/fs/files.ts
  tools/static-assets/skel-svelte/package.json
  tools/tests/custom-minifier.js
  tools/tests/hot-code-push.js
  tools/tests/package-tests.js
  tools/tool-testing/clients/browserstack/clients.js
  tools/tool-testing/clients/browserstack/index.js
Labels: Project:Docs, Project:Webapp, Project:Mongo Driver, Project:JS Environment, Project:Tool, Project:Release Process, Project:NPM, Project:HMR

#11938 docs: fix example code in security guide
  guide/source/security.md
Labels: Project:Guide

#11944 Improving 2.6 migration guide
  docs/history.md
  guide/source/2.6-migration.md
Labels: Project:Docs, Project:Guide
