Repository meteor/meteor, pull requests merged in 2022-12, with the labels that each got.

#12338 update 2.8-migration.md, fix typo
  guide/source/2.8-migration.md
Labels: Project:Guide

#12339 oplog-converter: Handle array item updates
  packages/mongo/oplog_v2_converter.js
  packages/mongo/oplog_v2_converter_tests.js
Labels: Project:Mongo Driver

#12342 Solving 2.9 tests
  npm-packages/meteor-babel/options.js
  npm-packages/meteor-babel/package-lock.json
  npm-packages/meteor-babel/package.json
Labels: Project:NPM

#12344 Dev bundle 14.21.1.2
  meteor
  scripts/dev-bundle-tool-package.js
Labels: Project:Release Process

#12343 Solving 2.9 tests
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  tools/cli/commands.js
Labels: Project:Tool

#12328 Meteor version to 2.8.2 :comet:
  docs/history.md
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  npm-packages/meteor-babel/options.js
  npm-packages/meteor-babel/package.json
  packages/babel-compiler/package.js
  packages/meteor-tool/package.js
  packages/mongo/collection_tests.js
  packages/mongo/mongo_driver.js
  packages/mongo/package.js
  scripts/admin/meteor-release-official.json
  scripts/dev-bundle-tool-package.js
Labels: Project:Docs, Project:Mongo Driver, Project:JS Environment, Project:Tool, Project:Release Process, Project:NPM

#12360 Dev bundle 14.21.1.3
  meteor
  scripts/dev-bundle-tool-package.js
Labels: Project:Release Process

#12350 update svelte skeleton
  docs/source/commandline.md
  tools/static-assets/skel-svelte/.meteor/packages
  tools/static-assets/skel-svelte/imports/api/links.js
  tools/static-assets/skel-svelte/imports/api/links.ts
  tools/static-assets/skel-svelte/imports/ui/App.svelte
  tools/static-assets/skel-svelte/package.json
  tools/static-assets/skel-svelte/server/main.js
  tools/static-assets/skel-svelte/tsconfig.json
Labels: Project:Docs, Project:Tool

#12370 Bump to node 14.21.2.0
  meteor
  scripts/build-dev-bundle-common.sh
Labels: Project:Release Process

#12373 Updated breaking changes docs for more clarity
  docs/history.md
Labels: Project:Docs

#12377 chore: update dev bundle
  meteor
  npm-packages/meteor-babel/options.js
  npm-packages/meteor-babel/package.json
  npm-packages/meteor-babel/plugins/async-await.js
  scripts/dev-bundle-tool-package.js
Labels: Project:Release Process, Project:NPM

#12374 docs: update on history.md(breaking changes)
  docs/history.md
Labels: Project:Docs

#12382 docs: updating meteor generate docs
  docs/source/commandline.md
Labels: Project:Docs

#12386 Remove wrapAsync from email package
  docs/history.md
  packages/accounts-password/password_server.js
  packages/accounts-passwordless/passwordless_server.js
  packages/deprecated/http/httpcall_server.js
  packages/email/email.d.ts
  packages/email/email.js
  packages/email/email_tests.js
Labels: Project:Docs, Project:Accounts:Password, Project:Utilities:Email, Project:Utilities:HTTP

#12385 chore: resetPassword and verifyEmail to no longer sign in the user automatically
  docs/history.md
  docs/source/api/passwords.md
  packages/accounts-password/package.js
  packages/accounts-password/password_client.js
  packages/accounts-password/password_server.js
Labels: Project:Docs, Project:Accounts:Password

#12387 docs: update docs about --prototype
  docs/source/commandline.md
Labels: Project:Docs

#12392 Remove toHTML method from boilerplate-generator
  docs/history.md
  packages/boilerplate-generator/generator.js
  packages/boilerplate-generator/package.js
Labels: Project:Docs

#12396 Missing vue2 declaration
  tools/cli/commands.js
Labels: Project:Tool

#12394 Moves code from mongo-async package back to mongo package
  packages/mongo-async/.gitignore
  packages/mongo-async/.npm/package/.gitignore
  packages/mongo-async/.npm/package/README
  packages/mongo-async/.npm/package/npm-shrinkwrap.json
  packages/mongo-async/README.md
  packages/mongo-async/allow_tests.js
  packages/mongo-async/collection.js
  packages/mongo-async/collection_async_tests.js
  packages/mongo-async/collection_tests.js
  packages/mongo-async/connection_options.js
  packages/mongo-async/doc_fetcher.js
  packages/mongo-async/doc_fetcher_tests.js
  packages/mongo-async/local_collection_driver.js
  packages/mongo-async/mongo_driver.js
  packages/mongo-async/mongo_livedata_tests.js
  packages/mongo-async/mongo_utils.js
  packages/mongo-async/observe_changes_tests.js
  packages/mongo-async/observe_multiplex.js
  packages/mongo-async/oplog_observe_driver.js
  packages/mongo-async/oplog_tailing.js
  packages/mongo-async/oplog_tests.js
  packages/mongo-async/oplog_v2_converter.js
  packages/mongo-async/oplog_v2_converter_tests.js
  packages/mongo-async/package.js
  packages/mongo-async/polling_observe_driver.js
  packages/mongo-async/remote_collection_driver.js
  packages/mongo-async/upsert_compatibility_test.js
  packages/mongo/collection.js
  packages/mongo/collection_async_tests.js
  packages/mongo/collection_tests.js
  packages/mongo/doc_fetcher.js
  packages/mongo/doc_fetcher_tests.js
  packages/mongo/mongo_driver.js
  packages/mongo/mongo_livedata_tests.js
  packages/mongo/observe_changes_tests.js
  packages/mongo/observe_multiplex.js
  packages/mongo/oplog_observe_driver.js
  packages/mongo/oplog_tailing.js
  packages/mongo/oplog_tests.js
  packages/mongo/oplog_v2_converter.js
  packages/mongo/oplog_v2_converter_tests.js
  packages/mongo/package.js
  packages/mongo/polling_observe_driver.js
  packages/mongo/remote_collection_driver.js
  packages/mongo/upsert_compatibility_test.js
Labels: Project:Mongo Driver

#12399 async minifier js
  packages/minifier-js/minifier-tests.js
  packages/minifier-js/minifier.js
  packages/standard-minifier-js/plugin/minify-js.js
Labels: Project:Isobuild:Minifiers

#12402 Documentation addition about Accounts.createUserVerifyingEmail
  docs/history.md
  guide/source/2.9-migration.md
Labels: Project:Docs, Project:Guide

#12405 Making accounts-2fa async
  docs/history.md
  packages/accounts-2fa/2fa-server.js
  packages/accounts-2fa/server_tests.js
Labels: Project:Docs

#12406 Making oauth async
  docs/history.md
  packages/oauth/oauth_server.js
  packages/oauth/oauth_tests.js
  packages/oauth/pending_credentials.js
Labels: Project:Docs
