Repository meteor/meteor, pull requests merged in 2023-06, with the labels that each got.

#12623 Adapt missing parts to async in cordova commands.
  tools/cli/commands-cordova.js
  tools/cli/commands-packages-query.js
  tools/cli/commands-packages.js
  tools/cli/commands.js
  tools/cordova/builder.js
  tools/cordova/index.js
  tools/cordova/project.js
  tools/cordova/run-targets.js
  tools/cordova/runner.js
  tools/project-context.js
  tools/runners/run-all.js
  tools/runners/run-app.js
  tools/runners/run-mongo.js
  tools/runners/run-proxy.js
  tools/tests/old/test-bundler-assets.js
  tools/tests/old/test-bundler-options.js
  tools/tests/wipe-all-packages.js
Labels: Project:Mobile, Project:Tool

#12664 fix(mongo-livedata-test): Add missing fence commit to updateAsync method
  packages/mongo/mongo_driver.js
Labels: Project:Mongo Driver

#12666 fix: Collection Async tests not working
  packages/mongo/collection_async_tests.js
Labels: Project:Mongo Driver

#12667 fix: Failing test `observeChanges - tailable`
  packages/mongo/observe_changes_tests.js
Labels: Project:Mongo Driver

#12671 fix: Failing tests of deprecated packages
  packages/deprecated/http/httpcall_client.js
  packages/deprecated/http/httpcall_server.js
  packages/deprecated/http/httpcall_tests.js
  packages/deprecated/http/package.js
  packages/deprecated/http/test_responder.js
  packages/deprecated/markdown/package.js
  packages/deprecated/stylus/plugin/compile-stylus.js
Labels: Project:Utilities:HTTP

#12681 fix: ci puppeteer
  packages/test-in-console/run.sh
Labels: Project:Mobile, Project:Docs, Project:DDP, Project:Accounts:Password, Project:Webapp, Project:Mongo Driver, Project:Isobuild:Minifiers, Project:JS Environment, Project:Tool, Project:Utilities:Email, Project:Isobuild, Project:Utilities:HTTP, Project:Accounts:UI, Project:Tool:Shell, Project:Webapp:Browser Policy, Project:EJSON, Project:Release Process, Project:NPM, Project:CSS, Project:JS Environment:Typescript, Project:Dynamic Import, Project:HMR, Project:Guide
