Repository meteor/meteor, pull requests merged in 2023-07, with the labels that each got.

#12696 Reduce parser plugins used in js-analyze in Meteor 3
  tools/isobuild/js-analyze.js
Labels: Project:Tool, Project:Isobuild

#12697 [Meteor 3 - Feature]: Meteor create uses git instead of vendorized
  docs/generators/changelog/versions/3.0.md
  docs/source/commandline.md
  tools/cli/commands.js
  tools/cli/example-repositories.js
  tools/cli/help.txt
  tools/project-context.js
  tools/tests/create.js
Labels: Project:Examples, Project:Docs, Project:Tool

#12706 Dev bundle 14.21.4.0
  meteor
  scripts/build-dev-bundle-common.sh
  scripts/build-node-for-dev-bundle.sh
Labels: Project:Release Process

#12717 docs(flowbite): added flowbite-ui integration docs
  guide/_config.yml
  guide/source/flowbite.md
Labels: Project:Guide

#12714 fix(skell): remove builtin regex expressions from simpleSchema
  guide/source/collections.md
  guide/source/methods.md
Labels: Project:Guide

#12715 Update private npm modules link in structure.md
  guide/source/structure.md
Labels: Project:Guide
