Repository meteor/meteor, pull requests merged in 2023-11, with the labels that each got.

#12803 Feature: interactive meteor create command
  scripts/dev-bundle-tool-package.js
  tools/cli/commands.js
Labels: Project:Tool, Project:Release Process, hacktoberfest

#12839 Documentation update to make Tracker.withComputation more understandable
  docs/source/api/tracker.md
Labels: Project:Docs

#12866 [Meteor 3.0] update Node to version 20
  docs/generators/changelog/versions/3.0.md
  meteor
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  packages/modules/.npm/package/npm-shrinkwrap.json
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/static-html/package.js
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-tool-package.js
  scripts/generate-dev-bundle.sh
  tools/isobuild/bundler.js
  tools/isobuild/meteor-npm.js
Labels: Project:Docs, Project:Tool, Project:Isobuild, Project:Release Process, Project:NPM

#12872 Dev bundle 14.21.4.7
  meteor
  npm-packages/eslint-plugin-meteor/scripts/build-dev-bundle-common.sh
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-server-package.js
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  npm-packages/meteor-babel/README.md
  npm-packages/meteor-babel/package-lock.json
  npm-packages/meteor-babel/package.json
  package.json
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  packages/babel-compiler/package.js
  packages/ecmascript/package.js
  packages/typescript/package.js
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
  tools/cli/commands.js
  tools/cli/help.txt
  tools/runners/run-all.js
  tools/static-assets/skel-typescript/package.json
Labels: Project:JS Environment, Project:Tool, Project:Release Process, Project:NPM, Project:JS Environment:Typescript

#12864 Document into docs Accounts rate limiting functions
  docs/source/api/accounts-multi.md
  packages/accounts-base/accounts_server.js
Labels: Project:Docs

#12875 [Meteor 3.0] Unhandled Rejection when fails to bundle the app
  packages/modules/.npm/package/npm-shrinkwrap.json
  packages/webapp/.npm/package/npm-shrinkwrap.json
  tools/isobuild/compiler-plugin.js
  tools/isobuild/import-scanner.ts
Labels: Project:Tool, Project:Isobuild

#12860 Allow some old build plugins to run in Meteor 3
  tools/isobuild/bundler.js
  tools/isobuild/fiber-stubs.js
Labels: Project:Tool, Project:Isobuild

#12873 Clarifying the language around publishing a package
  guide/source/writing-atmosphere-packages.md
Labels: Project:Guide

#12869 More async for accounts passwordless, base and password
  packages/accounts-base/accounts_server.js
  packages/accounts-password/password_server.js
  packages/accounts-passwordless/passwordless_server.js
  packages/accounts-passwordless/server_utils.js
Labels: Project:Accounts:Password

#12854 fixes #12761 url to pull manifest from correct url if parameter are used in baseurl
  npm-packages/cordova-plugin-meteor-webapp/src/android/AssetBundleManager.java
  npm-packages/cordova-plugin-meteor-webapp/src/android/WebAppLocalServer.java
Labels: Project:NPM

#12773 Connect clean up
  docs/generators/changelog/versions/3.0.md
  docs/history.md
  docs/source/packages/webapp.md
  guide/source/deployment.md
  guide/source/security.md
  packages/appcache/appcache-server.js
  packages/browser-policy-common/browser-policy-common.js
  packages/deprecated/http/httpcall_tests.js
  packages/deprecated/http/test_responder.js
  packages/deprecated/spiderable/spiderable_server.js
  packages/oauth/oauth_server.js
  packages/webapp/README.md
  packages/webapp/package.js
  packages/webapp/webapp.d.ts
  packages/webapp/webapp_server.js
  tools/static-assets/skel-apollo/server/apollo.js
Labels: Project:Docs, Project:Webapp, Project:Tool, Project:Utilities:HTTP, Project:Webapp:Browser Policy, Project:Guide

#12881 Adding note on how to solve 2.13.3 issue
  guide/package-lock.json
  guide/source/2.13-migration.md
Labels: Project:Guide

#12265 [browser-policy-content] Remove underscore
  packages/browser-policy-content/browser-policy-content.js
  packages/browser-policy-content/package.js
Labels: Project:Webapp:Browser Policy

#12246 [socket-stream-client] Remove underscore
  packages/socket-stream-client/client-tests.js
  packages/socket-stream-client/package.js
Labels: Project:DDP

#12260 [ddp-rate-limiter] Remove underscore
  packages/ddp-rate-limiter/package.js
Labels: Project:DDP

#12883 New 3.0 migration page placeholder and warnings about Meteor 2.x
  docs/package-lock.json
  docs/source/index.md
  guide/_config.yml
  guide/source/3.0-migration.md
  guide/source/index.md
Labels: Project:Docs, Project:Guide

#12858 Replace http with fetch package in accounts.md
  guide/source/accounts.md
Labels: Project:Guide

#12885 Fix testing packages link
  guide/source/testing.md
Labels: Project:Guide

#12884 Fixes latestVersion as [object Promise] on package upgrade command
  tools/cli/commands-packages.js
Labels: Project:Tool

#12848 Update Testing section for Tinytest
  guide/source/writing-atmosphere-packages.md
Labels: Project:Guide

#12886 Update semver to 7.5.4
  meteor
  npm-packages/meteor-babel/package-lock.json
  npm-packages/meteor-babel/package.json
  packages/babel-compiler/package.js
  packages/modules/package.js
  packages/package-version-parser/package-version-parser.js
  packages/package-version-parser/package.js
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
Labels: Project:JS Environment, Project:Release Process, Project:NPM

#12785 [CORDOVA] - Update cordova-android and cordova-ios
  .circleci/config.yml
  docs/source/api/mobile-config.md
  npm-packages/cordova-plugin-meteor-webapp/tests/fixtures/bundled_www/cordova_plugins.js
  packages/launch-screen/package.js
  tools/cordova/assets/launchscreens/android_universal.png
  tools/cordova/builder.js
  tools/cordova/index.js
  tools/cordova/project.js
Labels: Project:Mobile, Project:Docs, Project:Tool, Project:NPM

#12899 [Meteor 3] - Revert Sqlite to 5.0.2
  meteor
  scripts/dev-bundle-tool-package.js
Labels: Project:Release Process
