Repository meteor/meteor, pull requests merged in 2023-03, with the labels that each got.

#12515 Release 3.0 test command
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  packages/babel-compiler/package.js
  tools/cli/commands.js
  tools/isobuild/bundler.js
  tools/isobuild/import-scanner.ts
  tools/meteor-services/deploy.js
  tools/project-context.js
  tools/runners/run-all.js
  tools/runners/run-app.js
  tools/runners/run-mongo.js
  tools/static-assets/server/boot.js
  tools/utils/processes.ts
Labels: Project:JS Environment, Project:Tool, Project:Isobuild

#12540 Release 3.0 tools and mongo
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  packages/babel-compiler/package.js
  tools/cli/commands.js
  tools/isobuild/bundler.js
  tools/isobuild/import-scanner.ts
  tools/project-context.js
  tools/runners/run-all.js
  tools/runners/run-app.js
  tools/runners/run-mongo.js
  tools/static-assets/server/boot.js
  tools/utils/processes.ts
Labels: Project:JS Environment, Project:Tool, Project:Isobuild

#12535 [Meteor 3] Fix missing files when copying node modules to rebuild native deps
  tools/isobuild/meteor-npm.js
Labels: Project:Tool, Project:Isobuild

#12538 [Meteor 3] Partial fix for stylesheets
  packages/test-in-browser/driver.css
  packages/test-in-browser/driver.html
  tools/isobuild/compiler-plugin.js
Labels: Project:Tool, Project:Isobuild

#12534 [Meteor 3] Improve error handling with top level await
  npm-packages/meteor-babel/package-lock.json
  npm-packages/meteor-babel/package.json
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  packages/core-runtime/load-js-image.js
  packages/modules/.npm/package/npm-shrinkwrap.json
  packages/modules/package.js
Labels: Project:NPM

#12542 [Meteor 3] Fix static files on client
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  tools/runners/run-hmr.js
Labels: Project:Tool

#12543 Feature/add is async call
  docs/history.md
  docs/source/api/methods.md
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  packages/ddp-client/client/client_convenience.js
  packages/ddp-client/common/livedata_connection.js
  packages/ddp-client/test/livedata_test_service.js
  packages/ddp-client/test/livedata_tests.js
  packages/ddp-server/livedata_server.js
  packages/ddp-server/server_convenience.js
Labels: Project:Docs, Project:DDP

#12549 Updating guide with missing information
  docs/history.md
  guide/_config.yml
Labels: Project:Docs, Project:Guide

#12551 Updating changelog
  docs/generators/changelog/versions/2.11.md
Labels: Project:Docs

#12552 Keeping history.md(autogenerated up to date)
  docs/history.md
Labels: Project:Docs

#12553 Solving typos in migration guide for 2.11
  guide/source/2.11-migration.md
Labels: Project:Guide

#12556 docs: update and clean installation process
  docs/source/install.md
Labels: Project:Docs

#12537 [Meteor 3] Adjustments to detecting if fibers are enabled
  npm-packages/meteor-babel/options.js
  npm-packages/meteor-babel/plugins/async-await.js
  packages/babel-compiler/babel-compiler.js
  packages/meteor/asl-helpers-client.js
  packages/meteor/asl-helpers.js
  tools/isobuild/builder.js
  tools/isobuild/isopack.js
  tools/static-assets/server/boot.js
  tools/tool-env/install-babel.js
  tools/tool-env/isopackets.js
Labels: Project:JS Environment, Project:Tool, Project:Isobuild, Project:NPM

#12557 docs: recommending Node.js 14
  docs/source/install.md
Labels: Project:Docs

#12558 [Meteor 3] Fix app code not running on the client
  packages/meteor/asl-helpers.js
  tools/isobuild/linker.js
Labels: Project:Tool, Project:Isobuild

#12566 Release 3.0 fix tests oauth webapp
  packages/oauth/oauth_server.js
  packages/oauth1/oauth1_pending_request_tokens.js
  packages/oauth1/oauth1_server.js
  packages/oauth1/oauth1_tests.js
  packages/oauth2/oauth2_tests.js
  tools/static-assets/server/boot.js
Labels: Project:Tool

#12568 [Release 3.0] fix non-core packages tests
  packages/non-core/mongo-decimal/decimal_tests.js
Labels: Project:Mongo Driver

#12572 Updating release 3.0 with eslint rules
  .eslintignore
  package-lock.json
  package.json
  packages/mongo/collection.js
  prettier.config.js
Labels: Project:Mongo Driver

#12578 [Meteor 3] Add tests and fix bugs for TLA
  npm-packages/meteor-babel/package-lock.json
  npm-packages/meteor-babel/package.json
  packages/babel-compiler/babel-compiler.js
  packages/core-runtime/load-js-image.js
  packages/modules/.npm/package/npm-shrinkwrap.json
  packages/modules/package.js
  tools/isobuild/compiler-plugin.js
  tools/static-assets/server/boot.js
  tools/tests/apps/linting-app/packages/my-package/.versions
  tools/tests/apps/top-level-await-order/.meteor/.gitignore
  tools/tests/apps/top-level-await-order/.meteor/packages
  tools/tests/apps/top-level-await-order/.meteor/release
  tools/tests/apps/top-level-await-order/a.js
  tools/tests/apps/top-level-await-order/b.js
  tools/tests/apps/top-level-await-order/main.js
  tools/tests/apps/top-level-await-order/package-lock.json
  tools/tests/apps/top-level-await-order/package.json
  tools/tests/apps/top-level-await-order/packages/build-plugin/package.js
  tools/tests/apps/top-level-await-order/packages/build-plugin/plugin-without-meteor.js
  tools/tests/apps/top-level-await-order/packages/build-plugin/plugin.js
  tools/tests/apps/top-level-await-order/packages/lazy-package/main.js
  tools/tests/apps/top-level-await-order/packages/lazy-package/package.js
  tools/tests/apps/top-level-await-order/packages/package-1/a.js
  tools/tests/apps/top-level-await-order/packages/package-1/b.js
  tools/tests/apps/top-level-await-order/packages/package-1/package.js
  tools/tests/apps/top-level-await-order/packages/package-2/a.js
  tools/tests/apps/top-level-await-order/packages/package-2/b.js
  tools/tests/apps/top-level-await-order/packages/package-2/package.js
  tools/tests/apps/top-level-await-order/packages/print/client.js
  tools/tests/apps/top-level-await-order/packages/print/package.js
  tools/tests/apps/top-level-await-order/packages/print/server.js
  tools/tests/apps/top-level-await-order/packages/sync-package/package.js
  tools/tests/apps/top-level-await-order/packages/sync-package/sync.js
  tools/tests/top-level-await.js
  tools/tool-testing/clients/puppeteer/index.js
  tools/tool-testing/sandbox.js
Labels: Project:JS Environment, Project:Tool, Project:Isobuild, Project:NPM
