Repository meteor/meteor, pull requests merged in 2023-05, with the labels that each got.

#12604 Removing remaining env vars for release 3.0
  .circleci/config.yml
  .travis.yml
  appveyor.yml
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  npm-packages/meteor-babel/options.js
  npm-packages/meteor-babel/package.json
  npm-packages/meteor-babel/plugins/async-await.js
  npm-packages/meteor-babel/test/run.sh
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  packages/babel-compiler/package.js
  packages/logging/.npm/package/npm-shrinkwrap.json
  packages/meteor/asl-helpers.js
  packages/test-in-console/run.sh
  scripts/dev-bundle-tool-package.js
  tools/utils/fiber-helpers.js
Labels: Project:JS Environment, Project:Tool, Project:Release Process, Project:NPM

#12619 Update guide code for GraphQL initialization
  guide/source/apollo.md
  tools/static-assets/skel-apollo/package.json
Labels: Project:Tool, Project:Guide

#12635 Update mongo.d.ts with projection
  packages/mongo/mongo.d.ts
  packages/mongo/oplog_tailing.js
Labels: Project:Mongo Driver, Project:TypeScript-conversion

#12639 Updating mongo types
  packages/mongo/mongo.d.ts
Labels: Project:Mongo Driver

#12640 Fix upsert logs when using WARN_WHEN_USING_OLD_API flag
  packages/mongo/collection.js
  packages/mongo/collection_tests.js
Labels: Project:Mongo Driver

#12643 Handled implicit collection creation oplog message (fixes #12627).
  packages/mongo/oplog_tailing.js
  packages/mongo/oplog_tests.js
Labels: Project:Mongo Driver

#12653 Replace deprecated reference with current one
  packages/mongo/collection.js
Labels: Project:Mongo Driver

#12661 Chore/solving 2.13 tests
  packages/ddp-server/livedata_server_async_tests.js
  packages/test-in-console/driver.js
  packages/test-in-console/puppeteerRunner.js
Labels: Project:DDP

#12660 fix #12642, #12628 https://jira.mongodb.org/browse/NODE-5316
  packages/mongo/mongo_driver.js
Labels: Project:Docs, Project:DDP, Project:Mongo Driver, Project:Tool, Project:Release Process, Project:Guide
