Repository meteor/meteor, pull requests merged in 2023-09, with the labels that each got.

#12764 Update NPM version to 9
  meteor
  packages/test-in-console/package.js
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-tool-package.js
  scripts/generate-dev-bundle.sh
  tools/isobuild/meteor-npm.js
Labels: Project:Tool, Project:Isobuild, Project:Release Process

#12765 Release 2.13.1
  docs/generators/changelog/versions/2.13.0.md
  docs/generators/changelog/versions/2.13.1.md
  docs/history.md
  docs/source/known-issues.md
  meteor
  npm-packages/meteor-installer/README.md
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/package.json
  packages/meteor-tool/package.js
  scripts/admin/meteor-release-experimental.json
  scripts/admin/meteor-release-official.json
Labels: Project:Docs, Project:Tool, Project:Release Process, Project:NPM

#12768 docs: updated known issues to add solution section
  docs/source/known-issues.md
Labels: Project:Docs

#12758 doc: add Async methods
  docs/source/api/collections.md
  packages/minimongo/constants.js
  packages/minimongo/cursor.js
  packages/mongo/collection.js
Labels: Project:Docs, Project:Mongo Driver

#12780 Add note about never storing private information in Meteor settings p…
  guide/source/security.md
Labels: Project:Guide

#12725 Guide guidance on versionsFrom
  docs/source/api/packagejs.md
Labels: Project:Docs

#12793 [Docs] Fix broken link in accounts password README
  packages/accounts-password/README.md
Labels: Project:Accounts:Password
