Repository meteor/meteor, pull requests merged in 2023-02, with the labels that each got.

#12484 Make archinfo.host sync
  tools/cli/commands.js
  tools/cli/main.js
  tools/fs/safe-watcher.ts
  tools/isobuild/bundler.js
  tools/isobuild/compiler-plugin.js
  tools/isobuild/compiler.js
  tools/isobuild/isopack-cache.js
  tools/isobuild/isopack.js
  tools/isobuild/unibuild.js
  tools/packaging/tropohouse.js
  tools/project-context.js
  tools/tool-env/isopackets.js
  tools/tool-testing/sandbox.js
  tools/utils/archinfo.ts
  tools/utils/utils.js
Labels: Project:Tool, Project:Isobuild

#12489 Updating mongodb types for v6
  docs/generators/changelog/versions/2.11.md
  packages/mongo/mongo.d.ts
Labels: Project:Docs, Project:Mongo Driver

#12497 Solving lint and deploy
  tools/cli/commands.js
  tools/meteor-services/deploy.js
Labels: Project:Tool

#12506 TypeScript skeleton fixes
  tools/static-assets/skel-typescript/package.json
  tools/static-assets/skel-typescript/server/main.ts
Labels: Project:Tool

#12502 docs: adding missing countDocuments documentation
  docs/source/api/collections.md
Labels: Project:Docs

#12507 Add type definitions for async methods from Meteor 2.9
  packages/accounts-base/accounts-base.d.ts
  packages/email/email.d.ts
Labels: Project:Utilities:Email

#12495 Fixed changePassword and resetPassword functions type checking conditions
  packages/accounts-password/password_client.js
Labels: Project:Accounts:Password

#12505 Fix TypeScript type dependencies for mongo, webapp, and underscore
  packages/mongo/mongo.d.ts
  packages/npm-mongo/index.d.ts
  packages/npm-mongo/package.js
  packages/underscore/package.js
  packages/webapp/.npm/package/npm-shrinkwrap.json
  packages/webapp/package.js
Labels: Project:Webapp, Project:Mongo Driver, Project:JS Environment:Typescript, Project:TypeScript-conversion

#12513 Release 3.0 publish packages
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  tools/cli/commands-packages.js
  tools/fs/files.ts
  tools/isobuild/isopack.js
  tools/meteor-services/auth-client.js
  tools/packaging/package-client.js
  tools/packaging/tropohouse.js
  tools/project-context.js
  tools/tests/colon-converter-tests.js
  tools/tests/galaxy.js
  tools/tests/tarball.js
Labels: Project:Tool, Project:Isobuild

#12520 Improve specificity of types previously declared as "Object"
  packages/accounts-base/accounts-base.d.ts
  packages/email/.npm/package/npm-shrinkwrap.json
  packages/email/email.d.ts
  packages/email/package.js
  packages/meteor/meteor.d.ts
  packages/mongo/mongo.d.ts
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
Labels: Project:Mongo Driver, Project:Utilities:Email

#12517 Node v14.21.3
  meteor
  scripts/build-dev-bundle-common.sh
Labels: Project:Release Process

#12504 Release 3.0 - tests ddp client and minimongo
  packages/allow-deny/allow-deny.js
  packages/autoupdate/autoupdate_client.js
  packages/autoupdate/autoupdate_cordova.js
  packages/autoupdate/autoupdate_server.js
  packages/babel-compiler/.npm/package/npm-shrinkwrap.json
  packages/ddp-client/common/livedata_connection.js
  packages/ddp-client/test/livedata_connection_tests.js
  packages/ddp-client/test/livedata_test_service.js
  packages/ddp-client/test/livedata_tests.js
  packages/ddp-common/method_invocation.js
  packages/ddp-server/livedata_server.js
  packages/ddp-server/livedata_server_tests.js
  packages/ddp-server/writefence.js
  packages/meteor/async_helpers.js
  packages/meteor/fiber_helpers.js
  packages/meteor/fiber_stubs_client.js
  packages/meteor/package.js
  packages/meteor/timers.js
  packages/minimongo/cursor.js
  packages/minimongo/local_collection.js
  packages/minimongo/minimongo_tests_client.js
  packages/mongo/allow_tests.js
  packages/mongo/collection.js
  packages/mongo/mongo_driver.js
  packages/mongo/observe_multiplex.js
  packages/mongo/oplog_observe_driver.js
  packages/mongo/oplog_tailing.js
  packages/mongo/polling_observe_driver.js
  packages/tinytest/tinytest.js
  packages/tinytest/tinytest_client.js
  packages/webapp/.npm/package/npm-shrinkwrap.json
  packages/webapp/webapp_server.js
  tools/isobuild/bundler.js
  tools/isobuild/linker.js
  tools/meteor-services/auth.js
  tools/tool-testing/galaxy-utils.js
Labels: Project:DDP, Project:Webapp, Project:Mongo Driver, Project:Tool, Project:Isobuild
