Repository meteor/meteor, pull requests merged in 2023-01, with the labels that each got.

#12407 Release 3.0 making `oauth1` async
  docs/history.md
  packages/oauth/oauth_server.js
  packages/oauth/pending_credentials.js
  packages/oauth1/oauth1_pending_request_tokens.js
  packages/oauth1/oauth1_server.js
  packages/oauth1/oauth1_tests.js
Labels: Project:Docs

#12413 docs: Fix a few typos
  docs/source/commandline.md
  tools/isobuild/compiler-deprecated-compile-step.js
  tools/utils/buildmessage.js
Labels: Project:Docs, Project:Tool, Project:Isobuild

#12422 Updating master with devel
  .github/workflows/docs.yml
  .github/workflows/guide.yml
  .github/workflows/labeler.yml
  .github/workflows/npm-eslint-plugin-meteor.yml
  .github/workflows/npm-meteor-babel.yml
  .github/workflows/npm-meteor-promise.yml
  docs/history.md
  docs/source/commandline.md
  guide/source/2.9-migration.md
  meteor
  npm-packages/meteor-babel/options.js
  npm-packages/meteor-babel/package.json
  npm-packages/meteor-babel/plugins/async-await.js
  scripts/dev-bundle-tool-package.js
  tools/isobuild/compiler-deprecated-compile-step.js
  tools/utils/buildmessage.js
Labels: Project:Docs, Project:Tool, Project:Isobuild, Project:Release Process, Project:NPM, Project:Guide

#12367 Release 2.9.1
  docs/history.md
  docs/source/api/passwords.md
  docs/source/commandline.md
  meteor
  npm-packages/meteor-installer/README.md
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/package.json
  packages/accounts-password/package.js
  packages/accounts-password/password_client.js
  packages/accounts-password/password_server.js
  packages/fetch/fetch.d.ts
  packages/fetch/package.js
  packages/meteor-tool/package.js
  packages/meteor/package.js
  scripts/admin/meteor-release-experimental.json
  scripts/admin/meteor-release-official.json
  scripts/build-dev-bundle-common.sh
  tools/cli/commands-packages.js
  tools/cli/commands.js
  tools/static-assets/skel-svelte/.meteor/packages
  tools/static-assets/skel-svelte/imports/ui/App.svelte
  tools/static-assets/skel-svelte/package.json
  tools/static-assets/skel-svelte/server/main.js
  tools/static-assets/skel-svelte/tsconfig.json
Labels: Project:Docs, Project:Accounts:Password, Project:Tool, Project:Utilities:HTTP, Project:Release Process, Project:NPM

#12423 Updating devel with 2.9.1
  docs/history.md
  docs/source/api/passwords.md
  docs/source/commandline.md
  meteor
  npm-packages/meteor-installer/README.md
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/package.json
  packages/accounts-password/package.js
  packages/accounts-password/password_client.js
  packages/accounts-password/password_server.js
  packages/fetch/fetch.d.ts
  packages/fetch/package.js
  packages/meteor-tool/package.js
  packages/meteor/package.js
  scripts/admin/meteor-release-experimental.json
  scripts/admin/meteor-release-official.json
  scripts/build-dev-bundle-common.sh
  tools/cli/commands-packages.js
  tools/cli/commands.js
  tools/static-assets/skel-svelte/.meteor/packages
  tools/static-assets/skel-svelte/imports/ui/App.svelte
  tools/static-assets/skel-svelte/package.json
  tools/static-assets/skel-svelte/server/main.js
  tools/static-assets/skel-svelte/tsconfig.json
Labels: Project:Docs, Project:Accounts:Password, Project:Tool, Project:Utilities:HTTP, Project:Release Process, Project:NPM

#12415 Use mongodb driver types for Selector=>Filter, Modifier=>UpdateFilter, SortSpecifier=>Sort instead of homebuilt types
  packages/mongo/mongo.d.ts
Labels: Project:Mongo Driver

#12409 Fix errors in Mongo types
  packages/mongo/mongo.d.ts
Labels: Project:Mongo Driver

#12425 Making oauth2 async
  docs/history.md
  packages/oauth2/oauth2_server.js
  packages/oauth2/oauth2_tests.js
Labels: Project:Docs

#12426 Allow multiple runtime config and updated runtime hooks
  packages/webapp/webapp_server.js
Labels: Project:Webapp

#12427 Adding async hooks in 2.10 and clear hooks method
  docs/history.md
  packages/callback-hook/hook.js
Labels: Project:Docs

#12419 Update skeletons to use React 18
  packages/react-fast-refresh/package.js
  tools/static-assets/skel-apollo/client/main.jsx
  tools/static-assets/skel-apollo/package.json
  tools/static-assets/skel-react/client/main.jsx
  tools/static-assets/skel-react/package.json
  tools/static-assets/skel-typescript/client/main.tsx
  tools/static-assets/skel-typescript/package.json
Labels: Project:Tool

#12393 Typescript v4.7.4
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  npm-packages/meteor-babel/package.json
  packages/babel-compiler/package.js
  packages/typescript/package.js
  tools/static-assets/skel-typescript/package.json
Labels: Project:JS Environment, Project:Tool, Project:NPM, Project:JS Environment:Typescript

#12435 New Dev bundle 14.21.2.3 to include typescript bump
  meteor
  scripts/dev-bundle-tool-package.js
Labels: Project:Release Process

#12309 [meteor] chore: improve eslint config
  .github/workflows/check-code-style.yml
  npm-packages/meteor-installer/cli.js
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/extract.js
  npm-packages/meteor-installer/install.js
  npm-packages/meteor-installer/uninstall.js
  package.json
Labels: Project:NPM

#12438 Dev bundle 14.21.2.4
  meteor
  scripts/dev-bundle-tool-package.js
Labels: Project:Release Process

#12440 Release 3.0 tests webapp
  docs/history.md
  packages/server-render/server-render-tests.js
  packages/webapp/webapp_server.js
  packages/webapp/webapp_tests.js
Labels: Project:Docs, Project:Webapp

#12450 Release 3.0 tests minifier css
  docs/history.md
  packages/minifier-css/minifier-tests.js
  packages/minifier-css/minifier.js
Labels: Project:Docs, Project:Isobuild:Minifiers, Project:CSS

#12452 release 3.0 - Fixing tests socket stream client
  packages/socket-stream-client/client-tests.js
  packages/socket-stream-client/package.js
  packages/socket-stream-client/server-tests.js
Labels: Project:DDP

#12442 [3.0] Changes WebApp to use Express under the hood
  docs/history.md
  docs/source/packages/webapp.md
  guide/source/deployment.md
  guide/source/security.md
  packages/appcache/appcache-server.js
  packages/browser-policy-common/browser-policy-common.js
  packages/deprecated/http/test_responder.js
  packages/deprecated/spiderable/spiderable_server.js
  packages/oauth/oauth_server.js
  packages/webapp/.npm/package/npm-shrinkwrap.json
  packages/webapp/README.md
  packages/webapp/connect.js
  packages/webapp/package.js
  packages/webapp/webapp.d.ts
  packages/webapp/webapp_server.js
  packages/webapp/webapp_tests.js
  tools/static-assets/skel-apollo/server/apollo.js
Labels: Project:Docs, Project:Webapp, Project:Tool, Project:Utilities:HTTP, Project:Webapp:Browser Policy, Project:Guide

#12446 Fix vue tutorial link
  tools/static-assets/skel-vue/server/main.js
Labels: Project:Tool

#12469 mongo: In async wrappers, catch exceptions and reject
  packages/minimongo/cursor.js
  packages/mongo/collection.js
  packages/mongo/mongo_driver.js
Labels: Project:Mongo Driver

#12465 Bump Typescript to v4.9.4
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  npm-packages/meteor-babel/package.json
  packages/babel-compiler/package.js
  packages/typescript/package.js
  scripts/dev-bundle-tool-package.js
  tools/static-assets/skel-typescript/package.json
Labels: Project:JS Environment, Project:Tool, Project:Release Process, Project:NPM, Project:JS Environment:Typescript

#12473 Updating meteor mongo command
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  tools/cli/commands.js
  tools/cli/help.txt
  tools/console/console.js
  tools/runners/run-mongo.js
  tools/tests/mongo.js
Labels: Project:Tool, Project:Tool:Shell

#12477 updated dev bundle
  scripts/build-dev-bundle-common.sh
  scripts/generate-dev-bundle.ps1
  scripts/generate-dev-bundle.sh
Labels: Project:Release Process

#12475 Updating tracker types
  docs/history.md
  packages/tracker/package.js
  packages/tracker/tracker.d.ts
Labels: Project:Docs

#12479 Upgrade Apollo starter to Apollo server v4
  tools/static-assets/skel-apollo/imports/ui/App.jsx
  tools/static-assets/skel-apollo/package.json
  tools/static-assets/skel-apollo/server/apollo.js
Labels: Project:Tool

#12472 Bumped cordova inapp browser version in oauth package to fix ios build failing
  packages/oauth/oauth_cordova.js
  packages/oauth/package.js
Labels: Project:Mobile

#12485 chore: updating vue2 skeleton app subscriptions
  tools/static-assets/skel-vue-2/imports/ui/components/Info.vue
  tools/static-assets/skel-vue-2/package.json
Labels: Project:Tool

#12456 Deprecate appcache package
  docs/source/packages/appcache.md
  packages/appcache/CHANGELOG.md
  packages/appcache/package.js
Labels: Project:Docs

#12478 Made standard-minifier-css debuggable
  packages/standard-minifier-css/package.js
  packages/standard-minifier-css/plugin/minify-css.js
  packages/standard-minifier-css/plugin/postcss.js
Labels: Project:Isobuild:Minifiers, Project:CSS

#12483 Updating solid skeleton
  tools/static-assets/skel-solid/imports/ui/Info.jsx
  tools/static-assets/skel-solid/server/main.js
Labels: Project:Tool

#12482 Updating react skeletons
  tools/static-assets/skel-chakra-ui/imports/ui/Info.jsx
  tools/static-assets/skel-chakra-ui/server/main.js
  tools/static-assets/skel-react/imports/ui/Info.jsx
  tools/static-assets/skel-react/server/main.js
  tools/static-assets/skel-tailwind/imports/ui/Info.jsx
  tools/static-assets/skel-tailwind/server/main.js
  tools/static-assets/skel-typescript/imports/ui/Info.tsx
  tools/static-assets/skel-typescript/server/main.ts
Labels: Project:Tool
