Repository meteor/meteor, pull requests merged in 2023-08, with the labels that each got.

#12729 Merging devel in 3.0
  README.md
  docs/_config.yml
  docs/generators/changelog/versions/2.13.md
  docs/history.md
  guide/_config.yml
  guide/source/2.13-migration.md
  guide/source/apollo.md
  guide/source/collections.md
  guide/source/flowbite.md
  guide/source/methods.md
  guide/source/structure.md
  npm-packages/meteor-installer/README.md
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/package.json
  packages/ddp-rate-limiter/ddp-rate-limiter.js
  packages/ddp-server/livedata_server_async_tests.js
  packages/meteor/meteor.d.ts
  packages/minimongo/cursor.js
  packages/mongo/collection.js
  packages/mongo/collection_tests.js
  packages/mongo/mongo.d.ts
  packages/mongo/mongo_driver.js
  packages/mongo/oplog_tailing.js
  packages/test-in-console/driver.js
  packages/test-in-console/puppeteerRunner.js
  packages/twitter-oauth/twitter_server.js
  scripts/admin/meteor-release-official.json
  scripts/build-dev-bundle-common.sh
  scripts/build-node-for-dev-bundle.sh
  tools/static-assets/skel-apollo/client/main.html
  tools/static-assets/skel-apollo/package.json
  tools/static-assets/skel-blaze/client/main.html
  tools/static-assets/skel-chakra-ui/client/main.html
  tools/static-assets/skel-minimal/client/main.html
  tools/static-assets/skel-react/client/main.html
  tools/static-assets/skel-solid/client/main.html
  tools/static-assets/skel-solid/imports/ui/Info.jsx
  tools/static-assets/skel-svelte/client/main.html
  tools/static-assets/skel-tailwind/client/main.html
  tools/static-assets/skel-typescript/client/main.html
  tools/static-assets/skel-vue-2/client/main.html
  tools/static-assets/skel-vue/client/main.html
Labels: Project:Docs, Project:DDP, Project:Mongo Driver, Project:Tool, Project:Release Process, Project:NPM, Project:Guide

#12724 chore: solved issue when passing --release
  tools/cli/commands.js
Labels: Project:Tool

#12738 Changed meteor-theme-hexo to 2.0.7
  docs/package-lock.json
  docs/package.json
  guide/package-lock.json
  guide/package.json
Labels: Project:Docs, Project:Guide

#12740 Updating docs and guide with docker link
  docs/generators/changelog/versions/2.13.md
  docs/history.md
  guide/_config.yml
  guide/source/2.13-migration.md
  guide/source/using-node-v14.21.4.md
Labels: Project:Docs, Project:Guide

#12749 updating CI
  meteor
  scripts/generate-dev-bundle.sh
Labels: Project:Release Process

#12752 docs: added known issues section for 2.13
  docs/_config.yml
  docs/source/known-issues.md
Labels: Project:Docs

#12756 docs: added known issues section to migration guide
  docs/generators/changelog/versions/2.13.md
  guide/source/2.13-migration.md
Labels: Project:Docs, Project:Guide

#12763 Improve CLI / Flags documentation
  docs/source/commandline.md
Labels: Project:Docs
