Repository meteor/meteor, pull requests merged in 2023-04, with the labels that each got.

#12582 Using Node 14 from ESM
  scripts/generate-dev-bundle.ps1
  scripts/generate-dev-bundle.sh
Labels: Project:Release Process

#12563 Add undocument properties to docs
  docs/source/api/core.md
  docs/source/packages/webapp.md
  packages/meteor/meteor.d.ts
  packages/meteor/test_environment.js
  packages/webapp/webapp_server.js
Labels: Project:Docs, Project:Webapp

#12562 Bump NPM versions for css minifiers
  packages/minifier-css/minifier-async-tests.js
  packages/minifier-css/minifier-tests.js
  packages/minifier-css/package.js
  packages/standard-minifier-css/package.js
Labels: Project:Isobuild:Minifiers, Project:CSS

#12554 Two type fixes
  packages/email/email.d.ts
  packages/mongo/mongo.d.ts
Labels: Project:Mongo Driver, Project:Utilities:Email, Project:JS Environment:Typescript, Project:TypeScript-conversion

#12461 Update security.md
  guide/source/security.md
Labels: Project:Guide

#12545 fix: addHtmlAttributeHook missing type on WebApp
  packages/webapp/webapp.d.ts
Labels: Project:Webapp

#12533 Add TS types for Mongo Collection countDocuments and estimatedDocumentCount
  packages/mongo/collection.js
  packages/mongo/mongo.d.ts
Labels: Project:Mongo Driver

#12082 Allow setting a custom ddp-rate-limit message per rule
  packages/ddp-rate-limiter/ddp-rate-limiter.js
  packages/rate-limit/package.js
  packages/rate-limit/rate-limit.js
Labels: Project:DDP

#12583 chore: updating MongoDB driver to 4.15
  docs/generators/changelog/versions/2.12.md
  packages/npm-mongo/package.js
Labels: Project:Docs

#12585 Adding warn when using old apis
  docs/generators/changelog/versions/2.12.md
  packages/mongo/doc_fetcher.js
  packages/mongo/mongo_driver.js
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
Labels: Project:Docs, Project:Mongo Driver

#12596 Fix syntax for legacy client
  .github/workflows/check-syntax.yml
  packages/babel-compiler/babel-compiler.js
  packages/babel-compiler/babel.js
  packages/browser-policy-content/browser-policy-content.js
  packages/browser-policy-framing/browser-policy-framing.js
  packages/browser-policy/browser-policy-tests.js
  packages/browser-policy/package.js
  packages/context/context.js
  packages/dev-error-overlay/package.js
  packages/dynamic-import/dynamic-versions.js
  packages/ecmascript-runtime/.npm/package/.gitignore
  packages/ecmascript-runtime/.npm/package/README
  packages/ecmascript-runtime/.npm/package/npm-shrinkwrap.json
  packages/ecmascript/.npm/package/.gitignore
  packages/ecmascript/.npm/package/README
  packages/ecmascript/.npm/package/npm-shrinkwrap.json
  packages/ecmascript/package.js
  packages/ecmascript/runtime-client-tests.js
  packages/hot-module-replacement/client.js
  packages/hot-module-replacement/hot-api.js
  packages/hot-module-replacement/package.js
  packages/meteor/asl-helpers.js
  packages/meteor/dynamics_browser.js
  packages/meteor/helpers.js
  packages/modules-runtime-hot/legacy.js
  packages/modules-runtime-hot/modern.js
  packages/react-fast-refresh/client-runtime.js
  packages/react-fast-refresh/client.js
  scripts/admin/check-legacy-syntax/check-syntax.js
  scripts/admin/check-legacy-syntax/package-lock.json
  scripts/admin/check-legacy-syntax/package.json
Labels: Project:JS Environment, Project:Webapp:Browser Policy, Project:Release Process, Project:Dynamic Import, Project:HMR

#12599 Updating MongoDB driver to 4.16
  docs/generators/changelog/versions/2.12.md
  packages/npm-mongo/package.js
Labels: Project:Docs

#12590 Update sockjs-client
  packages/ddp-server/package.js
  packages/minimongo/README.md
  packages/socket-stream-client/browser.js
  packages/socket-stream-client/package.js
  packages/socket-stream-client/sockjs-0.3.4.js
  packages/socket-stream-client/sockjs-1.6.1-min-.js
Labels: Project:DDP

#12591 [Accounts] set custom collection
  docs/source/api/accounts-multi.md
  packages/accounts-base/accounts_common.js
  packages/accounts-base/accounts_server.js
  packages/accounts-base/accounts_tests.js
Labels: Project:Docs, Project:Accounts (in user apps)

#12598 Updating tracker docs
  docs/source/api/tracker.md
  packages/tracker/tracker.d.ts
  packages/tracker/tracker.js
Labels: Project:Docs

#12593 Wrappers to help in the async migration
  packages/accounts-base/accounts_server.js
  packages/callback-hook/hook.js
  packages/meteor/dynamics_nodejs.js
  packages/meteor/helpers.js
  packages/meteor/startup_server.js
  packages/mongo/mongo_driver.js
  packages/mongo/remote_collection_driver.js
  tools/isobuild/bundler.js
  tools/static-assets/server/boot.js
Labels: Project:Mongo Driver, Project:Tool, Project:Isobuild

#12589 Adding loggin to old api
  packages/minimongo/cursor.js
  packages/mongo/collection.js
  packages/mongo/collection_tests.js
  packages/mongo/doc_fetcher.js
  packages/mongo/mongo_driver.js
Labels: Project:Mongo Driver

#12597 [Meteor 3] Fix missing non-hoisted exports
  npm-packages/meteor-babel/package.json
  packages/modules/package.js
Labels: Project:NPM, Project:Modules

#12602 Release 3.0 fix docs site
  .circleci/config.yml
  .gitignore
  appveyor.yml
  docs/history.md
  docs/jsdoc/jsdoc-conf.json
  docs/jsdoc/strip-tla.js
  docs/package.json
  packages/email/email.js
  packages/meteor/dynamics_browser.js
  packages/meteor/dynamics_nodejs.js
  packages/mongo/collection.js
  packages/mongo/mongo_driver.js
  tools/isobuild/package-cordova.js
  tools/isobuild/package-namespace.js
  tools/isobuild/package-npm.js
  tools/utils/fiber-helpers.js
Labels: Project:Docs, Project:Mongo Driver, Project:Tool, Project:Utilities:Email, Project:Isobuild
