Repository meteor/meteor, pull requests merged in 2023-12, with the labels that each got.

#12905 fix/12878 incomingMessage and serverResponse node js link in api docs
  packages/webapp/webapp_server.js
Labels: Project:Docs, Project:Webapp

#12669 Update logging package
  docs/generators/changelog/versions/2.14.md
  packages/logging/logging_browser.js
  packages/logging/logging_server.js
  packages/logging/package.js
  packages/standard-minifier-css/package.js
Labels: Project:Docs, Project:Isobuild:Minifiers, Project:CSS, Project:TypeScript-conversion

#12910 Add a few Q&A about meteor 3
  docs/_config.yml
  docs/generators/packages-listing/README.md
  docs/generators/packages-listing/script.js
  docs/history.md
  docs/package.json
  docs/source/packages/packages-listing.md
  guide/source/3.0-migration.md
Labels: Project:Docs, Project:Guide

#12915 Docs/how to update packages to meteor 3
  guide/source/3.0-migration.md
  guide/source/prepare-meteor-3.0.md
Labels: Project:Guide

#12893 Fix using api.versionsFrom
  tools/isobuild/package-api.js
  tools/isobuild/package-source.js
Labels: Project:Tool, Project:Isobuild

#12907 [Meteor 3] (server-first) Solving Meteor call Async stubValuePromise issue
  packages/accounts-base/accounts_client_tests.js
  packages/accounts-base/accounts_tests.js
  packages/accounts-password/password_tests.js
  packages/allow-deny/allow-deny.js
  packages/ddp-client/client/client_convenience.js
  packages/ddp-client/client/queueStubsHelpers.js
  packages/ddp-client/common/livedata_connection.js
  packages/ddp-client/package.js
  packages/ddp-client/test/async_stubs/client.js
  packages/ddp-client/test/async_stubs/server_setup.js
  packages/ddp-client/test/livedata_callAsync_tests.js
  packages/ddp-client/test/livedata_connection_tests.js
  packages/ddp-client/test/livedata_tests.js
  packages/ddp-client/test/stub_stream.js
  packages/ddp-rate-limiter/ddp-rate-limiter-tests.js
  packages/ddp-server/livedata_server_tests.js
  packages/mongo/allow_tests.js
  packages/mongo/collection.js
  packages/mongo/mongo_livedata_tests.js
  tools/meteor-services/auth.js
Labels: Project:DDP, Project:Accounts:Password, Project:Mongo Driver, Project:Tool

#12927 Move compileForShell from ecmascript to babel-compiler
  docs/generators/changelog/versions/3.0.md
  packages/babel-compiler/babel.js
  packages/ecmascript/ecmascript.js
  packages/ecmascript/package.js
  packages/shell-server/package.js
  packages/shell-server/shell-server.js
Labels: Project:Docs, Project:JS Environment
