Repository meteor/meteor, pull requests merged in 2023-10, with the labels that each got.

#12796 Update semver in react-fast-refresh
  docs/generators/changelog/versions/2.14.md
  packages/react-fast-refresh/client-runtime.js
  packages/react-fast-refresh/package.js
  packages/react-fast-refresh/server.js
Labels: Project:Docs, hacktoberfest

#12806 docs(guide): how to prepare to meteor 3
  guide/_config.yml
  guide/source/prepare-meteor-3.0.md
Labels: Project:Guide, hacktoberfest

#12804 Add Facebook in-app browser
  npm-packages/babel-preset-meteor/babel-presets-meteor/modern.js
Labels: Project:Mobile, Project:NPM

#12698 Fix: correct spelling of EACCES in rename
  tools/fs/files.ts
Labels: Project:Tool

#12753 Bump Facebook Graph version to 17
  docs/generators/changelog/versions/2.14.md
  packages/facebook-oauth/CHANGELOG.md
  packages/facebook-oauth/facebook_client.js
  packages/facebook-oauth/facebook_server.js
  packages/facebook-oauth/package.js
  packages/oauth/oauth_client.js
  packages/oauth/oauth_server.js
Labels: Project:Docs, Project:Accounts:OAuth

#12802 Making mongo errors clearer
  packages/accounts-2fa/2fa-server.js
  packages/accounts-password/email_tests.js
  packages/accounts-password/email_tests_setup.js
  packages/accounts-password/password_tests.js
  packages/accounts-password/password_tests_setup.js
  packages/minimongo/constants.js
  packages/mongo/collection.js
  packages/mongo/mongo_driver.js
  packages/mongo/remote_collection_driver.js
Labels: Project:Accounts:Password, Project:Mongo Driver

#12713 Fix skell react url
  tools/static-assets/skel-apollo/server/main.js
  tools/static-assets/skel-chakra-ui/server/main.js
  tools/static-assets/skel-full/imports/startup/server/fixtures.js
  tools/static-assets/skel-react/server/main.js
  tools/static-assets/skel-tailwind/server/main.js
  tools/static-assets/skel-typescript/server/main.ts
Labels: Project:Docs, Project:Tool, Project:Guide

#12694 Updating Vue skeleton to remove build error
  tools/static-assets/skel-vue/imports/ui/router.js
Labels: Project:Tool

#12674 Update source-map-support
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
Labels: Project:Release Process

#12820 Update Tracker manual link
  packages/tracker/README.md
Labels: Project:Docs, hacktoberfest-accepted

#12709 HMR server performance improvements
  tools/runners/run-hmr.js
Labels: Project:Tool, hacktoberfest-accepted

#12716 Bump Blaze version to 2.7.1 across packages
  packages/accounts-base/package.js
  packages/test-in-browser/package.js
Labels: Project:Testing

#12743 Fix type declaration for MethodApplyOptions
  packages/meteor/meteor.d.ts
Labels: Project:TypeScript-conversion

#12742 Add a new publication strategy
  docs/source/api/pubsub.md
  packages/ddp-server/livedata_server.js
Labels: Project:Docs, Project:DDP

#12788 Fix: Bugs in negated “in” and “instanceof” expressions (#12781)
  tools/cordova/builder.js
  tools/runners/run-hmr.js
Labels: Project:Mobile, Project:Tool

#12829 Update README.md
  README.md
Labels: Project:Docs, hacktoberfest-accepted

#12830 Chore: Typo fixed in multiple files
  docs/generators/changelog/versions/0-before-2.10.md
  docs/history.md
  docs/long-form/oplog-observe-driver.md
  docs/source/api/accounts-multi.md
  docs/source/api/check.md
  docs/source/environment-variables.md
  docs/source/packages/fetch.md
  docs/source/packages/logging.md
  docs/source/packages/modules.md
  docs/source/packages/url.md
  docs/source/windows.md
Labels: Project:Docs, hacktoberfest-accepted

#12800 Update broken accounts link
  packages/accounts-base/README.md
  packages/accounts-facebook/README.md
  packages/accounts-github/README.md
  packages/accounts-google/README.md
  packages/accounts-meetup/README.md
  packages/accounts-meteor-developer/README.md
  packages/accounts-oauth/README.md
  packages/accounts-passwordless/README.md
  packages/accounts-twitter/README.md
  packages/accounts-ui-unstyled/README.md
  packages/accounts-ui/README.md
  packages/accounts-weibo/README.md
  packages/deprecated/facebook/README.md
  packages/deprecated/github/README.md
  packages/deprecated/google/README.md
  packages/deprecated/meetup/README.md
  packages/deprecated/meteor-developer/README.md
  packages/deprecated/twitter/README.md
  packages/deprecated/weibo/README.md
  packages/google-oauth/README.md
  packages/oauth/README.md
  packages/oauth1/README.md
  packages/oauth2/README.md
  packages/service-configuration/README.md
  packages/tracker/README.md
Labels: Project:Accounts:UI

#12835 Removed the parentheses where it says Galaxy meteor-base image "it will be updated soon"
  guide/source/using-node-v14.21.4.md
Labels: Project:Guide

#12762 fixes #12761
  npm-packages/cordova-plugin-meteor-webapp/package.json
  npm-packages/cordova-plugin-meteor-webapp/src/android/WebAppLocalServer.java
  tools/tests/apps/hot-code-push-test/index.js
  tools/tests/cordova-hcp.js
  tools/tool-testing/test-utils.js
Labels: Project:Tool, Project:NPM

#12842 backport createUserAsync from #12787
  docs/generators/changelog/versions/2.14.md
  docs/history.md
  docs/source/api/passwords.md
  packages/accounts-password/package.js
  packages/accounts-password/password_client.js
Labels: Project:Docs, Project:Accounts:Password

#12833 User index async
  packages/accounts-base/accounts_server.js
  packages/accounts-oauth/oauth_common.js
  packages/accounts-password/password_server.js
  packages/accounts-passwordless/passwordless_server.js
  packages/oauth/pending_credentials.js
  packages/service-configuration/service_configuration_server.js
Labels: Project:Accounts:Password

#12819 Add --open option to run command #12233
  .github/workflows/check-code-style.yml
  .github/workflows/check-syntax.yml
  .github/workflows/docs.yml
  .github/workflows/guide.yml
  .github/workflows/npm-eslint-plugin-meteor.yml
  .github/workflows/npm-meteor-babel.yml
  .github/workflows/npm-meteor-promise.yml
  guide/source/using-node-v14.21.4.md
  package.json
  packages/accounts-base/README.md
  packages/accounts-facebook/README.md
  packages/accounts-github/README.md
  packages/accounts-google/README.md
  packages/accounts-meetup/README.md
  packages/accounts-meteor-developer/README.md
  packages/accounts-oauth/README.md
  packages/accounts-passwordless/README.md
  packages/accounts-twitter/README.md
  packages/accounts-ui-unstyled/README.md
  packages/accounts-ui/README.md
  packages/accounts-weibo/README.md
  packages/deprecated/facebook/README.md
  packages/deprecated/github/README.md
  packages/deprecated/google/README.md
  packages/deprecated/meetup/README.md
  packages/deprecated/meteor-developer/README.md
  packages/deprecated/twitter/README.md
  packages/deprecated/weibo/README.md
  packages/google-oauth/README.md
  packages/oauth/README.md
  packages/oauth1/README.md
  packages/oauth2/README.md
  packages/service-configuration/README.md
  packages/tracker/README.md
  scripts/dev-bundle-tool-package.js
  tools/cli/commands.js
  tools/cli/help.txt
  tools/runners/run-all.js
Labels: Project:Tool, Project:Release Process, hacktoberfest-accepted

#12787 [ Meteor 3.0 ] - added createUserAsync in the client
  packages/accounts-password/password_client.js
Labels: Project:Accounts:Password

#12850 [meteor] Add types for makeErrorType and meteorRelease
  packages/meteor/meteor.d.ts
Labels: Project:TypeScript-conversion

#12826 add: depracated notices added for the old methods that are depracated in version 2.8
  packages/mongo/mongo.d.ts
Labels: Project:Mongo Driver

#12840 Future proof NPM packages
  npm-packages/babel-preset-meteor/babel-presets-meteor/package.json
  npm-packages/cordova-plugin-meteor-webapp/package.json
  npm-packages/eslint-config-meteor/package.json
  npm-packages/eslint-plugin-meteor/package.json
  npm-packages/meteor-babel/package.json
  npm-packages/meteor-installer/package.json
  npm-packages/meteor-node-stubs/package.json
  npm-packages/meteor-promise/package.json
Labels: Project:NPM

#12849 [service-configuration] Add types for ConfigError
  packages/service-configuration/service-configuration.d.ts
Labels: hacktoberfest-accepted

#12856 Don't flatten ObjectIDs in oplogV2V1Converter (fixes #12855)
  packages/mongo/oplog_v2_converter.js
  packages/mongo/oplog_v2_converter_tests.js
Labels: Project:Mongo Driver
