Repository meteor/meteor, pull requests merged in 2024-05, with the labels that each got.

#13117 [3.x] Fix Cordova
  tools/cordova/run-targets.js
Labels: Project:Mobile, Project:Tool

#13122 Fix small typo in Mongo.ObjectID documentation
  packages/mongo/collection.js
Labels: Project:Mongo Driver

#13120 [Meteor 2.16] Update terser to v5.31.0
  docs/generators/changelog/versions/2.16.md
  packages/minifier-js/package.js
Labels: Project:Docs, Project:Isobuild:Minifiers

#13102 [Meteor 3] Added `waitUntilAllLoaded` safety check.
  packages/core-runtime/load-js-image.js
  tools/isobuild/compiler-plugin.js
Labels: Project:Tool, Project:Isobuild

#13118 update to the latest version of terser
  packages/minifier-js/package.js
Labels: Project:Isobuild:Minifiers

#13098 [3.0] Impact 2.16 changes on Meteor 3.x
  .github/workflows/npm-meteor-promise.yml
  docs/generators/changelog/versions/2.16.md
  docs/source/api/accounts.md
  docs/source/api/check.md
  docs/source/api/collections.md
  docs/source/packages/oauth-encryption.md
  guide/source/2.14-migration.md
  guide/source/data-loading.md
  guide/source/security.md
  guide/source/vue.md
  npm-packages/eslint-config-meteor/README.md
  packages/accounts-base/accounts-base.d.ts
  packages/accounts-base/accounts_client.js
  packages/accounts-base/accounts_client_tests.js
  packages/accounts-base/accounts_common.js
  packages/accounts-base/client_main.js
  packages/accounts-base/package.js
  packages/accounts-base/server_main.js
  packages/accounts-oauth/oauth_common.js
  packages/accounts-ui-unstyled/login_buttons_single.js
  packages/check/check.d.ts
  packages/check/match.js
  packages/check/match_test.js
  packages/ddp-client/common/livedata_connection.js
  packages/ddp-common/method_invocation.js
  packages/ddp-server/livedata_server.js
  packages/deprecated/jquery-layout/jquery.layout.js
  packages/email/.npm/package/npm-shrinkwrap.json
  packages/email/email.js
  packages/email/email_tests.js
  packages/email/package.js
  packages/logging/logging.d.ts
  packages/minimongo/cursor.js
  packages/minimongo/local_collection.js
  packages/minimongo/minimongo_tests_client.js
  packages/mongo/collection_tests.js
  packages/mongo/mongo_driver.js
  packages/mongo/oplog_tailing.js
  packages/mongo/oplog_tests.js
  packages/reload-safetybelt/package.js
  packages/reload-safetybelt/reload-safety-belt-tests.js
  packages/service-configuration/service-configuration.d.ts
  packages/twitter-config-ui/twitter_configure.html
  tools/cli/commands.js
  tools/console/console.js
  tools/isobuild/compiler.js
  tools/static-assets/skel-solid/package.json
  tools/static-assets/skel-svelte/imports/ui/App.svelte
  tools/static-assets/skel-svelte/tsconfig.json
  tools/utils/buildmessage.js
Labels: Project:Docs, Project:DDP, Project:Mongo Driver, Project:Tool, Project:Utilities:Email, Project:Isobuild, Project:Accounts:UI, Project:Tool:Shell, Project:NPM, Project:Guide

#13067 [Meteor 3] fix Circle CI group 5 tests
  .circleci/config.yml
  tools/tests/apps/modules/.meteor/packages
  tools/tests/apps/modules/.meteor/release
  tools/tests/apps/modules/packages/modules-test-package/.npm/package/npm-shrinkwrap.json
  tools/tests/apps/modules/packages/modules-test-plugin/.npm/package/npm-shrinkwrap.json
  tools/tests/apps/modules/packages/modules-test-plugin/.npm/plugin/compile-arson/npm-shrinkwrap.json
  tools/tests/apps/modules/tests.js
Labels: Project:Tool

#13042 refactor(accounts): add ddp type to accounts-client
  packages/accounts-base/accounts-base.d.ts
Labels: Project:TypeScript-conversion

#13127 [3.x] Fix async OP behaviors on server (oauth packages)
  packages/facebook-oauth/facebook-oauth_tests.js
  packages/facebook-oauth/facebook_server.js
  packages/facebook-oauth/package.js
  packages/github-oauth/github-oauth_tests.js
  packages/github-oauth/github_server.js
  packages/github-oauth/package.js
  packages/google-oauth/google-oauth_tests.js
  packages/google-oauth/google_server.js
  packages/google-oauth/package.js
  packages/meetup-oauth/meetup-oauth_tests.js
  packages/meetup-oauth/meetup_server.js
  packages/meetup-oauth/package.js
  packages/meteor-developer-oauth/meteor-developer-oauth_tests.js
  packages/meteor-developer-oauth/package.js
  packages/mongo/mongo_livedata_tests.js
  packages/oauth/oauth_server.js
  packages/test-helpers/mock.js
  packages/test-helpers/package.js
  packages/test-helpers/wait.js
  packages/weibo-oauth/package.js
  packages/weibo-oauth/weibo-oauth_tests.js
  packages/weibo-oauth/weibo_server.js
Labels: Project:Mongo Driver

#13145 [3.x] Fix error log create cmd
  packages/test-helpers/wait.js
  tools/cli/commands.js
Labels: Project:Tool, Meteor 3

#13090 [3.x] Update Node 20.12.2, Npm 10.5.0 and Typescript 5.4.5 (Dev bundle 20.12.2.0)
  .github/workflows/meteor-selftest-windows.yml
  .github/workflows/npm-eslint-plugin-meteor.yml
  .github/workflows/npm-meteor-babel.yml
  appveyor.yml
  meteor
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  npm-packages/meteor-babel/package-lock.json
  npm-packages/meteor-babel/package.json
  package-lock.json
  package.json
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-tool-package.js
  scripts/windows/ci/install.ps1
  scripts/windows/ci/test.ps1
  tools/cli/main.js
  tools/runners/run-mongo.js
  tools/static-assets/skel-typescript/package.json
  tools/tool-testing/run.js
  tools/utils/processes.ts
Labels: Project:Tool, Project:Windows, Project:Release Process, Project:NPM

#13136 Security updates RC.2
  npm-packages/babel-preset-meteor/babel-presets-meteor/package-lock.json
  npm-packages/meteor-babel/package-lock.json
  tools/tests/apps/app-config/package-lock.json
  tools/tests/apps/ecmascript-regression/package-lock.json
  tools/tests/apps/git-commit-hash/package-lock.json
  tools/tests/apps/modules/package-lock.json
Labels: Project:Tool, Project:NPM

#13128 [Meteor 3] Environment Variable Tweaks
  .envrc
  packages/accounts-password/password_tests.js
  packages/meteor/asl-helpers-client.js
  packages/meteor/asl-helpers.js
  packages/meteor/async_helpers.js
  packages/meteor/dynamics_browser.js
  packages/meteor/dynamics_nodejs.js
  packages/meteor/dynamics_test.js
  packages/tinytest/tinytest.js
Labels: Project:Accounts:Password

#13111 Improve error when local package has inconsistent dependency constraints
  tools/packaging/catalog/catalog-local.js
Labels: Project:Tool

#13155 Fix assets method names
  packages/oauth/oauth_server.js
  packages/reload-safetybelt/reload-safety-belt-tests.js
  packages/reload-safetybelt/reload-safety-belt.js
  tools/static-assets/server/boot.js
  tools/tests/apps/compiler-plugin-add-asset/use-asset.js
  tools/tests/apps/compiler-plugin-asset-and-source/packages/asset-and-source/asset-and-source.js
  tools/tests/apps/unicode-asset-app/index.js
Labels: Project:Tool

#13153 fix: oauth_.fetch invocation on github_server and google_server
  packages/github-oauth/github_server.js
  packages/google-oauth/google_server.js
Labels: Project:Accounts:OAuth

#13164 [2.x] Add Accounts.addEmailAsync
  .envrc
  packages/accounts-password/password_server.js
Labels: Project:Accounts:Password

#13158 [3.x] Update Migration Docs
  .envrc
  docs/source/install.md
  v3-docs/v3-migration-docs/.vitepress/config.mts
  v3-docs/v3-migration-docs/breaking-changes/upgrading-packages.md
  v3-docs/v3-migration-docs/guide/publishing-packages.md
  v3-docs/v3-migration-docs/vite-bundler/setup.md
Labels: Project:Docs
