Repository meteor/meteor, pull requests merged in 2024-02, with the labels that each got.

#12989 268 - Support asyncIterator to AsyncCursor
  README.md
  guide/source/3.0-migration.md
  guide/source/writing-atmosphere-packages.md
  packages/minimongo/minimongo_tests_client.js
  packages/mongo/mongo_driver.js
  packages/mongo/mongo_livedata_tests.js
Labels: Project:Mongo Driver, Project:Guide, Meteor 3

#12973 Upgrade reify to 0.25.1
  npm-packages/meteor-babel/package-lock.json
  npm-packages/meteor-babel/package.json
  packages/accounts-2fa/.npm/package/npm-shrinkwrap.json
  packages/email/.npm/package/npm-shrinkwrap.json
  packages/force-ssl-common/.npm/package/npm-shrinkwrap.json
  packages/minifier-js/.npm/package/npm-shrinkwrap.json
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/webapp/.npm/package/npm-shrinkwrap.json
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
Labels: Project:Release Process, Project:NPM

#12160 Support ARM on Linux
  meteor
  npm-packages/eslint-plugin-meteor/scripts/admin/launch-meteor
  npm-packages/eslint-plugin-meteor/scripts/admin/publish-meteor-tool-on-all-platforms.sh
  npm-packages/eslint-plugin-meteor/scripts/admin/publish-meteor-tool-on-arch.sh
  scripts/admin/launch-meteor
  scripts/admin/publish-meteor-tool-on-all-platforms.sh
  scripts/admin/publish-meteor-tool-on-arch.sh
  scripts/build-dev-bundle-common.sh
  scripts/generate-dev-bundle.sh
  tools/cli/commands-packages.js
  tools/utils/archinfo.ts
Labels: Project:Tool, Project:Release Process, Project:NPM, in-development

#12995 [Meteor 3] Apollo skeleton upgrade
  tools/static-assets/skel-apollo/package.json
  tools/static-assets/skel-apollo/server/apollo.js
Labels: Project:Tool

#12996 [Meteor 3] Accounts Ambiguous error messages in production set to true by default
  packages/accounts-base/accounts_common.js
  packages/accounts-base/accounts_server.js
  packages/accounts-password/password_tests.js
Labels: Project:Accounts:Password

#12969 [Meteor 3] Fix client ops in remote collections
  packages/allow-deny/allow-deny.js
  packages/mongo/collection.js
  packages/mongo/mongo_livedata_tests.js
Labels: Project:Mongo Driver, Meteor 3

#12966 [ Meteor v3 ] - Revert localhost change
  README.md
  packages/meteor/url_common.js
  packages/meteor/url_tests.js
Labels: Meteor 3

#13017 Dev bundle 20.9.0.6 (TypeScript 5.3.3)
  meteor
  npm-packages/meteor-babel/package-lock.json
  npm-packages/meteor-babel/package.json
  packages/babel-compiler/package.js
  packages/ecmascript/package.js
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/typescript/package.js
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-tool-package.js
  tools/static-assets/skel-typescript/package.json
  tools/tests/apps/ecmascript-regression/.meteor/packages
Labels: Project:JS Environment, Project:Tool, Project:Release Process, Project:NPM, Project:JS Environment:Typescript

#13022 Changing the version of dependencies on the less package
  packages/non-core/less/package.js
Labels: Project:CSS

#13023 Dev bundle 20.9.0.7 (MongoDB 7.0.5 & ARM Linux Support)
  meteor
  packages/deprecated/appcache/README.md
  packages/deprecated/code-prettify/README.md
  packages/deprecated/deps/README.md
  packages/deprecated/facebook/README.md
  packages/deprecated/facts/README.md
  packages/deprecated/fastclick/README.md
  packages/deprecated/github/README.md
  packages/deprecated/google/README.md
  packages/deprecated/handlebars/README.md
  packages/deprecated/jquery-waypoints/README.md
  packages/deprecated/jshint/README.md
  packages/deprecated/jsparse/README.md
  packages/deprecated/livedata/README.md
  packages/deprecated/meetup/README.md
  packages/deprecated/meteor-developer/README.md
  packages/deprecated/meteor-platform/README.md
  packages/deprecated/meyerweb-reset/README.md
  packages/deprecated/npm-bcrypt/README.md
  packages/deprecated/preserve-inputs/README.md
  packages/deprecated/showdown/README.md
  packages/deprecated/spiderable/README.md
  packages/deprecated/srp/README.md
  packages/deprecated/standard-app-packages/README.md
  packages/deprecated/startup/README.md
  packages/deprecated/stylus/README.md
  packages/deprecated/twitter/README.md
  packages/deprecated/weibo/README.md
  scripts/admin/copy-dev-bundle-from-jenkins.sh
  scripts/build-dev-bundle-common.sh
Labels: Project:Release Process

#13027 [Meteor 3] Fix user not ready workaround inside accounts-base
  packages/accounts-2fa/.npm/package/npm-shrinkwrap.json
  packages/accounts-base/accounts_client.js
  packages/accounts-password/password_tests.js
  packages/force-ssl-common/.npm/package/npm-shrinkwrap.json
Labels: Project:Accounts:Password

#13030 [Meteor 3] Removing broken methods in version 3
  packages/accounts-base/accounts-base.d.ts
  packages/accounts-password/password_server.js
  packages/caching-compiler/caching-compiler.js
  packages/caching-compiler/multi-file-caching-compiler.js
  packages/email/.npm/package/npm-shrinkwrap.json
  packages/oauth1/oauth1_binding.js
  tools/isobuild/bundler.js
  tools/isobuild/compiler-plugin.js
Labels: Project:Accounts:Password, Project:Tool, Project:Isobuild

#13032 [Meteor 3] - Fix springboarding
  tools/cli/commands-packages.js
  tools/tests/update-tests.js
Labels: Project:Tool

#13031 [Meteor 3] Fix linker bug
  tools/isobuild/linker.js
Labels: Project:Tool, Project:Isobuild

#13037 Dev bundle 20.11.1.0
  meteor
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-tool-package.js
Labels: Project:Release Process

#13041 Added call async type for ddp
  packages/ddp/ddp.d.ts
Labels: Project:DDP

#13043 Update webapp types & adding express module to WebApp
  packages/minifier-js/.npm/package/npm-shrinkwrap.json
  packages/webapp/webapp.d.ts
  packages/webapp/webapp_server.js
Labels: Project:Webapp
