Repository meteor/meteor, pull requests merged in 2024-10, with the labels that each got.

#12259 [ddp-server] Remove underscore
  packages/ddp-server/crossbar.js
  packages/ddp-server/livedata_server.js
  packages/ddp-server/package.js
  packages/ddp-server/server_convenience.js
  packages/ddp-server/session_view_tests.js
  packages/ddp-server/stream_server.js
Labels: Project:DDP

#13375 Improve queueStubsHelpers.js to avoid hacks and copy-pasted code
  packages/ddp-client/client/queueStubsHelpers.js
  packages/ddp-client/common/livedata_connection.js
Labels: Project:DDP, Project:Mongo Driver, Project:Tool

#13355 Webapp upgrade useragent
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/webapp/.npm/package/npm-shrinkwrap.json
  packages/webapp/package.js
  packages/webapp/webapp_server.js
  packages/webapp/webapp_tests.js
Labels: Project:Webapp

#13298 Fix TLA still not working
  .envrc
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-server-package.js
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  npm-packages/meteor-babel/package-lock.json
  npm-packages/meteor-babel/package.json
  packages/babel-compiler/package.js
  packages/ddp-client/common/livedata_connection.js
  packages/ddp-server/livedata_server_async_tests.js
  packages/ddp-server/livedata_server_tests.js
  packages/modules/.npm/package/npm-shrinkwrap.json
  packages/modules/package.js
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
  tools/tests/apps/dynamic-import/tests.js
  tools/tests/apps/modules/packages/modules-test-package/client.js
  tools/tests/apps/modules/packages/modules-test-package/common.js
  tools/tests/apps/modules/packages/modules-test-package/server.js
  tools/tests/apps/modules/tests.js
Labels: Project:DDP, Project:JS Environment, Project:Tool, Project:Release Process, Project:NPM

#13376 Fix Cordova build when using plugins with indirect plugin usage [Meteor 3]
  tools/cordova/project.js
Labels: Project:Mobile, Project:Tool

#13377 Fix Meteor npm subcommand among others [Meteor 3]
  scripts/windows/ci/install.ps1
  tools/cli/dev-bundle-bin-commands.js
Labels: Project:Tool, Project:Windows, Project:Release Process

#13388 Fix Cordova on Windows
  scripts/generate-dev-bundle.ps1
  tools/cordova/project.js
Labels: Project:Mobile, Project:Tool, Project:Release Process

#13400 Update labeler to include v3 docs
  .github/labeler.yml
Labels: github_actions

#13396 Fix Cordova on Windows (Part 2)
  tools/cordova/project.js
  v3-docs/docs/about/cordova.md
Labels: Project:Mobile, Project:Tool

#13403 Node 20.18.0 & Typescript 5.6.2
  meteor
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-tool-package.js
Labels: Project:Release Process, Project:NPM

#13409 Express 4.21.1
  packages/webapp/package.js
Labels: Project:Webapp

#12961 Replace validated method references with jam:method
  guide/source/methods.md
  guide/source/security.md
Labels: Project:Guide

#12238 [webapp] Remove underscore
  packages/webapp/.npm/package/npm-shrinkwrap.json
  packages/webapp/package.js
  packages/webapp/webapp_server.js
  packages/webapp/webapp_tests.js
Labels: Project:Webapp

#12267 [boilerplate-generator-tests] Remove underscore
  packages/boilerplate-generator-tests/package.js
  packages/boilerplate-generator-tests/web.browser-tests.js
  packages/boilerplate-generator-tests/web.cordova-tests.js
Labels: needs-investigation

#13422 test: fix tests for 3.1.0
  .envrc
  .github/workflows/meteor-selftest-windows.yml
  .github/workflows/test-deprecated-packages.yml
  packages/accounts-2fa/.npm/package/npm-shrinkwrap.json
  packages/deprecated/stylus/.npm/plugin/compileStylusBatch/npm-shrinkwrap.json
  packages/email/.npm/package/npm-shrinkwrap.json
  packages/test-helpers/async_multi.js
  packages/test-helpers/callback_logger.js
  packages/test-helpers/connection_server.js
  packages/test-helpers/package.js
  packages/test-helpers/try_all_permutations_test.js
  packages/test-in-console/package.js
  packages/test-in-console/phantomRunner.js
  packages/test-in-console/puppeteer_runner.js
  packages/test-in-console/reporter.js
  packages/test-in-console/run.sh
  packages/webapp/.npm/package/npm-shrinkwrap.json
  packages/webapp/package.js
  packages/webapp/webapp_server.js
Labels: Project:Webapp

#13427 feat: update reify
  npm-packages/meteor-babel/package-lock.json
  npm-packages/meteor-babel/package.json
  packages/babel-compiler/package.js
  packages/minifier-js/.npm/package/npm-shrinkwrap.json
  packages/modules/.npm/package/npm-shrinkwrap.json
  packages/modules/package.js
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/webapp/.npm/package/npm-shrinkwrap.json
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
Labels: Project:JS Environment, Project:Release Process, Project:NPM

#13418 Grammar correction on the `fish shell users` section of the install doc…
  v3-docs/docs/about/install.md
Labels: Project:Docs

#13425 Simplify Meteor.EnvironmentVariable on the server
  packages/accounts-2fa/.npm/package/npm-shrinkwrap.json
  packages/ddp-client/test/livedata_test_service.js
  packages/ddp-server/livedata_server.js
  packages/email/.npm/package/npm-shrinkwrap.json
  packages/email/email_tests.js
  packages/meteor/async_helpers.js
  packages/meteor/dynamics_nodejs.js
  packages/meteor/dynamics_test.js
  packages/tinytest/tinytest.js
  packages/tinytest/tinytest_server.js
Labels: Project:DDP, Project:Utilities:Email

#13434 Upgrade Mongo node driver 6.x
  packages/mongo/mongo_common.js
  packages/mongo/mongo_connection.js
  packages/mongo/oplog_tailing.ts
  packages/mongo/tests/mongo_livedata_tests.js
  packages/mongo/tests/observe_changes_tests.js
  packages/mongo/tests/oplog_tests.js
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/npm-mongo/package.js
  tools/runners/run-mongo.js
Labels: Project:Mongo Driver

#13406 feat: refactor mongo and optimize perf
  package-lock.json
  package.json
  packages/accounts-2fa/.npm/package/npm-shrinkwrap.json
  packages/email/.npm/package/npm-shrinkwrap.json
  packages/meteor/asl-helpers.js
  packages/meteor/async_helpers.js
  packages/minimongo/cursor.js
  packages/mongo/asynchronous_cursor.js
  packages/mongo/collection.js
  packages/mongo/collection/collection.js
  packages/mongo/collection/collection_utils.js
  packages/mongo/collection/methods_async.js
  packages/mongo/collection/methods_index.js
  packages/mongo/collection/methods_replication.js
  packages/mongo/collection/methods_sync.js
  packages/mongo/connection_options.ts
  packages/mongo/cursor.ts
  packages/mongo/cursor_description.ts
  packages/mongo/mongo_common.js
  packages/mongo/mongo_connection.js
  packages/mongo/mongo_driver.js
  packages/mongo/observe_handle.ts
  packages/mongo/observe_multiplex.js
  packages/mongo/observe_multiplex.ts
  packages/mongo/oplog_observe_driver.js
  packages/mongo/oplog_tailing.js
  packages/mongo/oplog_tailing.ts
  packages/mongo/package.js
  packages/mongo/polling_observe_driver.js
  packages/mongo/polling_observe_driver.ts
  packages/mongo/remote_collection_driver.js
  packages/mongo/remote_collection_driver.ts
  packages/mongo/tests/allow_tests.js
  packages/mongo/tests/collection_async_tests.js
  packages/mongo/tests/collection_tests.js
  packages/mongo/tests/doc_fetcher_tests.js
  packages/mongo/tests/mongo_livedata_tests.js
  packages/mongo/tests/observe_changes_tests.js
  packages/mongo/tests/oplog_tests.js
  packages/mongo/tests/oplog_v2_converter_tests.js
  packages/mongo/tests/upsert_compatibility_test.js
  packages/mongo/types.ts
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/npm-mongo/package.js
  tools/runners/run-mongo.js
  tsconfig.json
Labels: Project:Mongo Driver, Project:Tool

#13439 feat: upgrade elliptic in meteor-node-stubs
  npm-packages/meteor-node-stubs/CHANGELOG.md
  npm-packages/meteor-node-stubs/package-lock.json
  npm-packages/meteor-node-stubs/package.json
Labels: Project:NPM
