Repository meteor/meteor, pull requests merged in 2024-09, with the labels that each got.

#13252 Node 20.17.0
  meteor
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
Labels: Project:Release Process, Project:NPM

#13239 Update Cordova dependency versions to the latest
  .circleci/config.yml
  meteor
  tools/cordova/index.js
Labels: Project:Mobile, Project:Tool

#13297 [3.x] Support env vars to modify the Meteor project configuration and .meteorignore [modern-bundlers]
  tools/fs/optimistic.ts
  tools/project-context.js
Labels: Project:Tool

#13325 Fix wrong URL to changelog
  tools/packaging/updater.js
Labels: Project:Tool

#13312 [mongo] Remove underscore
  packages/mongo/allow_tests.js
  packages/mongo/mongo_driver.js
  packages/mongo/mongo_livedata_tests.js
  packages/mongo/observe_changes_tests.js
  packages/mongo/observe_multiplex.js
  packages/mongo/oplog_observe_driver.js
  packages/mongo/oplog_tailing.js
  packages/mongo/package.js
  packages/mongo/polling_observe_driver.js
  packages/mongo/remote_collection_driver.js
Labels: Project:Mongo Driver

#13304 Release 3.0.3
  .circleci/config.yml
  README.md
  meteor
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  npm-packages/meteor-installer/README.md
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/extract.js
  npm-packages/meteor-installer/install.js
  npm-packages/meteor-installer/package-lock.json
  npm-packages/meteor-installer/package.json
  packages/accounts-2fa/.npm/package/npm-shrinkwrap.json
  packages/accounts-base/accounts_server.js
  packages/accounts-base/package.js
  packages/accounts-password/.npm/package/npm-shrinkwrap.json
  packages/accounts-password/package.js
  packages/accounts-password/password_tests.js
  packages/email/.npm/package/npm-shrinkwrap.json
  packages/email/package.js
  packages/meteor-tool/package.js
  packages/mongo/.npm/package/npm-shrinkwrap.json
  packages/mongo/allow_tests.js
  packages/mongo/mongo_driver.js
  packages/mongo/mongo_livedata_tests.js
  packages/mongo/observe_changes_tests.js
  packages/mongo/observe_multiplex.js
  packages/mongo/oplog_observe_driver.js
  packages/mongo/oplog_tailing.js
  packages/mongo/package.js
  packages/mongo/polling_observe_driver.js
  packages/mongo/remote_collection_driver.js
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/webapp/.npm/package/npm-shrinkwrap.json
  scripts/admin/meteor-release-experimental.json
  scripts/admin/meteor-release-official.json
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
  tools/cli/commands.js
  tools/cordova/index.js
  tools/fs/optimistic.ts
  tools/packaging/updater.js
  tools/project-context.js
  tools/runners/run-all.js
  tools/static-assets/skel-solid/.meteor/packages
  tools/static-assets/skel-vue/.meteor/packages
  tools/static-assets/skel-vue/package.json
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/about/cordova.md
  v3-docs/docs/generators/changelog/versions/3.0.3.md
  v3-docs/v3-migration-docs/breaking-changes/index.md
  v3-docs/v3-migration-docs/index.md
Labels: Project:Mobile, Project:Accounts:Password, Project:Mongo Driver, Project:Tool, Project:Utilities:Email, Project:Release Process, Project:NPM

#13350 [FIX] `admin set-unmigrated` missing await
  tools/cli/commands-packages.js
Labels: Project:Tool

#13356 Core-js v3.38.1
  packages/ecmascript-runtime-server/.npm/package/npm-shrinkwrap.json
  packages/ecmascript-runtime-server/package.js
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/url/.npm/package/npm-shrinkwrap.json
  packages/url/package.js
Labels: Project:JS Environment, Project:Utilities:HTTP

#13363 Add a legacy warning to the v2 docs
  docs/scripts/kapa.js
  docs/scripts/legacy-warning.js
Labels: Project:Docs

#13371 fix: typo in collections.md
  guide/source/collections.md
Labels: Project:Guide

#12261 [ddp-client] Remove underscore
  packages/ddp-client/.npm/package/npm-shrinkwrap.json
  packages/ddp-client/package.js
  packages/ddp-client/test/livedata_connection_tests.js
  packages/ddp-client/test/livedata_test_service.js
  packages/ddp-client/test/livedata_tests.js
  packages/ddp-client/test/stub_stream.js
Labels: Project:DDP
