Repository meteor/meteor, pull requests merged in 2024-03, with the labels that each got.

#13024 339 Support observeChangesAsync and observeAsync and keep ASYNC the rest [Meteor 3.x]
  packages/minimongo/cursor.js
  packages/mongo/mongo_driver.js
  packages/mongo/mongo_livedata_tests.js
Labels: Project:Mongo Driver, Meteor 3

#13055 Fix an issue with methods interacting with unblocking mechanisms
  packages/ddp-client/client/queueStubsHelpers.js
  packages/ddp-client/test/async_stubs/client.js
  packages/ddp-client/test/async_stubs/server_setup.js
Labels: Project:DDP, Meteor 3

#13054 [3.0] Debug mode
  docs/generators/changelog/versions/3.0.md
  packages/meteor/debug.js
Labels: Project:Docs, Meteor 3

#13034 Subscribe stop crash
  packages/mongo/mongo_driver.js
  packages/mongo/oplog_observe_driver.js
  packages/mongo/oplog_tailing.js
  packages/mongo/polling_observe_driver.js
Labels: Project:Mongo Driver

#13059 [3.0] Fix Meteor installer
  guide/source/3.0-migration.md
  npm-packages/meteor-installer/cli.js
  npm-packages/meteor-installer/install.js
  npm-packages/meteor-installer/package-lock.json
  npm-packages/meteor-installer/package.json
  v3-docs/docs/about/install.md
Labels: Project:NPM, Project:Guide, Meteor 3

#13065 [Meteor 3] fix Circle CI group 3 tests
  .circleci/config.yml
  docs/source/commandline.md
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/webapp/.npm/package/npm-shrinkwrap.json
  tools/cli/commands.js
  tools/cli/example-repositories.js
  tools/cli/help.txt
  tools/static-assets/README.md
  tools/static-assets/skel-apollo/.meteor/packages
  tools/static-assets/skel-solid/.meteor/packages
  tools/static-assets/skel-solid/package.json
  tools/static-assets/skel-vue-2/.gitignore
  tools/static-assets/skel-vue-2/.meteor/.gitignore
  tools/static-assets/skel-vue-2/.meteor/packages
  tools/static-assets/skel-vue-2/.meteor/platforms
  tools/static-assets/skel-vue-2/client/main.html
  tools/static-assets/skel-vue-2/client/main.js
  tools/static-assets/skel-vue-2/imports/api/collections/Links.js
  tools/static-assets/skel-vue-2/imports/api/collections/Links.tests.js
  tools/static-assets/skel-vue-2/imports/api/fixtures.js
  tools/static-assets/skel-vue-2/imports/api/methods/createLink.js
  tools/static-assets/skel-vue-2/imports/api/methods/createLink.tests.js
  tools/static-assets/skel-vue-2/imports/api/methods/index.js
  tools/static-assets/skel-vue-2/imports/api/publications/index.js
  tools/static-assets/skel-vue-2/imports/api/publications/links.js
  tools/static-assets/skel-vue-2/imports/api/publications/links.tests.js
  tools/static-assets/skel-vue-2/imports/ui/App.vue
  tools/static-assets/skel-vue-2/imports/ui/components/Hello.vue
  tools/static-assets/skel-vue-2/imports/ui/components/Info.vue
  tools/static-assets/skel-vue-2/imports/ui/plugins.js
  tools/static-assets/skel-vue-2/package.json
  tools/static-assets/skel-vue-2/server/main.js
  tools/static-assets/skel-vue-2/tests/main.js
  tools/static-assets/skel-vue/.meteor/packages
  v3-docs/docs/cli/index.md
Labels: Project:Examples, Project:Docs, Project:Tool

#13070 Dev bundle 20.11.1.2 [ Typescript to 5.4.3 ]
  meteor
  npm-packages/meteor-babel/package-lock.json
  npm-packages/meteor-babel/package.json
  packages/babel-compiler/package.js
  packages/typescript/package.js
  scripts/dev-bundle-tool-package.js
  tools/static-assets/skel-typescript/package.json
Labels: Project:JS Environment, Project:Tool, Project:Release Process, Project:NPM, Project:JS Environment:Typescript

#13025 339 Support observeChangesAsync and observeAsync [Meteor 2.x]
  packages/minimongo/cursor.js
  packages/mongo/mongo_driver.js
  packages/mongo/mongo_livedata_tests.js
Labels: Project:Mongo Driver

#13047 Fix typo
  npm-packages/eslint-config-meteor/README.md
Labels: Project:NPM

#12944 inlcuded vue app skeleton
  guide/source/vue.md
Labels: Project:Guide

#12976 Replace HTTP reference with fetch
  guide/source/data-loading.md
Labels: Project:Guide

#13044 Update App.svelte
  tools/static-assets/skel-svelte/imports/ui/App.svelte
Labels: Project:Tool

#13033 Update solid skeleton dependencies
  tools/static-assets/skel-solid/package.json
Labels: Project:Tool

#13020 Update nodemailer to v6.9.10
  packages/email/package.js
Labels: Project:Utilities:Email

#12981 Update X/Twitter setup instructions and button text to: X/Twitter
  packages/accounts-ui-unstyled/login_buttons_single.js
  packages/twitter-config-ui/twitter_configure.html
Labels: Project:Accounts:UI, Project:Accounts:OAuth

#12953 Update tsconfig.json for svelte skeleton
  tools/static-assets/skel-svelte/tsconfig.json
Labels: Project:Tool

#12900 Vpalos/fix accounts config options
  docs/source/packages/oauth-encryption.md
  packages/accounts-base/accounts-base.d.ts
  packages/accounts-base/accounts_common.js
  packages/accounts-base/package.js
  packages/accounts-oauth/oauth_common.js
Labels: Project:Docs, Project:Accounts:OAuth
