Repository meteor/meteor, pull requests merged in 2024-11, with the labels that each got.

#13380 Node v22.11.0
  .circleci/config.yml
  .github/workflows/check-code-style.yml
  .github/workflows/check-syntax.yml
  .github/workflows/meteor-selftest-windows.yml
  .github/workflows/npm-eslint-plugin-meteor.yml
  meteor
  meteor.bat
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  packages/modules/.npm/package/npm-shrinkwrap.json
  packages/typescript/package.js
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-tool-package.js
  scripts/generate-dev-bundle.ps1
  tools/index.js
  tools/node-process-warnings.js
Labels: Project:Tool, Project:Release Process, Project:NPM, Project:JS Environment:Typescript

#13416 Fix Cordova build on indirect dependencies [Part 2]
  tools/cordova/project.js
Labels: Project:Mobile, Project:Tool

#13408 Upgrade Express 5
  packages/webapp/package.js
  packages/webapp/webapp_server.js
  packages/webapp/webapp_tests.js
Labels: Project:Webapp

#13449 Fix type publishing in meteor/mongo
  packages/mongo/package-types.json
  packages/mongo/package.js
Labels: Project:Mobile, Project:Docs, Project:DDP, Project:Webapp, Project:Mongo Driver, Project:JS Environment, Project:Tool, Project:Utilities:Email, Project:Utilities:HTTP, Project:Release Process, Project:NPM, Project:JS Environment:Typescript

#13402 Official roles package
  packages/roles/.gitignore
  packages/roles/README.md
  packages/roles/client/debug.js
  packages/roles/client/uiHelpers.js
  packages/roles/definitions.d.ts
  packages/roles/package.js
  packages/roles/roles_client.js
  packages/roles/roles_common_async.js
  packages/roles/roles_server.js
  packages/roles/tests/client.js
  packages/roles/tests/clientAsync.js
  packages/roles/tests/serverAsync.js
Labels: Project:Accounts (in user apps)

#13451 feat: bump package versions so sub dependencies are updated when published
  .envrc
  .travis.yml
  packages/accounts-2fa/.npm/package/npm-shrinkwrap.json
  packages/accounts-password/.npm/package/npm-shrinkwrap.json
  packages/boilerplate-generator-tests/.npm/package/npm-shrinkwrap.json
  packages/boilerplate-generator/.npm/package/npm-shrinkwrap.json
  packages/constraint-solver/.npm/package/npm-shrinkwrap.json
  packages/ddp-client/.npm/package/npm-shrinkwrap.json
  packages/ddp-server/.npm/package/npm-shrinkwrap.json
  packages/deprecated/http/.npm/package/npm-shrinkwrap.json
  packages/deprecated/jshint/.npm/plugin/lintJshint/npm-shrinkwrap.json
  packages/deprecated/stylus/.npm/plugin/compileStylusBatch/npm-shrinkwrap.json
  packages/deprecated/underscore/.npm/package/npm-shrinkwrap.json
  packages/ecmascript-runtime-client/.npm/package/npm-shrinkwrap.json
  packages/ecmascript-runtime-server/.npm/package/npm-shrinkwrap.json
  packages/ecmascript-runtime/.npm/package/npm-shrinkwrap.json
  packages/ecmascript/.npm/package/npm-shrinkwrap.json
  packages/ecmascript/package.js
  packages/email/.npm/package/npm-shrinkwrap.json
  packages/es5-shim/.npm/package/npm-shrinkwrap.json
  packages/fetch/.npm/package/npm-shrinkwrap.json
  packages/force-ssl-common/.npm/package/npm-shrinkwrap.json
  packages/inter-process-messaging/.npm/package/npm-shrinkwrap.json
  packages/logging/.npm/package/npm-shrinkwrap.json
  packages/logic-solver/.npm/package/npm-shrinkwrap.json
  packages/meteor/.npm/package/npm-shrinkwrap.json
  packages/minifier-js/.npm/package/npm-shrinkwrap.json
  packages/minifier-js/package.js
  packages/modules-runtime/.npm/package/npm-shrinkwrap.json
  packages/modules/.npm/package/npm-shrinkwrap.json
  packages/mongo/.npm/package/npm-shrinkwrap.json
  packages/non-core/coffeescript-compiler/package.js
  packages/non-core/coffeescript/package.js
  packages/non-core/less/.npm/plugin/compileLessBatch/npm-shrinkwrap.json
  packages/non-core/mongo-decimal/.npm/package/npm-shrinkwrap.json
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/oauth/.npm/package/npm-shrinkwrap.json
  packages/package-version-parser/.npm/package/npm-shrinkwrap.json
  packages/promise/.npm/package/npm-shrinkwrap.json
  packages/react-fast-refresh/.npm/package/npm-shrinkwrap.json
  packages/server-render/.npm/package/npm-shrinkwrap.json
  packages/shell-server/package.js
  packages/socket-stream-client/.npm/package/npm-shrinkwrap.json
  packages/test-server-tests-in-console-once/.npm/package/npm-shrinkwrap.json
  packages/tinytest/.npm/package/npm-shrinkwrap.json
  packages/url/.npm/package/npm-shrinkwrap.json
  packages/webapp/.npm/package/npm-shrinkwrap.json
  tools/runners/run-app.js
Labels: Project:Isobuild:Minifiers, Project:JS Environment, Project:Tool

#13441 test: method updated msg, write fence
  packages/ddp-client/test/livedata_tests.js
Labels: Project:DDP

#13437 test: add test for createUserAsync
  packages/accounts-base/accounts_common.js
  packages/accounts-password/password_server.js
  packages/accounts-password/password_tests.js
Labels: Project:Accounts:Password

#13443 chore: fix warnings about calling Meteor.user() instead of Meteor.userAsync on the server when running accounts-password's test suite
  packages/accounts-password/password_tests.js
  packages/accounts-password/password_tests_setup.js
Labels: Project:Accounts:Password

#13448 Fix performance issue with bundler ensuring proper parallelization
  tools/cli/commands.js
  tools/isobuild/bundler.js
  tools/isobuild/compiler-plugin.js
  tools/runners/run-app.js
Labels: Project:Tool, Project:Isobuild

#13455 Fix Cordova build when using custom plugins using protocols
  tools/cordova/project.js
Labels: Project:Mobile, Project:Docs, Project:DDP, Project:Accounts:Password, Project:Webapp, Project:Mongo Driver, Project:Isobuild:Minifiers, Project:JS Environment, Project:Tool, Project:Utilities:Email, Project:Isobuild, Project:Utilities:HTTP, Project:Release Process, Project:NPM, Project:JS Environment:Typescript

#13463 CI: solve docs issue with CI
  .circleci/config.yml
  v3-docs/docs/about/install.md
Labels: Project:Docs

#13461 FIX: Issue with meteor publish with update option
  tools/packaging/package-client.js
Labels: Project:Tool

#13459 Fix Cordova issue when using accounts-base
  packages/url/legacy.js
  packages/url/package.js
Labels: Project:Utilities:HTTP

#13465 DOCS: Add versions generator script to fetch meteor,node and npm versions
  v3-docs/v3-migration-docs/index.md
  v3-docs/v3-migration-docs/package.json
  v3-docs/v3-migration-docs/versions-generator.js
Labels: Project:Docs

#13471 fix: rename setPublicationStrategy and getPublicationStrategy arguments in v3
  packages/ddp-server/livedata_server.js
Labels: Project:DDP

#13479 Docs: add version changer
  packages/modules/.npm/package/npm-shrinkwrap.json
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/.vitepress/theme/GoToLatest.vue
  v3-docs/docs/.vitepress/theme/Layout.vue
  v3-docs/docs/about/install.md
  v3-docs/docs/api/packages-listing.md
  v3-docs/docs/generators/changelog/README.md
  v3-docs/docs/generators/codegen.js
  v3-docs/docs/generators/meteor-versions/README.md
  v3-docs/docs/generators/meteor-versions/metadata.generated.js
  v3-docs/docs/generators/meteor-versions/script.js
Labels: Project:Docs

#13481 Docs/add multple versions picker to 3.0.4
  packages/modules/.npm/package/npm-shrinkwrap.json
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/.vitepress/theme/GoToLatest.vue
  v3-docs/docs/.vitepress/theme/Layout.vue
  v3-docs/docs/about/install.md
  v3-docs/docs/api/packages-listing.md
  v3-docs/docs/generators/changelog/README.md
  v3-docs/docs/generators/codegen.js
  v3-docs/docs/generators/meteor-versions/README.md
  v3-docs/docs/generators/meteor-versions/metadata.generated.js
  v3-docs/docs/generators/meteor-versions/script.js
  v3-docs/docs/history.md
Labels: Project:Docs

#13473 Docs: add multiple versions to docs
  packages/modules/.npm/package/npm-shrinkwrap.json
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/.vitepress/theme/GoToLatest.vue
  v3-docs/docs/.vitepress/theme/Layout.vue
  v3-docs/docs/about/install.md
  v3-docs/docs/api/packages-listing.md
  v3-docs/docs/generators/changelog/README.md
  v3-docs/docs/generators/codegen.js
  v3-docs/docs/generators/meteor-versions/README.md
  v3-docs/docs/generators/meteor-versions/metadata.generated.js
  v3-docs/docs/generators/meteor-versions/script.js
  v3-docs/docs/history.md
Labels: Project:Docs

#13485 Update history.md to include proper release command
  v3-docs/docs/history.md
Labels: Project:Docs

#13487 DOCS: flip the if check and move on if mounted back
  v3-docs/docs/.vitepress/theme/Layout.vue
  v3-docs/v3-migration-docs/index.md
  v3-docs/v3-migration-docs/versions-generator.js
Labels: Project:Docs
