Repository meteor/meteor, pull requests merged in 2024-04, with the labels that each got.

#13010 [3.x] Fix promise rejection throwing several times
  packages/ddp-client/client/queueStubsHelpers.js
  packages/ddp-client/common/livedata_connection.js
  packages/mongo/mongo_livedata_tests.js
Labels: Project:DDP, Project:Mongo Driver, Meteor 3

#13050 [Meteor 3] Fix OAuth methods
  packages/accounts-base/accounts_server.js
  packages/accounts-oauth/oauth_server.js
  packages/accounts-ui-unstyled/login_buttons_dropdown.js
  packages/service-configuration/service_configuration_server.js
Labels: Project:Accounts:UI, Project:Accounts:OAuth

#13077 [3.x] Support Linux ARM with the Meteor installer
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/install.js
  npm-packages/meteor-installer/package-lock.json
  npm-packages/meteor-installer/package.json
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
Labels: Project:NPM

#13083 Merging devel to 3.0
  guide/source/3.0-migration.md
  npm-packages/meteor-node-stubs/CHANGELOG.md
  npm-packages/meteor-node-stubs/package-lock.json
  npm-packages/meteor-node-stubs/package.json
  npm-packages/meteor-node-stubs/wrappers/crypto.js
  packages/mongo/mongo_driver.js
  packages/mongo/oplog_tailing.js
Labels: Project:Mongo Driver, Project:NPM, Project:Guide

#13056 [Meteor 3] - Migration Guide
  docs/generators/changelog/versions/3.0.md
  v3-docs/v3-migration-docs/.vitepress/config.mts
  v3-docs/v3-migration-docs/.vitepress/theme/custom.css
  v3-docs/v3-migration-docs/api/async-functions.md
  v3-docs/v3-migration-docs/api/removed-functions.md
  v3-docs/v3-migration-docs/api/renamed-functions.md
  v3-docs/v3-migration-docs/breaking-changes/call-x-callAsync.md
  v3-docs/v3-migration-docs/breaking-changes/index.md
  v3-docs/v3-migration-docs/breaking-changes/upgrading-packages.md
  v3-docs/v3-migration-docs/docs/collections-schemas/mongo-db-collection-meteor.md
  v3-docs/v3-migration-docs/docs/introduction/how-to-install.md
  v3-docs/v3-migration-docs/front-end/blaze.md
  v3-docs/v3-migration-docs/front-end/react.md
  v3-docs/v3-migration-docs/how-to-migrate/index.md
  v3-docs/v3-migration-docs/index.md
  v3-docs/v3-migration-docs/package-lock.json
  v3-docs/v3-migration-docs/package.json
  v3-docs/v3-migration-docs/public/logo.png
  v3-docs/v3-migration-docs/public/meteor-blue.png
  v3-docs/v3-migration-docs/public/meteor-logo.png
  v3-docs/v3-migration-docs/public/meteor-logo.webp
  v3-docs/v3-migration-docs/public/meteor.png
  v3-docs/v3-migration-docs/public/openssl-suport-table.png
Labels: Project:Docs

#13084 [2.x] Fix tests after tinytest setup improvement
  packages/ddp-server/livedata_server_tests.js
Labels: Project:DDP

#13026 Update apollo.js to use async
  tools/static-assets/skel-apollo/server/apollo.js
Labels: Project:Tool

#13086 [3.x] Fix checks
  .github/workflows/npm-meteor-promise.yml
  npm-packages/meteor-promise/promise_server.js
Labels: Project:NPM

#13005 Get default options from meteor settings
  docs/source/api/accounts.md
  packages/accounts-base/client_main.js
  packages/accounts-base/server_main.js
Labels: Project:Docs

#13095 [Meteor 3] Sequential packages loading order
  packages/core-runtime/load-js-image.js
  tools/isobuild/linker.js
  tools/tests/top-level-await.js
Labels: Project:Tool, Project:Isobuild

#12970 feat: check - throw all errors
  docs/source/api/check.md
  packages/check/check.d.ts
  packages/check/match.js
  packages/check/match_test.js
  packages/check/package.js
Labels: Project:Docs

#12991 Add nodemailer-openpgp
  docs/source/index.md
  docs/source/install.md
  guide/source/3.0-migration.md
  guide/source/index.md
  packages/email/.npm/package/npm-shrinkwrap.json
  packages/email/email.js
  packages/email/email_tests.js
  packages/email/package.js
Labels: Project:Docs, Project:Utilities:Email, Project:Guide

#13009 New mongo package options to optimize Oplog tailing performance to include/exclude certain collections
  docs/source/api/collections.md
  packages/mongo/collection_tests.js
  packages/mongo/mongo_driver.js
  packages/mongo/oplog_tailing.js
  packages/mongo/oplog_tests.js
Labels: Project:Docs, Project:Mongo Driver

#13103 Add missing observe async types
  packages/mongo/mongo.d.ts
Labels: Project:Mongo Driver
