Repository meteor/meteor, pull requests merged in 2024-07, with the labels that each got.

#13198 - update call-x-callAsync.md docs to mirror our API
  package-lock.json
  packages/ddp-client/client/queueStubsHelpers.js
  packages/minifier-js/.npm/package/npm-shrinkwrap.json
  packages/modules/.npm/package/npm-shrinkwrap.json
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/webapp/.npm/package/npm-shrinkwrap.json
  v3-docs/v3-migration-docs/breaking-changes/call-x-callAsync.md
  v3-docs/v3-migration-docs/package.json
Labels: Project:DDP

#12675 [Meteor 3] Fix handling unexpected errors during build
  tools/isobuild/bundler.js
  tools/runners/run-app.js
  tools/tool-testing/matcher.js
  tools/tool-testing/run.js
Labels: Project:Tool, Project:Isobuild

#13201 Meteor 3 - Warn about using Meteor[.call/.apply] with async methods
  packages/accounts-2fa/.npm/package/npm-shrinkwrap.json
  packages/ddp-client/common/livedata_connection.js
  packages/ddp-server/livedata_server.js
  packages/email/.npm/package/npm-shrinkwrap.json
  packages/meteor/dynamics_browser.js
  packages/meteor/dynamics_nodejs.js
  packages/meteor/dynamics_test.js
  packages/modules/.npm/package/npm-shrinkwrap.json
  packages/mongo/mongo_livedata_tests.js
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/webapp/.npm/package/npm-shrinkwrap.json
  tools/tool-testing/clients/puppeteer/index.js
  v3-docs/docs/api/meteor.md
Labels: Project:DDP, Project:Mongo Driver, Project:Tool

#13214 [Meteor 3] Add Accounts.addEmailAsync alias
  docs/source/api/passwords.md
  packages/accounts-password/password_server.js
  packages/accounts-password/password_tests.js
  v3-docs/docs/api/accounts.md
  v3-docs/v3-migration-docs/api/renamed-functions.md
Labels: Project:Docs, Project:Accounts:Password

#13194 Initialize options for accounts from settings.json
  packages/accounts-base/accounts_common.js
  packages/accounts-base/accounts_server.js
  packages/accounts-base/server_main.js
Labels: Type:Bug

#13217 [Meteor 3] Fix git clone error when running `meteor create`
  tools/cli/commands.js
Labels: Project:Tool

#13197 [3.x] Upgrade Node to latest 20.15.1 (Dev bundle 20.15.1.0)
  .travis.yml
  meteor
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-tool-package.js
Labels: Project:Release Process, Project:NPM, Meteor 3

#13204 OSS-459 Posix indirect dependency replacement
  packages/webapp/package.js
  packages/webapp/socket_file_tests.js
  packages/webapp/webapp_server.js
Labels: Project:Webapp

#13219 OSS-462 Tweak npm-shrinkwrap.json permissions on newer npm versions to proper app server bundle setup
  tools/cli/commands.js
Labels: Project:Tool

#13220 [Meteor 3] Fix Meteor.subscribe() regression
  packages/accounts-2fa/.npm/package/npm-shrinkwrap.json
  packages/ddp-client/client/queueStubsHelpers.js
  packages/ddp-client/common/livedata_connection.js
  packages/ddp-client/test/livedata_connection_tests.js
  packages/deprecated/stylus/.npm/plugin/compileStylusBatch/npm-shrinkwrap.json
  packages/email/.npm/package/npm-shrinkwrap.json
  packages/minifier-js/.npm/package/npm-shrinkwrap.json
  packages/non-core/less/.npm/plugin/compileLessBatch/npm-shrinkwrap.json
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/webapp/.npm/package/npm-shrinkwrap.json
Labels: Project:DDP

#13199 Fix Node.js version issue
  packages/modules/.npm/package/npm-shrinkwrap.json
  tools/cli/dev-bundle-bin-commands.js
  tools/cli/dev-bundle-bin-helpers.js
  tools/cli/dev-bundle.js
  tools/cli/main.js
  tools/fs/files.ts
  tools/index.js
  tools/tool-testing/sandbox.js
Labels: Project:Tool

#13221 [Meteor 3] Fix Back from offline: method does not apply on server side
  packages/accounts-base/accounts_client.js
  packages/accounts-base/accounts_reconnect_tests.js
  packages/ddp-client/client/queueStubsHelpers.js
  packages/ddp-client/common/livedata_connection.js
  packages/ddp-client/test/livedata_connection_tests.js
  packages/minifier-js/.npm/package/npm-shrinkwrap.json
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/webapp/.npm/package/npm-shrinkwrap.json
Labels: Project:DDP

#13224 Rename global variable to prevent conflicts
  packages/meteor/asl-helpers.js
  tools/runners/run-app.js
  tools/static-assets/server/boot.js
  tools/tool-env/profile.ts
  tools/utils/fiber-helpers.js
Labels: Project:Tool

#13227 Fix crashing on clone example error flow
  tools/cli/commands.js
Labels: Project:Tool

#13230 Review and fix git clone meteor examples issues
  tools/cli/commands.js
Labels: Project:Tool

#13231 [Meteor 3] Bump the patch for some packages, so we publish them using Meteor 3 tooling
  docs/generators/changelog/versions/3.0.0.md
  docs/generators/changelog/versions/3.0.1.md
  docs/history.md
  packages/accounts-ui-unstyled/package.js
  packages/crosswalk/package.js
  packages/facebook-oauth/package.js
  packages/npm-mongo/package.js
  packages/package-version-parser/package.js
  packages/twitter-config-ui/package.js
Labels: Project:Docs, Project:Accounts:UI

#13247 Fix auth sub sending ready twice on load
  .envrc
  packages/accounts-base/accounts_client.js
  packages/accounts-base/accounts_client_tests.js
  packages/accounts-base/accounts_common.js
  packages/accounts-base/accounts_reconnect_tests.js
  packages/accounts-base/accounts_server.js
  packages/accounts-base/accounts_tests.js
  packages/accounts-password/email_tests.js
  packages/ddp-client/test/livedata_test_service.js
  packages/ddp-client/test/livedata_tests.js
  packages/ddp-common/method_invocation.js
  packages/ddp-server/livedata_server.js
  packages/ddp-server/livedata_server_async_tests.js
  packages/ddp-server/livedata_server_tests.js
  packages/email/email_tests.js
  packages/minimongo/minimongo_tests_client.js
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/test-helpers/connection_client.js
  packages/test-helpers/connection_server.js
  packages/test-helpers/package.js
  packages/webapp/.npm/package/npm-shrinkwrap.json
Labels: Project:DDP, Project:Accounts:Password, Project:Utilities:Email

#13174 Feature suggestion: Track registered Mongo collection instances.
  docs/source/api/collections.md
  packages/mongo/collection.js
  packages/mongo/collection_tests.js
  packages/mongo/mongo.d.ts
Labels: Project:Docs, Project:Mongo Driver
