Repository meteor/meteor, pull requests merged in 2024-12, with the labels that each got.

#13500 DOCS: Add community packages page and react-meteor-data package
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/api/packages-listing.md
  v3-docs/docs/community-packages/index.md
  v3-docs/docs/packages/react-meteor-data.md
Labels: Project:Docs

#13501 docs: update info on rosetta
  v3-docs/docs/about/install.md
Labels: Project:Docs

#13503 DOCS: remove known issues tab
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/troubleshooting/known-issues.md
Labels: Project:Docs

#13505 DOCS: move community packages to section
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/community-packages/index.md
  v3-docs/docs/packages/community-packages.md
Labels: Project:Docs

#13445 feat: performance improvements
  .envrc
  .github/workflows/check-syntax.yml
  package-lock.json
  package.json
  packages/ddp-client/client/client_convenience.js
  packages/ddp-client/client/queue_stub_helpers.js
  packages/ddp-client/common/connection_stream_handlers.js
  packages/ddp-client/common/document_processors.js
  packages/ddp-client/common/livedata_connection.js
  packages/ddp-client/common/message_processors.js
  packages/ddp-client/common/method_invoker.js
  packages/ddp-client/common/mongo_id_map.js
  packages/ddp-server/dummy_document_view.ts
  packages/ddp-server/livedata_server.js
  packages/ddp-server/package.js
  packages/ddp-server/session_collection_view.ts
  packages/ddp-server/session_document_view.ts
  packages/ddp-server/stream_server.js
  packages/ddp-server/writefence.js
  packages/meteor/async_helpers.js
  packages/meteor/asynchronous_queue.js
  packages/meteor/package.js
  packages/mongo/observe_handle.ts
  packages/mongo/observe_multiplex.ts
  packages/mongo/oplog_observe_driver.js
  packages/mongo/oplog_tailing.ts
  packages/mongo/oplog_v2_converter.js
  packages/mongo/oplog_v2_converter.ts
  packages/mongo/package.js
  packages/npm-mongo/package.js
  packages/socket-stream-client/node.js
  packages/socket-stream-client/package.js
  scripts/admin/check-legacy-syntax/check-syntax.js
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/performance/websocket-compression.md
Labels: Project:Docs, Project:DDP, Project:Mongo Driver, Project:Release Process, Project:TypeScript-conversion

#13499 Tweaks on allow/deny rules
  packages/allow-deny/allow-deny.js
  packages/ddp-client/package.js
  packages/ddp-client/test/allow_deny_setup.js
  packages/ddp-client/test/livedata_tests.js
  packages/mongo/tests/allow_tests.js
  v3-docs/docs/api/collections.md
Labels: Project:Docs, Project:DDP, Project:Mongo Driver

#13464 Creating doc for the Roles package
  packages/roles/roles_common_async.js
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/packages/roles.md
Labels: Project:Docs

#13502 DOCS: Add meteor-rpc to community packages
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/community-packages/index.md
  v3-docs/docs/community-packages/meteor-rpc.md
Labels: Project:Docs

#13516 FIX: typos in meteor-rpc.md
  v3-docs/docs/community-packages/meteor-rpc.md
Labels: Project:Docs

#13515 Fix Oauth issues
  packages/accounts-oauth/oauth_client.js
  packages/facebook-oauth/facebook_server.js
  packages/oauth/oauth_cordova.js
Labels: Project:Accounts:OAuth

#13522 [Meteor.deprecate] ObjectID alias to backward compatible of meteor packages and allow-deny changes
  packages/accounts-base/accounts_server.js
  packages/allow-deny/allow-deny.js
  packages/meteor/deprecate.js
  packages/meteor/package.js
  packages/mongo/mongo_common.js
  packages/mongo/mongo_driver.js
  packages/mongo/tests/mongo_livedata_tests.js
Labels: Project:Mongo Driver

#13507 Node 22.12.0
  .travis.yml
  meteor
  scripts/build-dev-bundle-common.sh
Labels: Project:Release Process

#13525 Update `json5` and `semver` dependencies
  packages/babel-compiler/package.js
Labels: Project:JS Environment
