Repository meteor/meteor, pull requests merged in 2024-08, with the labels that each got.

#13262 Fix outstanding subscription init order generally
  packages/accounts-base/accounts_client.js
  packages/accounts-base/accounts_client_tests.js
  packages/ddp-client/common/livedata_connection.js
  packages/test-helpers/connection_client.js
Labels: Project:DDP

#13268 Remove version constraints from http package in accounts-twitter
  packages/accounts-twitter/package.js
Labels: Project:Accounts:OAuth

#13254 Use PowerShell to set PATH instead of setx on Windows
  npm-packages/meteor-installer/install.js
Labels: Project:Installer, Project:NPM

#13281 Merge 2.x to 3.x
  scripts/windows/ci/install.ps1
  scripts/windows/ci/test.ps1
Labels: Project:Windows, Project:Release Process

#13280 Adjust Meteor Installer Readme
  npm-packages/meteor-installer/README.md
Labels: Project:NPM

#13288 Deprecate Meteor.user() usage on server side
  packages/accounts-2fa/2fa-server.js
  packages/accounts-base/accounts_common.js
  packages/accounts-base/accounts_tests.js
  packages/accounts-password/email_tests.js
  packages/accounts-password/password_tests.js
Labels: Project:Accounts:Password

#13292 Add documentation for `returnServerResultPromise`
  .envrc
  packages/accounts-2fa/.npm/package/npm-shrinkwrap.json
  packages/accounts-password/.npm/package/npm-shrinkwrap.json
  packages/ddp-client/common/livedata_connection.js
  packages/email/.npm/package/npm-shrinkwrap.json
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/webapp/.npm/package/npm-shrinkwrap.json
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/api/packages-listing.md
  v3-docs/docs/history.md
Labels: Project:DDP

#13305 Fix error message typo in mongo package
  packages/mongo/mongo_driver.js
Labels: Project:Mongo Driver, Project:JS Environment:Typescript

#13277 fix #13263 set ambiguousErrorMessages consistently across environments
  packages/accounts-base/accounts_server.js
  packages/accounts-password/password_tests.js
Labels: Project:Accounts:Password

#13300 Using await when open tag is called #13175
  tools/cli/commands.js
  tools/runners/run-all.js
Labels: Project:Tool

#13308 Update elliptic dependency in meteor-node-stubs
  npm-packages/meteor-node-stubs/package-lock.json
  npm-packages/meteor-node-stubs/package.json
  tools/static-assets/skel-apollo/package.json
  tools/static-assets/skel-bare/package.json
  tools/static-assets/skel-blaze/package.json
  tools/static-assets/skel-chakra-ui/package.json
  tools/static-assets/skel-full/package.json
  tools/static-assets/skel-minimal/package.json
  tools/static-assets/skel-react/package.json
  tools/static-assets/skel-solid/package.json
  tools/static-assets/skel-svelte/package.json
  tools/static-assets/skel-tailwind/package.json
  tools/static-assets/skel-typescript/package.json
  tools/static-assets/skel-vue/package.json
  tools/tests/apps/app-config/package.json
  tools/tests/apps/app-prints-pid/package.json
  tools/tests/apps/client-refresh/package.json
  tools/tests/apps/css-injection-test/package.json
  tools/tests/apps/custom-minifier/package.json
  tools/tests/apps/dev-bundle-bin-commands/package.json
  tools/tests/apps/dynamic-import/package.json
  tools/tests/apps/ecmascript-regression/package.json
  tools/tests/apps/git-commit-hash/package.json
  tools/tests/apps/link-config-npm-package/package.json
  tools/tests/apps/linked-external-npm-package/package.json
  tools/tests/apps/meteor-ignore/package.json
  tools/tests/apps/modules/package.json
  tools/tests/apps/shell/package.json
  tools/tests/apps/standard-app/package.json
Labels: Project:Tool, Project:NPM, Severity:production

#13222 Include Meteor version details in MongoDB handshake
  packages/mongo/mongo_driver.js
Labels: Project:Mongo Driver
