Repository meteor/meteor, pull requests merged in 2024-06, with the labels that each got.

#13166 fix: broken link into roadmap post
  docs/source/roadmap.md
Labels: Project:Docs

#12931 Better error message when trying to update to a specific package version
  tools/cli/commands-packages.js
Labels: Project:Tool

#13168 [3.0] AllowDeny async compatibility
  packages/allow-deny/allow-deny.js
  packages/mongo/allow_tests.js
  packages/mongo/collection.js
  packages/static-html/package.js
Labels: Project:Mongo Driver, Meteor 3

#13156 Fix WebApp.addRuntimeConfigHook
  packages/webapp/webapp_server.js
  packages/webapp/webapp_tests.js
Labels: Project:Webapp

#13162 Implement reset db option and default without cleaning db
  guide/source/3.0-migration.md
  tools/cli/commands.js
  tools/cli/help.txt
  tools/fs/files.ts
  tools/tests/mongo.js
  tools/tests/reset.js
  tools/tool-testing/sandbox.js
  v3-docs/docs/cli/index.md
  v3-docs/v3-migration-docs/breaking-changes/index.md
  v3-docs/v3-migration-docs/index.md
Labels: Project:Tool, Project:Guide

#13171 Upgrade meteor presets packages that are deprecated
  npm-packages/babel-preset-meteor/package-lock.json
  npm-packages/babel-preset-meteor/package.json
Labels: Project:NPM

#13176 Review V3 docs
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/about/install.md
  v3-docs/docs/api/packages-listing.md
  v3-docs/docs/packages/community-packages.md
  v3-docs/docs/packages/packages-listing.md
Labels: Project:Docs

#13173 MultiFileCachingCompiler does not set up its internal LRU cache correctly
  .envrc
  meteor
  npm-packages/meteor-babel/package-lock.json
  npm-packages/meteor-babel/package.json
  packages/accounts-2fa/.npm/package/npm-shrinkwrap.json
  packages/accounts-password/.npm/package/npm-shrinkwrap.json
  packages/caching-compiler/caching-compiler.js
  packages/caching-compiler/multi-file-caching-compiler.js
  packages/caching-compiler/package.js
  packages/email/.npm/package/npm-shrinkwrap.json
  packages/npm-mongo/.npm/package/npm-shrinkwrap.json
  packages/standard-minifier-css/package.js
  packages/standard-minifier-css/plugin/minify-css.js
  packages/webapp/.npm/package/npm-shrinkwrap.json
  scripts/dev-bundle-server-package.js
  scripts/dev-bundle-tool-package.js
  tools/isobuild/compiler-plugin.js
  tools/isobuild/import-scanner.ts
  tools/isobuild/js-analyze.js
  tools/isobuild/linker.js
  tools/tests/old/app-with-private/main.js
  tools/tests/old/app-with-private/packages/test-package/test-package.js
Labels: Project:Isobuild:Minifiers, Project:Tool, Project:Isobuild, Project:Release Process, Project:NPM, Project:CSS

#13189 Add Kapa.ai Widget
  docs/package.json
  docs/scripts/kapa.js
Labels: Project:Docs

#13205 Point to Vitepress Migration Guide
  guide/package.json
  guide/source/3.0-migration.md
  guide/source/prepare-meteor-3.0.md
Labels: Project:Guide
