Repository meteor/meteor, pull requests merged in 2024-01, with the labels that each got.

#12930 Fix syntax issues with meteor package
  packages/meteor/asl-helpers.js
  packages/meteor/async_helpers.js
  packages/meteor/dynamics_nodejs.js
  packages/meteor/emitter-promise.js
  scripts/admin/check-legacy-syntax/check-syntax.js
Labels: Project:Release Process

#12962 Add note about mtest
  guide/source/writing-atmosphere-packages.md
Labels: Project:Guide

#12972 Meteor 3.0 - FIX - publication handler is not being waited on
  packages/ddp-server/livedata_server.js
  packages/ddp-server/livedata_server_tests.js
Labels: Project:DDP

#12979 Dev bundle 14.21.4.9
  .travis.yml
  docs/generators/changelog/versions/2.14.1.md
  meteor
  packages/meteor-tool/package.js
  scripts/admin/meteor-release-experimental.json
  scripts/build-dev-bundle-common.sh
  tools/runners/run-mongo.js
Labels: Project:Docs, Project:Tool, Project:Release Process

#12971 Fix `cordova` launch screen warnings on `2.14`
  tools/cordova/builder.js
Labels: Project:Mobile, Project:Tool

#12987 updates findAsync to fetchAsync on Tracker's docs
  docs/source/api/tracker.md
Labels: Project:Docs
