Repository meteor/meteor, pull requests merged in 2025-01, with the labels that each got.

#13538 docs: add mongodb troubleshooting page
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/api/packages-listing.md
  v3-docs/docs/generators/changelog/versions/3.1.1.md
  v3-docs/docs/generators/meteor-versions/metadata.generated.js
  v3-docs/docs/history.md
  v3-docs/docs/troubleshooting/mongodb-connection.md
Labels: Project:Docs

#13527 fix: observe handle stop context is lost on callbacks
  packages/ddp-server/livedata_server_tests.js
  packages/mongo/mongo_connection.js
  packages/mongo/observe_handle.ts
Labels: Project:DDP, Project:Mongo Driver

#13540 fix: built-in dev mongo can't start on win32 when username has spaces
  tools/runners/run-mongo.js
Labels: Project:Tool

#13495 Update npm-rebuild.js to support windows
  tools/static-assets/server/npm-rebuild.js
Labels: Project:Tool

#13543 Contribution: built-in dev mongo can't start on win32 when username has spaces
  tools/cli/commands.js
  tools/runners/run-mongo.js
Labels: Project:Tool

#13544 Contribution: fix windows npm rebuild
  tools/static-assets/server/npm-rebuild.js
Labels: Project:Tool

#13526 Node 22.13.0 (dev-bundle-22.13.0)
  .travis.yml
  meteor
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-tool-package.js
  v3-docs/v3-migration-docs/index.md
Labels: Project:Docs, Project:Release Process, Project:NPM

#13467 Update `@types/node` package in the TypeScript template
  tools/static-assets/skel-typescript/package.json
Labels: Project:Tool

#13547 Adding new logos to the docs
  v3-docs/docs/public/meteor-blue.png
  v3-docs/docs/public/meteor-logo.png
  v3-docs/v3-migration-docs/public/meteor-blue.png
  v3-docs/v3-migration-docs/public/meteor-logo.png
Labels: Project:Docs

#13556 Adding new logo to the docs
  v3-docs/docs/public/meteor-blue.png
  v3-docs/docs/public/meteor-logo.png
  v3-docs/v3-migration-docs/public/meteor-blue.png
  v3-docs/v3-migration-docs/public/meteor-logo.png
Labels: Project:Docs

#13557 Upgrade Node to 22.13.1
  .travis.yml
  meteor
  scripts/build-dev-bundle-common.sh
  v3-docs/v3-migration-docs/index.md
Labels: Project:Docs, Project:Release Process

#13563 Update v3 documentation with new Meteor symbol
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/index.md
  v3-docs/docs/public/logo.png
Labels: Project:Docs

#13561 DEV: Update vite version in docs
  v3-docs/docs/api/packages-listing.md
  v3-docs/docs/package-lock.json
  v3-docs/docs/package.json
Labels: Project:Docs

#13588 Update useragent-ng to v2.4.4, fix #13539
  packages/webapp/package.js
Labels: Project:Webapp
