Repository meteor/meteor, pull requests merged in 2025-03, with the labels that each got.

#13613 Bump postcss in minifier-css to fix vulnerabilities
  packages/minifier-css/package.js
Labels: Project:Isobuild:Minifiers, Project:CSS

#13640 fix 13126 set minimum browser versions (Contribution)
  docs/generators/changelog/versions/0-before-2.10.md
  docs/history.md
  package-lock.json
  package.json
  packages/ecmascript-runtime-client/versions.js
  packages/fetch/server.js
  packages/modern-browsers/modern.js
Labels: Project:Docs, Project:JS Environment, Project:Utilities:HTTP

#13382 Fixed issue with Firefox IOS not being marked as modern browser (#13126)
  docs/generators/changelog/versions/0-before-2.10.md
  docs/history.md
  package-lock.json
  package.json
  packages/ecmascript-runtime-client/versions.js
  packages/fetch/server.js
  packages/modern-browsers/modern.js
Labels: Project:Docs, Project:JS Environment, Project:Utilities:HTTP

#13636 Meteor bundler profile command
  tools/cli/commands.js
  tools/cli/help.txt
Labels: Project:Tool

#13600 Update default Facebook API version to v22
  packages/facebook-oauth/facebook_server.js
Labels: Project:Accounts:OAuth

#13646 Update accounts.md
  v3-docs/docs/api/accounts.md
Labels: Project:Docs

#13554 Feature argon2 password encryption
  packages/accounts-base/accounts_common.js
  packages/accounts-password/password_server.js
  v3-docs/docs/about/roadmap.md
  v3-docs/docs/api/accounts.md
Labels: Project:Docs, Project:Accounts:Password, Impact:most

#13654 update meteor-base description
  packages/meteor-base/README.md
Labels: Project:Docs

#13659 Update testing.md to show how to clean up Blaze View instances.
  guide/source/testing.md
Labels: Project:Guide

#13667 Update docs to reflect Meteor 3 release
  docs/source/index.md
  docs/source/install.md
  guide/source/index.md
Labels: Project:Docs, Project:Guide

#13668 Add docs for meteor profile command and enchance cli docs
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/cli/index.md
Labels: Project:Docs

#13664 jsAnalyze.parse optimization (acorn replacement)
  scripts/dev-bundle-tool-package.js
  tools/isobuild/js-analyze.js
Labels: Project:Tool, Project:Isobuild, Project:Release Process

#13670 DOCS: Enhance V3 CLI docs
  v3-docs/docs/cli/index.md
Labels: Project:Docs
