Repository meteor/meteor, pull requests merged in 2025-08, with the labels that each got.

#13874 Update 9.next-steps.md
  v3-docs/docs/tutorials/react/9.next-steps.md
Labels: Project:Docs

#13859 Move findUserByEmail method from accounts-password to accounts-base
  packages/accounts-base/accounts_server.js
  packages/accounts-password/password_server.js
Labels: Project:Accounts:Password

#13880 Modernize vue skeleton
  tools/static-assets/skel-vue/client/entry-meteor.js
  tools/static-assets/skel-vue/client/main.css
  tools/static-assets/skel-vue/client/main.js
  tools/static-assets/skel-vue/imports/ui/App.vue
  tools/static-assets/skel-vue/imports/ui/components/AppMenu.vue
  tools/static-assets/skel-vue/imports/ui/components/Hello.vue
  tools/static-assets/skel-vue/imports/ui/components/Info.vue
  tools/static-assets/skel-vue/imports/ui/main.css
  tools/static-assets/skel-vue/imports/ui/main.js
  tools/static-assets/skel-vue/imports/ui/router.js
  tools/static-assets/skel-vue/imports/ui/views/About.vue
  tools/static-assets/skel-vue/imports/ui/views/Home.vue
  tools/static-assets/skel-vue/package.json
  tools/static-assets/skel-vue/postcss.config.js
  tools/static-assets/skel-vue/server/entry-meteor.js
  tools/static-assets/skel-vue/tailwind.config.js
  tools/static-assets/skel-vue/vite.config.mjs
Labels: Project:Tool

#13900 Fix/accounts base docs
  packages/accounts-base/accounts_server.js
  packages/accounts-base/server_main.js
Labels: Project:Accounts:Password, Project:Mongo Driver

#13907 [doc] fix community-packages pages getting 404
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/packages/community-packages.md
Labels: Project:Docs

#13909 Bump package versions for release 3.3.2
  packages/accounts-base/package.js
  packages/accounts-password/package.js
  packages/accounts-passwordless/package.js
  packages/babel-compiler/package.js
  packages/minimongo/package.js
  packages/mongo/package.js
  packages/npm-mongo/package.js
Labels: Project:Accounts:Password, Project:Mongo Driver, Project:JS Environment

#13911 Pkgs/rm elliptic
  npm-packages/meteor-node-stubs/package-lock.json
  npm-packages/meteor-node-stubs/package.json
Labels: Project:NPM
