Repository meteor/meteor, pull requests merged in 2025-02, with the labels that each got.

#13559 Upgrade skeletons that depends on meteor-vite
  tools/static-assets/skel-solid/.meteor/packages
  tools/static-assets/skel-solid/client/entry-meteor.js
  tools/static-assets/skel-solid/package.json
  tools/static-assets/skel-solid/server/entry-meteor.js
  tools/static-assets/skel-solid/vite.config.js
  tools/static-assets/skel-vue/.meteor/packages
  tools/static-assets/skel-vue/client/entry-meteor.js
  tools/static-assets/skel-vue/package.json
  tools/static-assets/skel-vue/server/entry-meteor.js
  tools/static-assets/skel-vue/vite.config.js
Labels: Project:Tool

#13596 Bump nodemailer-openpgp to fix vulnerabilities
  packages/email/package.js
Labels: Project:Utilities:Email

#13602 DOCS: Fix typo in Tracker.md
  v3-docs/docs/api/Tracker.md
Labels: Project:Docs

#13587 Security updates (dependabot)
  npm-packages/meteor-installer/package-lock.json
  package-lock.json
  scripts/admin/update-semver/package-lock.json
  scripts/admin/update-semver/package.json
  v3-docs/docs/package-lock.json
  v3-docs/docs/package.json
  v3-docs/v3-migration-docs/package-lock.json
Labels: Project:Docs, Project:Release Process, Project:NPM

#13399 Docs page for modern-browsers
  packages/modern-browsers/modern.js
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/api/packages-listing.md
  v3-docs/docs/history.md
  v3-docs/docs/packages/modern-browsers.md
Labels: Project:Docs

#13558 Release 3.1.2
  .github/workflows/guide.yml
  .travis.yml
  meteor
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/package-lock.json
  npm-packages/meteor-installer/package.json
  package-lock.json
  packages/email/package.js
  packages/meteor-tool/package.js
  packages/modern-browsers/modern-tests.js
  packages/modern-browsers/modern.js
  packages/modern-browsers/package.js
  packages/webapp/package.js
  scripts/admin/meteor-release-experimental.json
  scripts/admin/meteor-release-official.json
  scripts/admin/update-semver/package-lock.json
  scripts/admin/update-semver/package.json
  scripts/build-dev-bundle-common.sh
  tools/static-assets/skel-solid/.meteor/packages
  tools/static-assets/skel-solid/client/entry-meteor.js
  tools/static-assets/skel-solid/package.json
  tools/static-assets/skel-solid/server/entry-meteor.js
  tools/static-assets/skel-solid/vite.config.js
  tools/static-assets/skel-vue/.meteor/packages
  tools/static-assets/skel-vue/client/entry-meteor.js
  tools/static-assets/skel-vue/package.json
  tools/static-assets/skel-vue/server/entry-meteor.js
  tools/static-assets/skel-vue/vite.config.js
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/api/packages-listing.md
  v3-docs/docs/generators/changelog/versions/3.1.2.md
  v3-docs/docs/history.md
  v3-docs/docs/package-lock.json
  v3-docs/docs/package.json
  v3-docs/docs/packages/modern-browsers.md
  v3-docs/v3-migration-docs/index.md
  v3-docs/v3-migration-docs/package-lock.json
Labels: Project:Docs, Project:Webapp, Project:Tool, Project:Utilities:Email, Project:Release Process, Project:NPM

#13607 Argon2 support
  packages/accounts-base/accounts-base.d.ts
  packages/accounts-base/accounts_common.js
  packages/accounts-base/package.js
  packages/accounts-password/package.js
  packages/accounts-password/password_argon_tests.js
  packages/accounts-password/password_server.js
  packages/accounts-password/password_tests.js
  packages/test-helpers/wait.js
  v3-docs/docs/api/accounts.md
Labels: Project:Docs, Project:Accounts:Password

#13608 Recompile minisat with ALLOW_MEMORY_GROWTH option
  packages/logic-solver/minisat.js
  packages/logic-solver/minisat_wrapper.js
  packages/logic-solver/package.js
  scripts/admin/check-legacy-syntax/check-syntax.js
Labels: Project:Release Process

#13620 Use forked Cordova android and ios platforms with cordova-common fixed
  tools/cordova/index.js
Labels: Project:Mobile, Project:Tool

#13616 Node 22.14.0 & Mongo v7.0.16
  .travis.yml
  meteor
  scripts/build-dev-bundle-common.sh
  v3-docs/v3-migration-docs/index.md
Labels: Project:Docs, Project:Release Process

#13624 Fix link to "PostCSS Plugins"
  v3-docs/docs/packages/standard-minifier-css.md
Labels: Project:Docs

#13618 FEATURE: add `shouldShowTime` to `logging` package
  packages/logging/logging.d.ts
  packages/logging/logging.js
  packages/logging/logging_test.js
  v3-docs/docs/api/packages-listing.md
  v3-docs/docs/generators/meteor-versions/metadata.generated.js
  v3-docs/docs/history.md
  v3-docs/docs/packages/logging.md
Labels: Project:Docs

#13615 Fix Meteor 3 profiler async actions and bundle stages not profiling as expected
  tools/project-context.js
  tools/static-assets/server/boot.js
  tools/tool-env/profile.ts
Labels: Project:Tool

#13632 [Contribution] Fix oplog stuck in fetching race condition
  packages/mongo/oplog_observe_driver.js
Labels: Project:Mongo Driver

#13603 13599 - Fix to oplog stuck in fetching race condition
  packages/mongo/oplog_observe_driver.js
Labels: Project:Mongo Driver
