Repository meteor/meteor, pull requests merged in 2025-07, with the labels that each got.

#13827 Fix `meteor profile` cloning in some volume
  meteor
  tools/cli/commands.js
Labels: Project:Tool

#13822 Fix broken links in documentation
  packages/accounts-base/accounts_client.js
Labels: Project:Accounts (in user apps)

#13832 Modernize & update Vue skeleton app to address potential CJS interop exceptions
  tools/static-assets/skel-vue/client/entry-meteor.js
  tools/static-assets/skel-vue/client/main.css
  tools/static-assets/skel-vue/client/main.js
  tools/static-assets/skel-vue/imports/ui/App.vue
  tools/static-assets/skel-vue/imports/ui/components/AppMenu.vue
  tools/static-assets/skel-vue/imports/ui/components/Hello.vue
  tools/static-assets/skel-vue/imports/ui/components/Info.vue
  tools/static-assets/skel-vue/imports/ui/main.css
  tools/static-assets/skel-vue/imports/ui/main.js
  tools/static-assets/skel-vue/imports/ui/router.js
  tools/static-assets/skel-vue/imports/ui/views/About.vue
  tools/static-assets/skel-vue/imports/ui/views/Home.vue
  tools/static-assets/skel-vue/package.json
  tools/static-assets/skel-vue/postcss.config.js
  tools/static-assets/skel-vue/server/entry-meteor.js
  tools/static-assets/skel-vue/tailwind.config.js
  tools/static-assets/skel-vue/vite.config.mjs
Labels: Project:Tool

#13835 [Contribution] Update meteor-vite skeletons
  tools/cli/commands.js
  tools/static-assets/skel-solid/client/entry-meteor.js
  tools/static-assets/skel-solid/client/main.js
  tools/static-assets/skel-solid/client/main.jsx
  tools/static-assets/skel-solid/imports/ui/main.css
  tools/static-assets/skel-solid/imports/ui/main.jsx
  tools/static-assets/skel-solid/server/entry-meteor.js
  tools/static-assets/skel-solid/vite.config.mjs
  tools/static-assets/skel-vue/client/entry-meteor.js
  tools/static-assets/skel-vue/client/main.css
  tools/static-assets/skel-vue/client/main.js
  tools/static-assets/skel-vue/imports/ui/App.vue
  tools/static-assets/skel-vue/imports/ui/components/AppMenu.vue
  tools/static-assets/skel-vue/imports/ui/components/Hello.vue
  tools/static-assets/skel-vue/imports/ui/components/Info.vue
  tools/static-assets/skel-vue/imports/ui/main.css
  tools/static-assets/skel-vue/imports/ui/main.js
  tools/static-assets/skel-vue/imports/ui/router.js
  tools/static-assets/skel-vue/imports/ui/views/About.vue
  tools/static-assets/skel-vue/imports/ui/views/Home.vue
  tools/static-assets/skel-vue/package.json
  tools/static-assets/skel-vue/postcss.config.js
  tools/static-assets/skel-vue/server/entry-meteor.js
  tools/static-assets/skel-vue/tailwind.config.js
  tools/static-assets/skel-vue/vite.config.mjs
Labels: Project:Tool

#13844 Use the Babel parser as a fallback when Acorn can’t parse code
  tools/isobuild/import-scanner.ts
  tools/static-assets/server/runtime.js
Labels: Project:Tool, Project:Isobuild

#13851 Update and match SWC 1.12.14 version
  packages/babel-compiler/package.js
  packages/standard-minifier-js/package.js
Labels: Project:Isobuild:Minifiers, Project:JS Environment

#13739 Ensure normalize collection options properly respecting defaults
  packages/mongo/collection/collection.js
  packages/mongo/collection/collection_utils.js
  packages/mongo/tests/collection_tests.js
Labels: Project:Mobile, Project:Docs, Project:Mongo Driver, Project:Isobuild:Minifiers, Project:JS Environment, Project:Tool, Project:Isobuild, Project:Release Process, Project:NPM
