Repository meteor/meteor, pull requests merged in 2025-05, with the labels that each got.

#13718 Refactor modern config at package.json
  packages/babel-compiler/babel-compiler.js
  tools/cli/commands.js
  tools/static-assets/skel-apollo/package.json
  tools/static-assets/skel-blaze/package.json
  tools/static-assets/skel-chakra-ui/package.json
  tools/static-assets/skel-minimal/package.json
  tools/static-assets/skel-react/package.json
  tools/static-assets/skel-solid/package.json
  tools/static-assets/skel-svelte/package.json
  tools/static-assets/skel-tailwind/package.json
  tools/static-assets/skel-typescript/package.json
  v3-docs/docs/about/modern-build-stack.md
  v3-docs/docs/about/modern-build-stack/modern-bundler.md
  v3-docs/docs/about/modern-build-stack/modern-transpiler-swc.md
Labels: Project:Docs, Project:JS Environment, Project:Tool

#13719 Support modern watcher config
  meteor
  scripts/dev-bundle-tool-package.js
  tools/cli/commands.js
  tools/cli/main.js
  tools/fs/safe-watcher-legacy.ts
  tools/fs/safe-watcher.ts
  v3-docs/docs/about/modern-build-stack/modern-bundler.md
Labels: Project:Docs, Project:Tool, Project:Release Process

#13722 chore: fixed a typo on paragraph 2.
  v3-docs/docs/tutorials/react/2.collections.md
Labels: Project:Docs

#13721 Refactor IP address parsing on Webapp
  packages/ddp-server/livedata_server.js
  packages/ddp-server/package.js
  v3-docs/docs/generators/changelog/versions/3.2.1.md
Labels: Project:Docs, Project:DDP

#13724 fix: corrected Roles.getUsersInRoleAsync documentation
  packages/roles/roles_common_async.js
  v3-docs/docs/packages/roles.md
Labels: Project:Docs, Project:roles

#13730 SWC resolves custom base url properly
  packages/babel-compiler/babel-compiler.js
Labels: Project:JS Environment

#13729 Test coverage for modern build stack config
  packages/babel-compiler/babel-compiler.js
  tools/fs/safe-watcher-legacy.ts
  tools/fs/safe-watcher.ts
  tools/tests/apps/modern/.gitignore
  tools/tests/apps/modern/.meteor/.finished-upgraders
  tools/tests/apps/modern/.meteor/.gitignore
  tools/tests/apps/modern/.meteor/.id
  tools/tests/apps/modern/.meteor/packages
  tools/tests/apps/modern/.meteor/platforms
  tools/tests/apps/modern/.meteor/release
  tools/tests/apps/modern/.meteor/versions
  tools/tests/apps/modern/.swcrc
  tools/tests/apps/modern/client/main.css
  tools/tests/apps/modern/client/main.html
  tools/tests/apps/modern/client/main.js
  tools/tests/apps/modern/package-lock.json
  tools/tests/apps/modern/package.json
  tools/tests/apps/modern/server/alias.js
  tools/tests/apps/modern/server/custom-component.js
  tools/tests/apps/modern/server/javascript-component.jsx
  tools/tests/apps/modern/server/javascript.js
  tools/tests/apps/modern/server/main.js
  tools/tests/apps/modern/server/typescript-component.tsx
  tools/tests/apps/modern/server/typescript.ts
  tools/tests/apps/modern/swcAlias/main.js
  tools/tests/apps/modern/tests/main.js
  tools/tests/modern.js
  tools/tool-testing/run.js
Labels: Project:JS Environment, Project:Tool

#13738 Fix linter issue triggering full server refreshes for client-only entrypoint
  tools/isobuild/compiler.js
Labels: Project:Tool, Project:Isobuild

#13742 Release 3.2.2
  packages/ddp-server/livedata_server.js
  packages/ddp-server/package.js
  packages/meteor-tool/package.js
  scripts/admin/meteor-release-official.json
  v3-docs/docs/generators/changelog/versions/3.2.2.md
  v3-docs/docs/generators/meteor-versions/metadata.generated.js
  v3-docs/docs/history.md
Labels: Project:Docs, Project:DDP, Project:Tool, Project:Release Process

#13744 Broader app modernization support
  tools/cli/commands.js
  tools/project-context.js
  v3-docs/docs/about/modern-build-stack/modern-transpiler-swc.md
Labels: Project:Docs, Project:Tool

#13755 Node 22.15.1
  .travis.yml
  meteor
  scripts/build-dev-bundle-common.sh
  v3-docs/docs/generators/changelog/versions/3.3.0.md
  v3-docs/v3-migration-docs/index.md
Labels: Project:Docs, Project:Release Process, dependencies

#13715 MinifierJS - Using SWC from zodern's package
  packages/standard-minifier-js/README.md
  packages/standard-minifier-js/package.js
  packages/standard-minifier-js/plugin/minify-js.js
  packages/standard-minifier-js/plugin/stats.js
  tools/isobuild/bundler.js
  tools/tests/modern.js
  tools/tool-testing/selftest.js
Labels: Project:Isobuild:Minifiers, Project:Tool, Project:Isobuild

#13756 Latest SWC-core and other tweaks
  packages/babel-compiler/package.js
  packages/standard-minifier-js/package.js
  tools/tests/modern.js
Labels: Project:Isobuild:Minifiers, Project:JS Environment, Project:Tool

#13761 Support swc.config.js file for dynamic config
  packages/babel-compiler/babel-compiler.js
  tools/tests/modern.js
  v3-docs/docs/about/modern-build-stack/transpiler-swc.md
Labels: Project:Docs, Project:JS Environment, Project:Tool

#13763 Skip error saying events were dropped since watcher still is alive
  tools/fs/safe-watcher.ts
Labels: Project:Tool

#13776 SWC per-file context config
  packages/babel-compiler/babel-compiler.js
  packages/babel-compiler/package.js
  tools/tests/apps/modules-modern/packages/modules-test-plugin/.swcrc
  tools/tests/apps/modules-modern/packages/modules-test-plugin/array.arson
  tools/tests/apps/modules-modern/packages/modules-test-plugin/modules-test-plugin.js
  tools/tests/apps/modules-modern/packages/modules-test-plugin/one.arson
  tools/tests/apps/modules-modern/packages/modules-test-plugin/package.js
  tools/tests/apps/modules-modern/packages/modules-test-plugin/plugin.js
  tools/tests/compiler-plugins.js
  tools/tests/modern.js
Labels: Project:JS Environment, Project:Tool

#13768 Missing Meteor 3.3 docs: SWC aliasses limitation, and others
  v3-docs/docs/about/modern-build-stack/bundler.md
  v3-docs/docs/about/modern-build-stack/transpiler-swc.md
Labels: Project:Docs

#13777 Fix modern transpiler config
  packages/babel-compiler/babel-compiler.js
Labels: Project:JS Environment

#13767 Node v22.16.0
  .travis.yml
  docs/history.md
  meteor
  scripts/build-dev-bundle-common.sh
  v3-docs/docs/generators/changelog/versions/3.3.0.md
  v3-docs/v3-migration-docs/index.md
Labels: Project:Docs, Project:Release Process, dependencies
