Repository meteor/meteor, pull requests merged in 2025-04, with the labels that each got.

#13675 Perserve reify in SWC compilation
  packages/babel-compiler/babel-compiler.js
  packages/ddp-client/common/livedata_connection.js
  tools/isobuild/import-scanner.ts
  tools/static-assets/server/runtime.js
Labels: Project:DDP, Project:JS Environment, Project:Tool, Project:Isobuild

#13674 Support caching as part of compilation (Build and Rebuild App phases 🚀)
  packages/babel-compiler/babel-compiler.js
  packages/ddp-client/common/livedata_connection.js
  tools/isobuild/import-scanner.ts
  tools/static-assets/server/runtime.js
Labels: Project:DDP, Project:JS Environment, Project:Tool, Project:Isobuild

#13682 DOCS: Update roadmap with plan for modern bundlers
  v3-docs/docs/about/roadmap.md
  v3-docs/docs/generators/meteor-versions/metadata.generated.js
  v3-docs/docs/history.md
Labels: Project:Docs

#13685 DEV: Bump express to 5.1.0 in webapp
  packages/webapp/package.js
Labels: Project:Webapp

#13684 DOCS: Add llms.txt via vitepress plugin
  packages/webapp/package.js
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/about/install.md
  v3-docs/docs/about/what-is.md
  v3-docs/docs/package-lock.json
  v3-docs/docs/package.json
Labels: Project:Docs, Project:Webapp

#13686 fix(webapp): prevent truncated agent string in lookupUserAgent
  packages/webapp/webapp_server.js
  packages/webapp/webapp_tests.js
Labels: Project:Webapp

#13687 Fix timing issue with oplog include/exclude collections
  packages/mongo/oplog_tailing.ts
  packages/mongo/tests/oplog_tests.js
Labels: Project:Mongo Driver

#13683 Update docs for `meteor generate` CLI command
  tools/meteor-services/stats.js
  v3-docs/docs/cli/environment-variables.md
  v3-docs/docs/cli/index.md
Labels: Project:Docs, Project:Tool

#13693 Fix issues with `modernWebArchsOnly` new config
  tools/cli/commands.js
Labels: Project:Tool

#13460 DEV: Add tinytest `filter` option
  tools/cli/commands.js
  v3-docs/docs/cli/index.md
Labels: Project:Docs, Project:Tool

#13694 Support option to profile `meteor build`
  tools/cli/commands.js
  tools/cli/help.txt
  v3-docs/docs/cli/index.md
Labels: Project:Docs, Project:Tool

#13677 Add Accounts.replaceEmailAsync
  docs/_config.yml
  docs/generators/changelog/versions/3.0.0.md
  docs/source/api/passwords.md
  packages/accounts-base/accounts-base.d.ts
  packages/accounts-password/password_server.js
  packages/accounts-password/password_tests.js
  v3-docs/docs/api/accounts.md
  v3-docs/docs/generators/changelog/versions/3.0.0.md
Labels: Project:Docs, Project:Accounts:Password

#13697 Ensure exclude-archs options override the modern arch package.json file
  tools/cli/commands.js
Labels: Project:Tool

#13657 SWC adoption as bundler transpiler
  meteor
  packages/autoupdate/autoupdate_server.js
  packages/babel-compiler/babel-compiler.js
  packages/babel-compiler/package.js
  packages/boilerplate-generator/generator.js
  packages/ddp-client/common/livedata_connection.js
  packages/ecmascript/runtime-tests.js
  packages/ejson/ejson.js
  packages/mongo/collection/methods_index.js
  scripts/admin/check-legacy-syntax/check-syntax.js
  scripts/dev-bundle-tool-package.js
  tools/isobuild/import-scanner.ts
  tools/isobuild/js-analyze.js
  tools/static-assets/server/runtime.js
  tools/static-assets/skel-apollo/package.json
  tools/static-assets/skel-blaze/package.json
  tools/static-assets/skel-chakra-ui/package.json
  tools/static-assets/skel-minimal/package.json
  tools/static-assets/skel-react/package.json
  tools/static-assets/skel-solid/package.json
  tools/static-assets/skel-svelte/package.json
  tools/static-assets/skel-tailwind/package.json
  tools/static-assets/skel-typescript/package.json
  v3-docs/docs/.vitepress/config.mts
  v3-docs/docs/about/modern-build-stack.md
  v3-docs/docs/about/modern-build-stack/modern-bundler.md
  v3-docs/docs/about/modern-build-stack/modern-transpiler-swc.md
Labels: Project:Docs, Project:DDP, Project:Mongo Driver, Project:JS Environment, Project:Tool, Project:Isobuild, Project:EJSON, Project:Release Process

#13698 Skip compilation for excluded archs further
  tools/cli/commands.js
  tools/isobuild/compiler.js
Labels: Project:Tool, Project:Isobuild

#13702 SQLite 3 improvements for offline catalog
  tools/packaging/catalog/catalog-remote.js
Labels: Project:Tool

#13705 Remove recursive deferred in bundler code
  tools/cli/commands.js
  tools/fs/files.ts
  tools/isobuild/builder.js
  tools/isobuild/compiler-plugin.js
  tools/isobuild/isopack-cache.js
  tools/isobuild/meteor-npm.js
  tools/project-context.js
  tools/runners/run-mongo.js
Labels: Project:Tool, Project:Isobuild

#13699 Support @parcel/watcher as the watcher alternative
  meteor
  scripts/dev-bundle-tool-package.js
  tools/fs/safe-watcher.ts
  tools/tests/old/test-bundler-assets.js
  tools/tests/old/test-bundler-options.js
Labels: Project:Tool, Project:Release Process

#13706 Node 22.15.0
  .travis.yml
  meteor
  scripts/build-dev-bundle-common.sh
  v3-docs/v3-migration-docs/index.md
Labels: Project:Docs, Project:Release Process

#13711 Favor Reify transpile in SWC all time
  packages/babel-compiler/babel-compiler.js
Labels: Project:JS Environment
